{% extends "base.html.twig" %}

{% block body %}
    <section class="container-assistance flex item-center space-evenly">
        <h1 class='text-center'>Page en construction</h1>
    </section>
{% endblock %}