{% extends "base.html.twig" %}

{% block title %}
	Devasyst |À propos de Devasyst Experts en développement web & assistance IT.
{% endblock %}

{% block meta %}
	<meta name="description" content="Découvrez l'équipe de Devasyst : un développeur full-stack et une technicienne support spécialisés en développement web, assistance et maintenance IT.">
	<link rel="canonical" href="https://www.devasyst.fr/l-entreprise">
	<meta property="og:title" content="À propos de Devasyst | Experts en développement web & assistance IT">
	<meta property="og:description" content="Venez connaitre l'equipe de devasyst ? Les compétences d'un développeur full-stack ainsi que de la technicienne support.">
	<meta property="og:url" content="https://www.devasyst.fr/l-entreprise">
	<meta property="og:image" content="https://devasyst.fr/images/logo_new.png">
{% endblock %}

{% block body %}
	<section class='container1440 about mt5p large-12 mb5p'>
		<h1>Deux
			<strong>experts</strong>
			à vôtre service.</h1>
		<!-- Section dev -->
		<div class=' flex flex-wrap space-between padding-bottom10px'>
			<div class='article1 large-5 margin-auto medium-11 small-11 flex direction-column gap-20'>
				<h3><strong>Le développeur full-stack.</strong></h3>
				<p><i>Mathieu</i>, expert dans le domaine du développement web, site vitrine, application web.</p>
				<p>Je suis à vôtre service pour vous accompagner dans la création de votre site web.</p>
				<p class="text-center padding-bottom10px">
					<strong>&#x1F4CC; Conception et développement</strong>
				</p>
				<p class=" padding-bottom10px ">Traduire les besoins en fonctionnalités techniques en codant avec les dernières technologies.</p>
				{# <div class="line large-5"></div> #}
				<p class="text-center padding-bottom10px">
					<strong>&#x1F4CC; Maintenance et mise à jour</strong>
				</p>
				<p class=" padding-bottom10px ">Assurer le bon fonctionnement des sites et applications, corriger les bugs, et implémenter des améliorations ou de nouvelles fonctionnalités.</p>
				{# <div class="line large-12"></div> #}
				<p class="text-center padding-bottom10px">
					<strong>&#x1F4CC; Intégration de l'interface utilisateur
					</strong>
				</p>
				<p class=" padding-bottom10px ">Créer des interfaces utilisateur ergonomiques et réactives pour garantir une expérience optimale sur différents appareils (ordinateurs, tablettes, smartphones).</p>
				{# <div class="line large-5"></div> #}
				<p class="text-center padding-bottom10px">
					<strong>&#x1F4CC; Gestion des bases de données</strong>
				</p>
				<p class=" padding-bottom10px">Concevoir, gérer et optimiser les bases de données pour stocker et récupérer les informations nécessaires au fonctionnement des sites ou applications.</p>
			</div>
			<div class='card-image large-7 medium-11 small-11 margin-auto flex justify-center'>
				<img loading="lazy" src="/images/dev-web-min.webp" alt="illustration d'un developpeur de dos en train de coder.">
			</div>
		</div>
		<!-- Section helpdesk -->
		<div class=' flex flex-wrap space-between mt5p'>
			<div class='card-image large-7 medium-11 small-11 margin-auto flex justify-center '>
				<img loading="lazy" src="/images/helpdesk-min.webp" alt="illustration d'un assistante qui travaille en informatique.">
			</div>
			<div class='article2 large-5 medium-11 small-11 margin-auto flex flex-wrap direction-column gap-20'>
			<h3><strong>La technicienne support.</strong></h3>
				<p><i>Coralie</i>, En tant que technicien helpdesk, j’interviens avec réactivité et expertise pour assister les utilisateurs sur leur système d’exploitation, logiciels et périphériques. J’effectue également l’installation, la mise à jour, l’upgrade des systèmes d’exploitation, y compris les versions obsolètes, le remplacement de disques durs, ainsi que le nettoyage et l’optimisation des PC lents afin de garantir un environnement de travail performant et fiable.</p>
				<p class="text-center padding-bottom10px">
					<strong>&#x1F4CC; Assistance technique</strong>
				</p>
				<p class=" padding-bottom10px ">Identifier, diagnostiquer et résoudre les problèmes informatiques des utilisateurs, que ce soit pour le matériel, les logiciels ou les réseaux.</p>
				{# <div class="line large-5"></div> #}
				<p class="text-center padding-bottom10px">
					<strong>&#x1F4CC; Support utilisateur</strong>
				</p>
				<p class=" padding-bottom10px ">Fournir des réponses claires et pédagogiques pour guider les utilisateurs dans l’utilisation des outils et technologies.</p>
				{# <div class="line large-6"></div> #}
				<p class="text-center padding-bottom10px">
					<strong>&#x1F4CC; Documentation et formation</strong>
				</p>
				<p class=" padding-bottom10px ">Rédiger des guides, FAQ ou procédures, et parfois former les utilisateurs sur les outils et systèmes.</p>
			</div>
		</div>
	</section>
{% endblock %}
