@mixin btn($color) {
  background-color: $color;
  color: #fff;
  padding: 5px 20px;
  height: fit-content;
  border-radius: 15px;
  border: 1px solid $color;
  cursor: pointer;

  &:hover {
    color: $text_color;
    background-color: #fff;
    border: 1px solid $text_color;
  }
}

@mixin card($color) {
  background-color: $color;
  border-radius: 20px;
  padding: 20px;
}

@mixin shadow($color) {
  box-shadow:4px 10px $color;
  min-width: 350px;
}

@mixin rect($color) {
  position: absolute;
  z-index: -10;
  width: 80vw;
  height: 700px;
  top: -50%;
  left: 50%;
  transform: translateX(-50%) rotate(-12.39deg);
  background: $color;

  @media screen and (max-width: $desktop) {
    width: 60vw;
    height: 500px;
    transform: translateX(-50%) rotate(-12.39deg);
  }

  @media screen and (max-width: $mobile) {
    width: 0;
    height: 50vh;
    transform: translateX(-50%) rotate(0);
  }
}
@mixin svgLogo(){
    svg {
    width: fit-content;
    height: auto;
    max-width: 1000px;
    display: block;

    @media screen and (max-width: $tablet) {
      min-width: 300px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10%;
    }
  }
  @media screen and (max-width: $tablet) {
    flex-wrap: wrap;
    margin-top: 25%;

  }

}