{% extends "base.html.twig" %}

{% block title %}devassist | reccupération de données.
{% endblock %}

{% block meta %}
		<meta name="description" content="Vous avez perdu des fichiers ou des photos ? Nos experts en récupération de données peuvent vous aider à restaurer vos documents importants et vos photos importantes !">
		<link rel="canonical" href="https://www.devasyst.fr/prestations/assistance/reccuperation-de-donnees">
		<meta property="og:title" content="devassist | reccupération de données." />
		<meta property="og:description" content="Besoin d’un site web performant ou d’un dépannage informatique ? dev@syst vous accompagne avec des solutions sur mesure. Contactez-nous !" />
		<meta property="og:url" content="https://www.devasyst.fr/prestations/assistance/reccuperation-de-donnees" />
		<meta property="og:image" content="https://devasyst.fr/images/logo-transparent-png.png" />
{% endblock %}

{% block body %}
	<div class='container-recup flex space-between card container1440 large-12 m5p m5b flex-wrap'>
<div class="conseil-recuperation">
    <p class='large-10 margin-auto'>📌 <strong>Conseil :</strong> Ne continuez surtout pas à utiliser votre support après une perte de données ! Chaque nouvelle écriture pourrait rendre la récupération impossible.</p>
</div>
		<div class='large-4 small-12 medium-12 flex direction-column space-evenly gap-20'>
			<h1>vous avez perdu vos données ?</h1>
			<h2>Ne paniquez pas, nos experts récupèrent vos données perdues avec un taux de réussite de 95%</h2>
			<div>
				<h2>Vous avez perdu vos données ?</h2>
				<ul>
					<li>
						<p>&#x1F4CC;<strong>Document importants</strong>
						</p>
					</li>
					<li>
						<p>&#x1F4CC;<strong>Photos de famille précieuses</strong>
						</p>
					</li>
					<li>
						<p>&#x1F4CC;<strong>Fichiers de travail essentiels</strong>
						</p>
					</li>
				</ul>
			</div>
			<div class=' margin-auto'>
				<a href="/contact" class='button'>Demander un devis</a>
			</div>
				<p>Réponse sous 24h – Sans engagement.</p>
		</div>
		<div class='image-container large-6 medium-10 small-10 margin-auto flex justify-center'>
			<svg width="1397" height="955" viewbox="0 0 1397 955" fill="none" xmlns="http://www.w3.org/2000/svg">
				<defs>
					<!-- Définition du filtre glow -->
					<filter id="glow">
						<feGaussianBlur stddeviation="3.5" result="coloredBlur"/>
						<feMerge>
							<feMergeNode in="coloredBlur"/>
							<feMergeNode in="SourceGraphic"/>
						</feMerge>
					</filter>
				</defs>
				<ellipse cx="740" cy="845" rx="656" ry="43" fill="#DEF3FC"/>
				<ellipse cx="180" cy="930.5" rx="180" ry="24.5" fill="#DEF3FC"/>
				<path opacity="0.36" d="M1252.83 696C1253.96 696 1255.07 696.374 1255.98 697.069C1256.9 697.764 1257.58 698.744 1257.92 699.867L1263.81 718.91C1266.28 720.169 1268.65 721.584 1270.91 723.177L1289.7 718.965C1290.8 718.719 1291.96 718.845 1292.99 719.326C1294.03 719.807 1294.89 720.617 1295.45 721.64L1310.28 748.371C1310.85 749.394 1311.09 750.577 1310.97 751.751C1310.85 752.924 1310.37 754.027 1309.61 754.901L1296.72 769.721C1296.9 772.563 1296.9 775.415 1296.72 778.257L1309.61 793.099C1310.37 793.973 1310.85 795.076 1310.97 796.249C1311.09 797.423 1310.85 798.606 1310.28 799.629L1295.45 826.371C1294.89 827.392 1294.03 828.2 1292.99 828.679C1291.96 829.157 1290.8 829.282 1289.7 829.035L1270.91 824.823C1268.66 826.405 1266.28 827.831 1263.82 829.09L1257.92 848.133C1257.58 849.256 1256.9 850.236 1255.98 850.931C1255.07 851.626 1253.96 852 1252.83 852H1223.17C1222.04 852 1220.93 851.626 1220.02 850.931C1219.1 850.236 1218.42 849.256 1218.08 848.133L1212.2 829.101C1209.73 827.846 1207.36 826.413 1205.08 824.811L1186.3 829.035C1185.2 829.281 1184.04 829.155 1183.01 828.674C1181.97 828.193 1181.11 827.383 1180.55 826.36L1165.72 799.629C1165.15 798.606 1164.91 797.423 1165.03 796.249C1165.15 795.076 1165.63 793.973 1166.39 793.099L1179.28 778.257C1179.1 775.422 1179.1 772.578 1179.28 769.743L1166.39 754.901C1165.63 754.027 1165.15 752.924 1165.03 751.751C1164.91 750.577 1165.15 749.394 1165.72 748.371L1180.55 721.629C1181.11 720.608 1181.97 719.8 1183.01 719.321C1184.04 718.843 1185.2 718.718 1186.3 718.965L1205.08 723.189C1207.35 721.595 1209.73 720.158 1212.2 718.899L1218.09 699.867C1218.43 698.747 1219.11 697.77 1220.02 697.076C1220.93 696.381 1222.03 696.005 1223.16 696H1252.82H1252.83ZM1248.91 707.143H1227.09L1221.01 726.832L1216.91 728.916C1214.89 729.943 1212.95 731.112 1211.09 732.415L1207.3 735.089L1187.87 730.721L1176.95 750.422L1190.27 765.777L1189.95 770.501C1189.8 772.831 1189.8 775.169 1189.95 777.499L1190.27 782.223L1176.93 797.578L1187.86 817.279L1207.29 812.922L1211.08 815.585C1212.94 816.888 1214.88 818.057 1216.9 819.084L1221 821.168L1227.09 840.857H1248.94L1255.04 821.157L1259.12 819.084C1261.14 818.06 1263.08 816.891 1264.93 815.585L1268.71 812.922L1288.15 817.279L1299.07 797.578L1285.74 782.223L1286.06 777.499C1286.21 775.165 1286.21 772.824 1286.06 770.49L1285.74 765.765L1299.08 750.422L1288.15 730.721L1268.71 735.067L1264.93 732.415C1263.08 731.109 1261.14 729.94 1259.12 728.916L1255.04 726.843L1248.93 707.143H1248.91ZM1238 740.571C1246.51 740.571 1254.68 744.093 1260.7 750.362C1266.72 756.631 1270.1 765.134 1270.1 774C1270.1 782.866 1266.72 791.368 1260.7 797.638C1254.68 803.907 1246.51 807.429 1238 807.429C1229.49 807.429 1221.32 803.907 1215.3 797.638C1209.28 791.368 1205.9 782.866 1205.9 774C1205.9 765.134 1209.28 756.631 1215.3 750.362C1221.32 744.093 1229.49 740.571 1238 740.571ZM1238 751.714C1232.32 751.714 1226.88 754.062 1222.87 758.242C1218.85 762.421 1216.6 768.089 1216.6 774C1216.6 779.911 1218.85 785.579 1222.87 789.758C1226.88 793.938 1232.32 796.286 1238 796.286C1243.68 796.286 1249.12 793.938 1253.13 789.758C1257.15 785.579 1259.4 779.911 1259.4 774C1259.4 768.089 1257.15 762.421 1253.13 758.242C1249.12 754.062 1243.68 751.714 1238 751.714Z" fill="#294FE9"/>
				<rect class='rect-grey1' y="80" width="644" height="32" rx="16" fill="#D9D9D9" fill-opacity="0.50"/>
				<rect class='rect-grey2' y="150" width="644" height="32" rx="16" fill="#D9D9D9" fill-opacity="0.50"/>
				<rect class='rect-grey3' y="220" width="644" height="32" rx="16" fill="#D9D9D9" fill-opacity="0.50"/>
				<rect class='rect-grey4' y="290" width="644" height="32" rx="16" fill="#D9D9D9" fill-opacity="0.50"/>
				<rect class='rect-grey5' y="360" width="644" height="32" rx="16" fill="#D9D9D9" fill-opacity="0.50"/>
				<rect class='rect-grey6' y="430" width="644" height="32" rx="16" fill="#D9D9D9" fill-opacity="0.50"/>
				<circle cx="1187" cy="328" r="210" fill="url(#paint0_linear_0_1)"/>
				<rect x="263" y="254" width="955" height="531" rx="15" fill="url(#paint1_linear_0_1)"/>
				<rect x="268" y="259" width="945" height="521" rx="10" stroke="black" stroke-opacity="0.27" stroke-width="10"/>
				<rect x="687" y="788" width="106" height="18" rx="9" fill="#FF0000"/>
				<rect x="687" y="809" width="106" height="18" rx="9" fill="#FF0000"/>
				<path d="M511.815 764L954.741 761.954" stroke="#D9D9D9" stroke-width="2"/>
				<path class='animatedPath' d="M511.453 761.477L535.894 745.337L560.717 749.837L590.886 728.336L619.91 745.335L634.422 733.835L646.642 745.335L666.5 724.834L676.429 731.834L679.484 722.834L714.618 722.833L728.367 688.832L744.405 749.832L752.425 691.832L771.519 712.831L797.87 675.83L807.799 701.83L830.712 705.83L838.349 724.829L851.334 728.329L887.613 705.828L905.195 672.827L920.837 701.827L939.55 697.327L955 674.5" stroke="#FF0000" stroke-width="2"/>
				<path d="M955.074 661L955 762" stroke="#D9D9D9" stroke-width="2"/>
				<rect x="540" y="842" width="401" height="25" rx="12.5" fill="#294FE9"/>
				<path d="M668.5 830L686.254 842.75H650.746L668.5 830Z" fill="#294FE9"/>
				<path d="M807.5 830L825.254 842.75H789.746L807.5 830Z" fill="#294FE9"/>
				<rect x="669" y="830" width="138" height="13" fill="#294FE9"/>
				<rect x="1013" y="644" width="180" height="118" fill="#DEF3FC"/>
				<circle cx="1147" cy="680" r="15" fill="#63C2F2"/>
				<path d="M1075.5 692L1138.29 740H1013L1075.5 692Z" fill="#63C2F2"/>
				<path d="M1152.5 710L1192.77 744.5H1112.23L1152.5 710Z" fill="#63C2F2"/>
				<rect x="1013" y="740" width="180" height="22" fill="#63C2F2"/>
				<rect x="1013" y="511" width="180" height="118" fill="#DEF3FC"/>
				<rect x="1013" y="380" width="180" height="118" fill="#DEF3FC"/>
				<circle cx="1147" cy="548" r="15" fill="#63C2F2"/>
				<path d="M1075.5 560L1138.29 608H1013L1075.5 560Z" fill="#63C2F2"/>
				<path d="M1152.5 578L1192.77 612.5H1112.23L1152.5 578Z" fill="#63C2F2"/>
				<rect x="1013" y="608" width="180" height="22" fill="#63C2F2"/>
				<path class='whell-gear2' opacity="0.08" d="M980.001 0C982.941 9.2688e-05 985.806 0.933706 988.182 2.66639C990.558 4.39907 992.323 6.8414 993.223 9.64164L1008.5 57.1274C1014.92 60.2672 1021.06 63.796 1026.92 67.7694L1075.7 57.2664C1078.57 56.6521 1081.57 56.9669 1084.26 58.1653C1086.94 59.3637 1089.18 61.3839 1090.64 63.9349L1129.14 130.593C1130.61 133.142 1131.23 136.093 1130.92 139.019C1130.61 141.946 1129.37 144.697 1127.39 146.875L1093.92 183.83C1094.41 190.917 1094.41 198.028 1093.92 205.114L1127.39 242.125C1129.37 244.303 1130.61 247.054 1130.92 249.981C1131.23 252.907 1130.61 255.858 1129.14 258.407L1090.64 325.093C1089.17 327.639 1086.94 329.653 1084.25 330.846C1081.56 332.04 1078.57 332.35 1075.7 331.734L1026.92 321.231C1021.08 325.176 1014.92 328.733 1008.53 331.873L993.223 379.358C992.323 382.159 990.558 384.601 988.182 386.334C985.806 388.066 982.941 389 980.001 389H902.999C900.059 389 897.194 388.066 894.818 386.334C892.442 384.601 890.677 382.159 889.777 379.358L874.527 331.9C868.127 328.77 861.954 325.196 856.054 321.203L807.303 331.734C804.427 332.348 801.431 332.033 798.745 330.835C796.059 329.636 793.823 327.616 792.359 325.065L753.858 258.407C752.388 255.858 751.765 252.907 752.08 249.981C752.394 247.054 753.63 244.303 755.608 242.125L789.081 205.114C788.596 198.046 788.596 190.954 789.081 183.886L755.608 146.875C753.63 144.697 752.394 141.946 752.08 139.019C751.765 136.093 752.388 133.142 753.858 130.593L792.359 63.9071C793.827 61.3612 796.065 59.3468 798.75 58.1535C801.436 56.9602 804.43 56.6496 807.303 57.2664L856.054 67.7971C861.943 63.8238 868.11 60.2394 874.527 57.0996L889.805 9.64164C890.702 6.85042 892.458 4.41455 894.823 2.68271C897.188 0.950866 900.041 0.0118275 902.972 0H979.973H980.001ZM969.834 27.7857H913.166L897.388 76.8831L886.749 82.079C881.519 84.6391 876.47 87.5541 871.638 90.8037L861.804 97.4723L811.359 86.5803L783.025 135.705L817.609 173.994L816.776 185.775C816.377 191.585 816.377 197.415 816.776 203.225L817.609 215.006L782.97 253.295L811.331 302.42L861.776 291.556L871.61 298.196C876.442 301.446 881.491 304.361 886.721 306.921L897.36 312.117L913.166 361.214H969.889L985.723 312.089L996.334 306.921C1001.56 304.367 1006.6 301.452 1011.42 298.196L1021.22 291.556L1071.7 302.42L1100.03 253.295L1065.42 215.006L1066.25 203.225C1066.65 197.406 1066.65 191.566 1066.25 185.747L1065.42 173.966L1100.06 135.705L1071.7 86.5803L1021.22 97.4167L1011.42 90.8037C1006.6 87.5476 1001.56 84.6323 996.334 82.079L985.723 76.9108L969.862 27.7857H969.834ZM941.5 111.143C963.602 111.143 984.798 119.925 1000.43 135.558C1016.05 151.19 1024.83 172.392 1024.83 194.5C1024.83 216.608 1016.05 237.81 1000.43 253.442C984.798 269.075 963.602 277.857 941.5 277.857C919.398 277.857 898.202 269.075 882.573 253.442C866.945 237.81 858.165 216.608 858.165 194.5C858.165 172.392 866.945 151.19 882.573 135.558C898.202 119.925 919.398 111.143 941.5 111.143ZM941.5 138.929C926.765 138.929 912.634 144.783 902.216 155.205C891.797 165.627 885.943 179.762 885.943 194.5C885.943 209.238 891.797 223.373 902.216 233.795C912.634 244.217 926.765 250.071 941.5 250.071C956.234 250.071 970.365 244.217 980.784 233.795C991.203 223.373 997.056 209.238 997.056 194.5C997.056 179.762 991.203 165.627 980.784 155.205C970.365 144.783 956.234 138.929 941.5 138.929Z" fill="#294FE9"/>
				<circle cx="427" cy="720" r="40" fill="#2719D1"/>
				<path d="M457 720C457 736.569 443.569 750 427 750C410.431 750 397 736.569 397 720C397 703.431 410.431 690 427 690C443.569 690 457 703.431 457 720Z" fill="#294FE9"/>
				<path id='demiCircleRed2' d="M449 747C449 747 458 742 461.5 726.5C465 711 454.63 698.45 454 697.5" stroke="#FF0000" stroke-width="10" stroke-linecap="round"/>
				<circle cx="334" cy="720" r="40" fill="#2719D1"/>
				<path d="M364 720C364 736.569 350.569 750 334 750C317.431 750 304 736.569 304 720C304 703.431 317.431 690 334 690C350.569 690 364 703.431 364 720Z" fill="#294FE9"/>
				<path id='demiCircleGreen2' d="M301.454 732C301.454 732 302 740.5 316 750C330 759.5 346.086 752.806 347.184 752.5" stroke="#04D1B6" stroke-width="10" stroke-linecap="round"/>
				<rect x="373" y="342" width="550" height="295" rx="15" fill="#DEF3FC"/>
				<path d="M391.93 420.269C391.014 417.074 393.413 413.891 396.737 413.891L404.341 413.891C406.568 413.891 408.527 415.364 409.145 417.504L420.965 458.443C421.731 461.096 420.202 463.867 417.549 464.633L410.449 466.683C407.792 467.45 405.018 465.916 404.256 463.258L391.93 420.269Z" fill="#2F18A2"/>
				<rect x="404.102" y="410.891" width="90" height="56" rx="5" fill="#2D18CA"/>
				<path d="M413 407.093C413 405.989 413.895 405.093 415 405.093H439C440.105 405.093 441 405.989 441 407.093V411.093H413V407.093Z" fill="#2D18CA"/>
				<path d="M454.048 425.093C454.28 425.093 454.507 425.165 454.695 425.299C454.883 425.433 455.023 425.621 455.094 425.837L456.304 429.499C456.811 429.741 457.297 430.013 457.761 430.32L461.622 429.51C461.85 429.462 462.087 429.487 462.3 429.579C462.512 429.671 462.689 429.827 462.805 430.024L465.853 435.165C465.969 435.361 466.019 435.589 465.994 435.815C465.969 436.04 465.871 436.252 465.714 436.42L463.065 439.27C463.103 439.817 463.103 440.365 463.065 440.912L465.714 443.766C465.871 443.934 465.969 444.146 465.994 444.372C466.019 444.598 465.969 444.825 465.853 445.022L462.805 450.165C462.689 450.361 462.512 450.516 462.299 450.608C462.087 450.7 461.85 450.724 461.622 450.677L457.761 449.867C457.3 450.171 456.811 450.445 456.306 450.688L455.094 454.35C455.023 454.566 454.883 454.754 454.695 454.888C454.507 455.021 454.28 455.093 454.048 455.093H447.952C447.72 455.093 447.493 455.021 447.305 454.888C447.117 454.754 446.977 454.566 446.906 454.35L445.699 450.69C445.192 450.448 444.704 450.173 444.236 449.865L440.378 450.677C440.15 450.724 439.913 450.7 439.7 450.608C439.488 450.515 439.311 450.359 439.195 450.163L436.147 445.022C436.031 444.825 435.981 444.598 436.006 444.372C436.031 444.146 436.129 443.934 436.286 443.766L438.935 440.912C438.897 440.367 438.897 439.82 438.935 439.275L436.286 436.42C436.129 436.252 436.031 436.04 436.006 435.815C435.981 435.589 436.031 435.361 436.147 435.165L439.195 430.022C439.311 429.825 439.488 429.67 439.701 429.578C439.913 429.486 440.15 429.462 440.378 429.51L444.236 430.322C444.703 430.015 445.191 429.739 445.699 429.497L446.908 425.837C446.979 425.622 447.118 425.434 447.305 425.3C447.492 425.167 447.718 425.094 447.95 425.093H454.045H454.048ZM453.243 427.236H448.757L447.508 431.023L446.666 431.423C446.252 431.621 445.853 431.846 445.47 432.096L444.692 432.61L440.699 431.77L438.456 435.559L441.193 438.512L441.127 439.42C441.096 439.868 441.096 440.318 441.127 440.766L441.193 441.675L438.451 444.628L440.696 448.416L444.689 447.578L445.468 448.09C445.85 448.341 446.25 448.566 446.664 448.763L447.506 449.164L448.757 452.95H453.247L454.5 449.162L455.34 448.763C455.754 448.566 456.153 448.341 456.534 448.09L457.311 447.578L461.306 448.416L463.549 444.628L460.809 441.675L460.875 440.766C460.907 440.317 460.907 439.867 460.875 439.418L460.809 438.51L463.551 435.559L461.306 431.77L457.311 432.606L456.534 432.096C456.153 431.845 455.754 431.62 455.34 431.423L454.5 431.025L453.245 427.236H453.243ZM451 433.665C452.749 433.665 454.427 434.342 455.664 435.548C456.901 436.753 457.596 438.388 457.596 440.093C457.596 441.798 456.901 443.433 455.664 444.639C454.427 445.845 452.749 446.522 451 446.522C449.251 446.522 447.573 445.845 446.336 444.639C445.099 443.433 444.404 441.798 444.404 440.093C444.404 438.388 445.099 436.753 446.336 435.548C447.573 434.342 449.251 433.665 451 433.665ZM451 435.808C449.834 435.808 448.715 436.259 447.89 437.063C447.066 437.867 446.602 438.957 446.602 440.093C446.602 441.23 447.066 442.32 447.89 443.124C448.715 443.927 449.834 444.379 451 444.379C452.166 444.379 453.285 443.927 454.11 443.124C454.934 442.32 455.398 441.23 455.398 440.093C455.398 438.957 454.934 437.867 454.11 437.063C453.285 436.259 452.166 435.808 451 435.808Z" fill="#DEF3FC"/>
				<path d="M516.93 419.175C516.014 415.98 518.413 412.797 521.737 412.797L529.341 412.797C531.568 412.797 533.527 414.27 534.145 416.41L545.965 457.349C546.731 460.002 545.202 462.774 542.549 463.54L535.449 465.59C532.792 466.357 530.018 464.822 529.256 462.164L516.93 419.175Z" fill="#2F18A2"/>
				<rect x="529.102" y="409.797" width="90" height="56" rx="5" fill="#2D18CA"/>
				<path d="M538 406C538 404.895 538.895 404 540 404H564C565.105 404 566 404.895 566 406V410H538V406Z" fill="#2D18CA"/>
				<path d="M391.93 530.175C391.014 526.98 393.413 523.797 396.737 523.797L404.341 523.797C406.568 523.797 408.527 525.27 409.145 527.41L420.965 568.349C421.731 571.002 420.202 573.774 417.549 574.54L410.449 576.59C407.792 577.357 405.018 575.822 404.256 573.164L391.93 530.175Z" fill="#2F18A2"/>
				<rect x="404.102" y="520.797" width="90" height="56" rx="5" fill="#2D18CA"/>
				<path d="M413 517C413 515.895 413.895 515 415 515H439C440.105 515 441 515.895 441 517V521H413V517Z" fill="#2D18CA"/>
				<path d="M640.93 419.175C640.014 415.98 642.413 412.797 645.737 412.797L653.341 412.797C655.568 412.797 657.527 414.27 658.145 416.41L669.965 457.349C670.731 460.002 669.202 462.774 666.549 463.54L659.449 465.59C656.792 466.357 654.018 464.822 653.256 462.164L640.93 419.175Z" fill="#2F18A2"/>
				<rect x="653.102" y="409.797" width="90" height="56" rx="5" fill="#2D18CA"/>
				<path d="M662 406C662 404.895 662.895 404 664 404H688C689.105 404 690 404.895 690 406V410H662V406Z" fill="#2D18CA"/>
				<path d="M763.93 419.175C763.014 415.98 765.413 412.797 768.737 412.797L776.341 412.797C778.568 412.797 780.527 414.27 781.145 416.41L792.965 457.349C793.731 460.002 792.202 462.774 789.549 463.54L782.449 465.59C779.792 466.357 777.018 464.822 776.256 462.164L763.93 419.175Z" fill="#2F18A2"/>
				<rect x="776.102" y="409.797" width="90" height="56" rx="5" fill="#2D18CA"/>
				<path d="M785 406C785 404.895 785.895 404 787 404H811C812.105 404 813 404.895 813 406V410H785V406Z" fill="#2D18CA"/>
				<path d="M313 310.2V295H308C307.093 295 306.253 295.147 305.48 295.44C304.733 295.707 304.08 296.147 303.52 296.76C302.987 297.373 302.56 298.16 302.24 299.12C301.947 300.08 301.8 301.24 301.8 302.6C301.8 303.96 301.947 305.12 302.24 306.08C302.56 307.04 302.987 307.827 303.52 308.44C304.08 309.053 304.733 309.507 305.48 309.8C306.253 310.067 307.093 310.2 308 310.2H313ZM308 313C306.16 313 304.48 312.76 302.96 312.28C301.467 311.8 300.187 311.107 299.12 310.2C298.053 309.293 297.227 308.2 296.64 306.92C296.08 305.64 295.8 304.2 295.8 302.6C295.8 301 296.08 299.56 296.64 298.28C297.227 297 298.053 295.907 299.12 295C300.187 294.093 301.467 293.4 302.96 292.92C304.48 292.44 306.16 292.2 308 292.2H313V285H318.6V313H308ZM336.183 311C337.489 311 338.703 310.773 339.823 310.32C340.969 309.867 342.089 309.227 343.183 308.4L344.783 310.8C344.276 311.253 343.676 311.667 342.983 312.04C342.316 312.413 341.583 312.733 340.783 313C340.009 313.24 339.196 313.427 338.343 313.56C337.489 313.72 336.636 313.8 335.783 313.8C333.889 313.8 332.156 313.547 330.583 313.04C329.036 312.56 327.716 311.853 326.623 310.92C325.529 309.96 324.676 308.787 324.063 307.4C323.476 306.013 323.183 304.413 323.183 302.6C323.183 300.813 323.463 299.227 324.023 297.84C324.609 296.427 325.409 295.253 326.423 294.32C327.463 293.36 328.689 292.64 330.103 292.16C331.516 291.653 333.076 291.4 334.783 291.4C336.383 291.4 337.889 291.64 339.303 292.12C340.716 292.6 341.943 293.307 342.983 294.24C344.023 295.147 344.849 296.253 345.463 297.56C346.076 298.867 346.383 300.347 346.383 302V304.8H329.303C329.623 307.013 330.383 308.6 331.583 309.56C332.809 310.52 334.343 311 336.183 311ZM334.783 294C334.009 294 333.289 294.147 332.623 294.44C331.956 294.733 331.369 295.2 330.863 295.84C330.383 296.48 329.983 297.307 329.663 298.32C329.369 299.333 329.209 300.56 329.183 302H340.383C340.383 300.613 340.223 299.413 339.903 298.4C339.583 297.387 339.156 296.56 338.623 295.92C338.116 295.253 337.516 294.773 336.823 294.48C336.156 294.16 335.476 294 334.783 294ZM364.598 313H355.798L347.798 292.2H353.398L359.998 309.6H360.398L366.998 292.2H372.598L364.598 313ZM393.984 310.4C390.784 310.4 388.251 309.653 386.384 308.16C384.518 306.667 383.584 304.413 383.584 301.4C383.584 298.413 384.518 296.173 386.384 294.68C388.251 293.16 390.784 292.4 393.984 292.4H402.384V307.6C403.184 307.6 403.918 307.467 404.584 307.2C405.251 306.933 405.811 306.507 406.264 305.92C406.744 305.333 407.118 304.573 407.384 303.64C407.651 302.707 407.784 301.56 407.784 300.2C407.784 298.253 407.451 296.493 406.784 294.92C406.144 293.347 405.211 292 403.984 290.88C402.758 289.76 401.264 288.907 399.504 288.32C397.744 287.707 395.771 287.4 393.584 287.4C391.371 287.4 389.384 287.707 387.624 288.32C385.891 288.933 384.411 289.827 383.184 291C381.958 292.147 381.011 293.56 380.344 295.24C379.704 296.92 379.384 298.84 379.384 301C379.384 303.16 379.704 305.08 380.344 306.76C381.011 308.44 381.958 309.867 383.184 311.04C384.411 312.187 385.891 313.067 387.624 313.68C389.384 314.293 391.371 314.6 393.584 314.6C394.518 314.6 395.424 314.533 396.304 314.4C397.184 314.293 397.958 314.16 398.624 314C399.398 313.84 400.118 313.64 400.784 313.4L401.584 316.6C400.918 316.84 400.158 317.04 399.304 317.2C398.584 317.36 397.731 317.493 396.744 317.6C395.784 317.733 394.731 317.8 393.584 317.8C390.784 317.8 388.238 317.387 385.944 316.56C383.651 315.733 381.691 314.573 380.064 313.08C378.464 311.587 377.211 309.813 376.304 307.76C375.424 305.707 374.984 303.453 374.984 301C374.984 298.547 375.424 296.293 376.304 294.24C377.211 292.187 378.464 290.413 380.064 288.92C381.691 287.427 383.651 286.267 385.944 285.44C388.238 284.613 390.784 284.2 393.584 284.2C396.384 284.2 398.931 284.613 401.224 285.44C403.518 286.267 405.464 287.4 407.064 288.84C408.691 290.28 409.944 291.973 410.824 293.92C411.731 295.867 412.184 297.96 412.184 300.2C412.184 301.907 411.931 303.4 411.424 304.68C410.944 305.933 410.264 306.987 409.384 307.84C408.504 308.693 407.464 309.333 406.264 309.76C405.064 310.187 403.771 310.4 402.384 310.4H393.984ZM396.784 307.6V295.2H393.984C393.424 295.2 392.878 295.32 392.344 295.56C391.838 295.8 391.371 296.173 390.944 296.68C390.544 297.16 390.211 297.8 389.944 298.6C389.704 299.373 389.584 300.307 389.584 301.4C389.584 302.493 389.704 303.44 389.944 304.24C390.211 305.013 390.544 305.653 390.944 306.16C391.371 306.667 391.838 307.04 392.344 307.28C392.878 307.493 393.424 307.6 393.984 307.6H396.784ZM421.795 296.6C421.795 297.213 422.062 297.773 422.595 298.28C423.155 298.787 424.089 299.227 425.395 299.6L431.595 301.4C433.515 301.96 434.995 302.72 436.035 303.68C437.075 304.64 437.595 305.88 437.595 307.4C437.595 308.36 437.395 309.24 436.995 310.04C436.595 310.813 435.942 311.48 435.035 312.04C434.129 312.6 432.955 313.027 431.515 313.32C430.075 313.64 428.302 313.8 426.195 313.8C425.102 313.8 424.022 313.72 422.955 313.56C421.915 313.4 420.915 313.187 419.955 312.92C419.022 312.627 418.169 312.307 417.395 311.96C416.622 311.587 415.955 311.2 415.395 310.8L416.995 308.4C418.115 309.093 419.422 309.707 420.915 310.24C422.435 310.747 424.195 311 426.195 311C428.195 311 429.595 310.733 430.395 310.2C431.195 309.667 431.595 309 431.595 308.2C431.595 307.587 431.315 307.04 430.755 306.56C430.195 306.053 429.209 305.6 427.795 305.2L421.595 303.4C419.889 302.893 418.489 302.173 417.395 301.24C416.329 300.28 415.795 299 415.795 297.4C415.795 296.547 415.982 295.76 416.355 295.04C416.755 294.293 417.369 293.653 418.195 293.12C419.022 292.587 420.075 292.173 421.355 291.88C422.635 291.56 424.182 291.4 425.995 291.4C428.209 291.4 430.209 291.707 431.995 292.32C433.809 292.907 435.275 293.6 436.395 294.4L434.795 296.8C433.702 296.107 432.462 295.507 431.075 295C429.689 294.467 427.995 294.2 425.995 294.2C424.582 294.2 423.529 294.427 422.835 294.88C422.142 295.333 421.795 295.907 421.795 296.6ZM458.005 312.2H452.805C448.991 312.2 446.165 311.52 444.325 310.16C442.511 308.773 441.605 306.72 441.605 304V292.2H447.205V304C447.205 305.92 447.685 307.307 448.645 308.16C449.605 308.987 450.991 309.4 452.805 309.4H458.005V292.2H463.605V312.6C463.605 313.853 463.365 314.987 462.885 316C462.405 317.04 461.685 317.933 460.725 318.68C459.791 319.427 458.605 320 457.165 320.4C455.751 320.8 454.098 321 452.205 321C451.565 321 450.871 320.947 450.125 320.84C449.405 320.76 448.671 320.613 447.925 320.4C447.178 320.213 446.445 319.96 445.725 319.64C445.031 319.347 444.391 319 443.805 318.6L445.405 316.2C446.311 316.813 447.325 317.293 448.445 317.64C449.565 318.013 450.685 318.2 451.805 318.2C453.805 318.2 455.338 317.747 456.405 316.84C457.471 315.933 458.005 314.52 458.005 312.6V312.2ZM474.022 296.6C474.022 297.213 474.289 297.773 474.822 298.28C475.382 298.787 476.315 299.227 477.622 299.6L483.822 301.4C485.742 301.96 487.222 302.72 488.262 303.68C489.302 304.64 489.822 305.88 489.822 307.4C489.822 308.36 489.622 309.24 489.222 310.04C488.822 310.813 488.169 311.48 487.262 312.04C486.355 312.6 485.182 313.027 483.742 313.32C482.302 313.64 480.529 313.8 478.422 313.8C477.329 313.8 476.249 313.72 475.182 313.56C474.142 313.4 473.142 313.187 472.182 312.92C471.249 312.627 470.395 312.307 469.622 311.96C468.849 311.587 468.182 311.2 467.622 310.8L469.222 308.4C470.342 309.093 471.649 309.707 473.142 310.24C474.662 310.747 476.422 311 478.422 311C480.422 311 481.822 310.733 482.622 310.2C483.422 309.667 483.822 309 483.822 308.2C483.822 307.587 483.542 307.04 482.982 306.56C482.422 306.053 481.435 305.6 480.022 305.2L473.822 303.4C472.115 302.893 470.715 302.173 469.622 301.24C468.555 300.28 468.022 299 468.022 297.4C468.022 296.547 468.209 295.76 468.582 295.04C468.982 294.293 469.595 293.653 470.422 293.12C471.249 292.587 472.302 292.173 473.582 291.88C474.862 291.56 476.409 291.4 478.222 291.4C480.435 291.4 482.435 291.707 484.222 292.32C486.035 292.907 487.502 293.6 488.622 294.4L487.022 296.8C485.929 296.107 484.689 295.507 483.302 295C481.915 294.467 480.222 294.2 478.222 294.2C476.809 294.2 475.755 294.427 475.062 294.88C474.369 295.333 474.022 295.907 474.022 296.6ZM494.85 295H491.05V292.2H494.85V285.8H500.45V292.2H506.65V295H500.45V305.4C500.45 306.413 500.557 307.28 500.77 308C501.01 308.693 501.317 309.267 501.69 309.72C502.09 310.147 502.543 310.467 503.05 310.68C503.557 310.893 504.09 311 504.65 311C505.45 311 506.223 310.88 506.97 310.64C507.717 310.373 508.343 310.093 508.85 309.8L510.05 312.4C509.25 312.8 508.33 313.133 507.29 313.4C506.277 313.667 505.263 313.8 504.25 313.8C501.237 313.8 498.917 313.053 497.29 311.56C495.663 310.067 494.85 308.013 494.85 305.4V295ZM528.845 316.6H510.445V313H528.845V316.6Z" fill="url(#paint2_linear_0_1)"/>
				<rect x="1027" y="399" width="152" height="8" fill="#D9D9D9"/>
				<rect x="1027" y="417" width="152" height="8" fill="#D9D9D9"/>
				<rect x="1027" y="435" width="152" height="8" fill="#D9D9D9"/>
				<rect x="1027" y="453" width="152" height="8" fill="#D9D9D9"/>
				<rect x="538" y="523" width="79" height="52" fill="white"/>
				<rect x="544" y="532" width="67" height="3" fill="#D9D9D9"/>
				<rect x="544" y="539" width="67" height="4" fill="#D9D9D9"/>
				<rect x="544" y="547" width="67" height="4" fill="#D9D9D9"/>
				<rect x="544" y="555" width="67" height="4" fill="#D9D9D9"/>
				<path d="M65 824C65 818.477 69.4754 814 74.9982 814C83.1473 814 92.2455 814 85.194 814C75.1602 814 92.2438 906.926 96.8849 931.237C97.4587 934.242 95.1495 937 92.0896 937V937H75C69.4772 937 65 932.523 65 927V824Z" fill="#3719D1"/>
				<rect x="72" y="814" width="225" height="123" rx="15" fill="#294FE9"/>
				<rect class='led' x="82" y="824" width="10" height="17" fill="white"/>
				<path d="M297 860H317C319.761 860 322 862.239 322 865V885C322 887.761 319.761 890 317 890H297V860Z" fill="black"/>
				<path d="M322 873H324C324.552 873 325 873.448 325 874V876C325 876.552 324.552 877 324 877H322V873Z" fill="black"/>
				<path d="M485 785H508L505.125 792H487.875L485 785Z" fill="black"/>
				<rect x="494" y="792" width="4" height="7" fill="black"/>
				<path d="M496 798.5C495.748 804.734 510 845.5 464.763 889.56C419.525 933.62 347 875 324.5 875" stroke="black" stroke-width="3"/>
				<rect x="648" y="522" width="82" height="53" fill="#DEF3FC"/>
				<rect x="648" y="522" width="82" height="53" fill="white"/>
				<ellipse cx="709" cy="538.5" rx="7" ry="6.5" fill="#63C2F2"/>
				<path d="M676.435 544L705 566H648L676.435 544Z" fill="#63C2F2"/>
				<path d="M711.5 553L730.12 568H692.88L711.5 553Z" fill="#63C2F2"/>
				<rect x="648" y="566" width="82" height="10" fill="#63C2F2"/>
				<rect x="779" y="520" width="82" height="53" fill="#DEF3FC"/>
				<rect x="779" y="520" width="82" height="53" fill="white"/>
				<ellipse cx="840" cy="536.5" rx="7" ry="6.5" fill="#63C2F2"/>
				<path d="M807.435 542L836 564H779L807.435 542Z" fill="#63C2F2"/>
				<path d="M842.5 551L861.12 566H823.88L842.5 551Z" fill="#63C2F2"/>
				<rect x="779" y="564" width="82" height="10" fill="#63C2F2"/>
				<path d="M373 357C373 348.716 379.716 342 388 342H908C916.284 342 923 348.716 923 357V366H373V357Z" fill="#D9D9D9"/>
				<circle cx="390" cy="354" r="5" fill="#DEF3FC"/>
				<circle cx="406" cy="354" r="5" fill="#DEF3FC"/>
				<circle cx="422" cy="354" r="5" fill="#DEF3FC"/>
				<rect x="919" y="366" width="4" height="257" fill="white"/>
				<rect x="919" y="451" width="4" height="19" fill="#D9D9D9"/>
				<rect x="510" y="760" width="2" height="5" fill="#D9D9D9"/>
				<defs>
					<linearGradient id="paint0_linear_0_1" x1="1397" y1="328" x2="977" y2="328" gradientunits="userSpaceOnUse">
						<stop stop-color="#3498DB"/>
						<stop offset="1" stop-color="#04D1B6"/>
					</linearGradient>
					<linearGradient id="paint1_linear_0_1" x1="1214" y1="261" x2="263" y2="785" gradientunits="userSpaceOnUse">
						<stop offset="0.15" stop-color="#294FE9"/>
						<stop offset="1" stop-color="#04103F"/>
					</linearGradient>
					<linearGradient id="paint2_linear_0_1" x1="294" y1="300.5" x2="529" y2="300.5" gradientunits="userSpaceOnUse">
						<stop offset="0.015" stop-color="#294FB6"/>
						<stop offset="1" stop-color="#090D1F"/>
					</linearGradient>
				</defs>
			</svg>
			{# <img src="/images/recovery.png" alt="image illustrant de la reccuperation de données"> #}
		</div>
		<div class='flex direction-column gap-20 m5p'>
			<ul>
				<li>
					<p>
						<strong>Types de supports compatibles:</strong>
						<ul>
							<li><p>Disque dur</p></li>
							<li><p>SSD</p></li>
							<li><p>clé USB</p></li>
							<li><p>carte SD</p></li>
							<li><p>...</p></li>
						</ul>
				</li>
			</ul>
			<p>Confiez-nous votre materiel un expert va s'en occuper pour récupérer le maximum à moindre coût.</p>
			<p>Nous récupérons en moyenne 95% des données perdues, avec un protocole sécurisé garantissant la confidentialité de vos fichiers.</p>
			<p>Notre équipe d'experts en récupération de données est à votre disposition pour vous aider à retrouver vos données perdues.</p>
		</div>
	
	</div>
{% endblock %}
