{% extends "base.html.twig" %}

{% block title %}devassist | reccupération de données.
{% endblock %}

{% block meta %}
	<meta name="description" content="Vous avez perdu des fichiers ou des photos ? Nos experts en récupération de données peuvent vous aider à restaurer vos documents importants et vos photos importantes !">
	<link rel="canonical" href="https://www.devasyst.fr/prestations/assistance/recuperation-de-donnees">
	<meta property="og:title" content="Assistance Informatique - Récuperation de données | DevAssist">
	<meta property="og:description" content="Besoin d’un site web performant ou d’un dépannage informatique ? devasyst vous accompagne avec des solutions sur mesure. Contactez-nous !">
	<meta property="og:url" content="https://www.devasyst.fr/prestations/assistance/recuperation-de-donnees">
	<meta property="og:image" content="https://devasyst.fr/images/logo_new.png">
{% endblock %}

{% block body %}
	<section class='container-assist container1440 mt5p'>
		<div class="hero">
		<div class="rect-assist"></div>
			<div class='text-center flex direction-column margin-auto space-evenly large-10 medium-11 small-11 anime mb5p'>
				<h1>vous avez perdu vos données ?</h1>
				<p class='padding-bottom20px large-7 medium-10 small-12 margin-auto'>
					<b>Fichiers perdus ?</b>
					<b>Ordinateur cassé ?</b>
					<b>
						Photos supprimées ?</b>
					Nous restaurons vos données en toute sécurité avec un taux de réussite de 95%</p>
				<div class=' margin-auto'>
					<a href="/contact" class='button'>Demander un devis</a>
				</div>
			</div>
			<div class='image-container large-6 medium-10 small-10 margin-auto flex justify-center mt2p anime mb5p'>
				<svg width="1521" height="830" viewbox="0 0 1521 830" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M1501 210C1501 325.98 1406.98 420 1291 420C1175.02 420 1081 325.98 1081 210C1081 94.0202 1175.02 0 1291 0C1406.98 0 1501 94.0202 1501 210Z" fill="url(#paint0_linear_0_1)"/>
					<ellipse cx="180" cy="736.162" rx="180" ry="24.5" fill="#DEF3FC"/>
					<path d="M65 629.662C65 624.139 69.4754 619.662 74.9982 619.662C83.1473 619.662 92.2455 619.662 85.194 619.662C75.1602 619.662 92.2438 712.588 96.8849 736.899C97.4587 739.904 95.1495 742.662 92.0896 742.662V742.662H75C69.4772 742.662 65 738.185 65 732.662V629.662Z" fill="#0E1A3F"/>
					<rect x="72" y="619.662" width="225" height="123" rx="15" fill="#3719D1"/>
					<rect x="82" y="629.662" width="10" height="17" fill="white"/>
					<path d="M297 665.662H317C319.761 665.662 322 667.901 322 670.662V690.662C322 693.424 319.761 695.662 317 695.662H297V665.662Z" fill="black"/>
					<path d="M322 678.662H324C324.552 678.662 325 679.11 325 679.662V681.662C325 682.214 324.552 682.662 324 682.662H322V678.662Z" fill="black"/>
					<path d="M601 708H624L621.125 715H603.875L601 708Z" fill="black"/>
					<rect x="610" y="715" width="4" height="7" fill="black"/>
					<path opacity="0.36" d="M1378.83 622C1379.96 622 1381.07 622.374 1381.98 623.069C1382.9 623.764 1383.58 624.744 1383.92 625.867L1389.81 644.91C1392.28 646.169 1394.65 647.584 1396.91 649.177L1415.7 644.965C1416.8 644.719 1417.96 644.845 1418.99 645.326C1420.03 645.807 1420.89 646.617 1421.45 647.64L1436.28 674.371C1436.85 675.394 1437.09 676.577 1436.97 677.751C1436.85 678.924 1436.37 680.027 1435.61 680.901L1422.72 695.721C1422.9 698.563 1422.9 701.415 1422.72 704.257L1435.61 719.099C1436.37 719.973 1436.85 721.076 1436.97 722.249C1437.09 723.423 1436.85 724.606 1436.28 725.629L1421.45 752.371C1420.89 753.392 1420.03 754.2 1418.99 754.679C1417.96 755.157 1416.8 755.282 1415.7 755.035L1396.91 750.823C1394.66 752.405 1392.28 753.831 1389.82 755.09L1383.92 774.133C1383.58 775.256 1382.9 776.236 1381.98 776.931C1381.07 777.626 1379.96 778 1378.83 778H1349.17C1348.04 778 1346.93 777.626 1346.02 776.931C1345.1 776.236 1344.42 775.256 1344.08 774.133L1338.2 755.101C1335.73 753.846 1333.36 752.413 1331.08 750.811L1312.3 755.035C1311.2 755.281 1310.04 755.155 1309.01 754.674C1307.97 754.193 1307.11 753.383 1306.55 752.36L1291.72 725.629C1291.15 724.606 1290.91 723.423 1291.03 722.249C1291.15 721.076 1291.63 719.973 1292.39 719.099L1305.28 704.257C1305.1 701.422 1305.1 698.578 1305.28 695.743L1292.39 680.901C1291.63 680.027 1291.15 678.924 1291.03 677.751C1290.91 676.577 1291.15 675.394 1291.72 674.371L1306.55 647.629C1307.11 646.608 1307.97 645.8 1309.01 645.321C1310.04 644.843 1311.2 644.718 1312.3 644.965L1331.08 649.189C1333.35 647.595 1335.73 646.158 1338.2 644.899L1344.09 625.867C1344.43 624.747 1345.11 623.77 1346.02 623.076C1346.93 622.381 1348.03 622.005 1349.16 622H1378.82H1378.83ZM1374.91 633.143H1353.09L1347.01 652.832L1342.91 654.916C1340.89 655.943 1338.95 657.112 1337.09 658.415L1333.3 661.089L1313.87 656.721L1302.95 676.422L1316.27 691.777L1315.95 696.501C1315.8 698.831 1315.8 701.169 1315.95 703.499L1316.27 708.223L1302.93 723.578L1313.86 743.279L1333.29 738.922L1337.08 741.585C1338.94 742.888 1340.88 744.057 1342.9 745.084L1347 747.168L1353.09 766.857H1374.94L1381.04 747.157L1385.12 745.084C1387.14 744.06 1389.08 742.891 1390.93 741.585L1394.71 738.922L1414.15 743.279L1425.07 723.578L1411.74 708.223L1412.06 703.499C1412.21 701.165 1412.21 698.824 1412.06 696.49L1411.74 691.765L1425.08 676.422L1414.15 656.721L1394.71 661.067L1390.93 658.415C1389.08 657.109 1387.14 655.94 1385.12 654.916L1381.04 652.843L1374.93 633.143H1374.91ZM1364 666.571C1372.51 666.571 1380.68 670.093 1386.7 676.362C1392.72 682.631 1396.1 691.134 1396.1 700C1396.1 708.866 1392.72 717.368 1386.7 723.638C1380.68 729.907 1372.51 733.429 1364 733.429C1355.49 733.429 1347.32 729.907 1341.3 723.638C1335.28 717.368 1331.9 708.866 1331.9 700C1331.9 691.134 1335.28 682.631 1341.3 676.362C1347.32 670.093 1355.49 666.571 1364 666.571ZM1364 677.714C1358.32 677.714 1352.88 680.062 1348.87 684.242C1344.85 688.421 1342.6 694.089 1342.6 700C1342.6 705.911 1344.85 711.579 1348.87 715.758C1352.88 719.938 1358.32 722.286 1364 722.286C1369.68 722.286 1375.12 719.938 1379.13 715.758C1383.15 711.579 1385.4 705.911 1385.4 700C1385.4 694.089 1383.15 688.421 1379.13 684.242C1375.12 680.062 1369.68 677.714 1364 677.714Z" fill="#294FE9"/>
					<path d="M909 714H821C816.029 714 812 718.029 812 723C812 727.971 816.029 732 821 732H909C913.971 732 918 727.971 918 723C918 718.029 913.971 714 909 714Z" fill="#3719D1"/>
					<path d="M865 830C1227.3 830 1521 810.748 1521 787C1521 763.252 1227.3 744 865 744C502.701 744 209 763.252 209 787C209 810.748 502.701 830 865 830Z" fill="#DEF3FC"/>
					<path d="M1053.5 769H677.5C670.596 769 665 774.596 665 781.5C665 788.404 670.596 794 677.5 794H1053.5C1060.4 794 1066 788.404 1066 781.5C1066 774.596 1060.4 769 1053.5 769Z" fill="#294FE9"/>
					<path d="M793.754 757L811.508 769.75H776L793.754 757Z" fill="#294FE9"/>
					<path d="M932.754 757L950.508 769.75H915L932.754 757Z" fill="#294FE9"/>
					<path d="M932 757H794V770H932V757Z" fill="#294FE9"/>
					<path d="M812 744C812 739.029 816.029 735 821 735H909C913.971 735 918 739.029 918 744C918 748.971 913.971 753 909 753H821C816.029 753 812 748.971 812 744Z" fill="#3719D1"/>
					<path d="M840 98H228C219.163 98 212 105.387 212 114.5C212 123.613 219.163 131 228 131H840C848.837 131 856 123.613 856 114.5C856 105.387 848.837 98 840 98Z" fill="#D9D9D9" fill-opacity="0.35"/>
					<path d="M837 179H225C216.163 179 209 186.163 209 195C209 203.837 216.163 211 225 211H837C845.837 211 853 203.837 853 195C853 186.163 845.837 179 837 179Z" fill="#D9D9D9" fill-opacity="0.35"/>
					<path d="M840 259H228C219.163 259 212 266.163 212 275C212 283.837 219.163 291 228 291H840C848.837 291 856 283.837 856 275C856 266.163 848.837 259 840 259Z" fill="#D9D9D9" fill-opacity="0.35"/>
					<path d="M840 339H228C219.163 339 212 346.387 212 355.5C212 364.613 219.163 372 228 372H840C848.837 372 856 364.613 856 355.5C856 346.387 848.837 339 840 339Z" fill="#D9D9D9" fill-opacity="0.35"/>
					<path d="M837 420H225C216.163 420 209 427.163 209 436C209 444.837 216.163 452 225 452H837C845.837 452 853 444.837 853 436C853 427.163 845.837 420 837 420Z" fill="#D9D9D9" fill-opacity="0.35"/>
					<path d="M837 18H225C216.163 18 209 25.1634 209 34C209 42.8366 216.163 50 225 50H837C845.837 50 853 42.8366 853 34C853 25.1634 845.837 18 837 18Z" fill="#D9D9D9" fill-opacity="0.35"/>
					<path d="M1315 177H390C381.716 177 375 183.716 375 192V693C375 701.284 381.716 708 390 708H1315C1323.28 708 1330 701.284 1330 693V192C1330 183.716 1323.28 177 1315 177Z" fill="url(#paint1_linear_0_1)"/>
					<path d="M865 581C941.768 581 1004 518.768 1004 442C1004 365.232 941.768 303 865 303C788.232 303 726 365.232 726 442C726 518.768 788.232 581 865 581Z" fill="#0E1A3F"/>
					<path d="M772.112 351.816L829.213 479.161L861.843 398.041" stroke="#04D1B6" stroke-width="15" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M952.933 527.198L895.831 399.854L863.202 480.974" stroke="#3498DB" stroke-width="15" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M768.034 359.067C778.546 359.067 787.068 350.546 787.068 340.034C787.068 329.522 778.546 321 768.034 321C757.522 321 749 329.522 749 340.034C749 350.546 757.522 359.067 768.034 359.067Z" fill="#04D1B6"/>
					<path d="M961.997 563C972.509 563 981.03 554.478 981.03 543.966C981.03 533.454 972.509 524.932 961.997 524.932C951.485 524.932 942.963 533.454 942.963 543.966C942.963 554.478 951.485 563 961.997 563Z" fill="#3498DB"/>
					<rect x="394" y="199" width="482" height="295" rx="15" fill="#DEF3FC"/>
					<path d="M410.658 277.541C409.832 274.253 412.381 270.891 415.7 270.891L421.197 270.891C423.321 270.891 425.122 272.316 425.654 274.419L436.024 315.399C436.701 318.076 435.124 320.947 432.501 321.811L427.358 323.506C424.732 324.371 422.054 322.897 421.38 320.215L410.658 277.541Z" fill="#2F18A2"/>
					<rect x="421.256" y="267.891" width="78.8727" height="56" rx="5" fill="#2D18CA"/>
					<path d="M429.055 264.094C429.055 262.989 429.95 262.094 431.055 262.094H451.593C452.697 262.094 453.593 262.989 453.593 264.094V268.094H429.055V264.094Z" fill="#2D18CA"/>
					<path d="M465.027 282.094C465.231 282.094 465.43 282.166 465.595 282.299C465.76 282.433 465.882 282.621 465.944 282.837L467.004 286.499C467.449 286.742 467.875 287.014 468.282 287.32L471.666 286.51C471.865 286.463 472.073 286.487 472.259 286.58C472.445 286.672 472.601 286.828 472.702 287.024L475.373 292.165C475.475 292.362 475.518 292.589 475.496 292.815C475.475 293.041 475.389 293.253 475.252 293.421L472.93 296.271C472.963 296.817 472.963 297.366 472.93 297.912L475.252 300.767C475.389 300.935 475.475 301.147 475.496 301.372C475.518 301.598 475.475 301.826 475.373 302.022L472.702 307.165C472.6 307.362 472.445 307.517 472.259 307.609C472.073 307.701 471.865 307.725 471.666 307.677L468.282 306.867C467.877 307.172 467.449 307.446 467.006 307.688L465.944 311.35C465.882 311.566 465.76 311.754 465.595 311.888C465.43 312.022 465.231 312.094 465.027 312.094H459.686C459.482 312.094 459.283 312.022 459.118 311.888C458.953 311.754 458.831 311.566 458.768 311.35L457.711 307.69C457.267 307.449 456.838 307.173 456.429 306.865L453.047 307.677C452.848 307.725 452.64 307.7 452.454 307.608C452.267 307.516 452.112 307.36 452.011 307.163L449.34 302.022C449.238 301.826 449.195 301.598 449.216 301.372C449.238 301.147 449.324 300.935 449.461 300.767L451.783 297.912C451.75 297.367 451.75 296.82 451.783 296.275L449.461 293.421C449.324 293.253 449.238 293.041 449.216 292.815C449.195 292.589 449.238 292.362 449.34 292.165L452.011 287.022C452.112 286.826 452.268 286.671 452.454 286.579C452.64 286.487 452.848 286.463 453.047 286.51L456.429 287.322C456.838 287.016 457.265 286.739 457.711 286.497L458.77 282.837C458.833 282.622 458.954 282.434 459.118 282.301C459.283 282.167 459.48 282.095 459.684 282.094H465.025H465.027ZM464.322 284.237H460.391L459.296 288.023L458.558 288.424C458.196 288.621 457.845 288.846 457.51 289.097L456.828 289.611L453.329 288.771L451.363 292.559L453.762 295.512L453.704 296.421C453.677 296.869 453.677 297.319 453.704 297.767L453.762 298.675L451.359 301.628L453.327 305.417L456.826 304.579L457.508 305.091C457.843 305.342 458.194 305.566 458.556 305.764L459.294 306.164L460.391 309.951H464.326L465.424 306.162L466.16 305.764C466.523 305.567 466.872 305.342 467.207 305.091L467.887 304.579L471.388 305.417L473.354 301.628L470.953 298.675L471.01 297.767C471.038 297.318 471.038 296.868 471.01 296.419L470.953 295.51L473.355 292.559L471.388 288.771L467.887 289.607L467.207 289.097C466.872 288.845 466.523 288.621 466.16 288.424L465.424 288.025L464.324 284.237H464.322ZM462.356 290.665C463.89 290.665 465.36 291.342 466.444 292.548C467.528 293.754 468.137 295.389 468.137 297.094C468.137 298.799 467.528 300.434 466.444 301.639C465.36 302.845 463.89 303.522 462.356 303.522C460.823 303.522 459.353 302.845 458.269 301.639C457.185 300.434 456.576 298.799 456.576 297.094C456.576 295.389 457.185 293.754 458.269 292.548C459.353 291.342 460.823 290.665 462.356 290.665ZM462.356 292.808C461.334 292.808 460.354 293.26 459.631 294.063C458.909 294.867 458.502 295.957 458.502 297.094C458.502 298.23 458.909 299.32 459.631 300.124C460.354 300.928 461.334 301.379 462.356 301.379C463.379 301.379 464.359 300.928 465.082 300.124C465.804 299.32 466.21 298.23 466.21 297.094C466.21 295.957 465.804 294.867 465.082 294.063C464.359 293.26 463.379 292.808 462.356 292.808Z" fill="#DEF3FC"/>
					<path d="M520.203 276.447C519.377 273.159 521.927 269.797 525.246 269.797L530.742 269.797C532.867 269.797 534.667 271.222 535.2 273.326L545.569 314.305C546.247 316.983 544.67 319.853 542.047 320.717L536.903 322.412C534.277 323.277 531.599 321.803 530.926 319.121L520.203 276.447Z" fill="#2F18A2"/>
					<rect x="530.801" y="266.797" width="78.8727" height="56" rx="5" fill="#2D18CA"/>
					<path d="M538.6 263C538.6 261.895 539.495 261 540.6 261H561.138C562.242 261 563.138 261.895 563.138 263V267H538.6V263Z" fill="#2D18CA"/>
					<path d="M410.658 387.447C409.832 384.159 412.381 380.797 415.7 380.797L421.197 380.797C423.321 380.797 425.122 382.222 425.654 384.326L436.024 425.305C436.701 427.983 435.124 430.853 432.501 431.717L427.358 433.412C424.732 434.277 422.054 432.803 421.38 430.121L410.658 387.447Z" fill="#2F18A2"/>
					<rect x="421.256" y="377.797" width="78.8727" height="56" rx="5" fill="#2D18CA"/>
					<path d="M429.055 374C429.055 372.895 429.95 372 431.055 372H451.593C452.697 372 453.593 372.895 453.593 374V378H429.055V374Z" fill="#2D18CA"/>
					<path d="M628.872 276.447C628.046 273.159 630.596 269.797 633.915 269.797L639.411 269.797C641.536 269.797 643.336 271.222 643.869 273.326L654.238 314.305C654.916 316.983 653.339 319.853 650.716 320.717L645.572 322.412C642.946 323.277 640.268 321.803 639.595 319.121L628.872 276.447Z" fill="#2F18A2"/>
					<rect x="639.47" y="266.797" width="78.8727" height="56" rx="5" fill="#2D18CA"/>
					<path d="M647.269 263C647.269 261.895 648.164 261 649.269 261H669.807C670.911 261 671.807 261.895 671.807 263V267H647.269V263Z" fill="#2D18CA"/>
					<path d="M736.665 276.447C735.839 273.159 738.388 269.797 741.707 269.797L747.204 269.797C749.328 269.797 751.129 271.222 751.661 273.326L762.031 314.305C762.708 316.983 761.131 319.853 758.508 320.717L753.365 322.412C750.739 323.277 748.061 321.803 747.387 319.121L736.665 276.447Z" fill="#2F18A2"/>
					<rect x="747.263" y="266.797" width="78.8727" height="56" rx="5" fill="#2D18CA"/>
					<path d="M755.062 263C755.062 261.895 755.957 261 757.062 261H777.6C778.704 261 779.6 261.895 779.6 263V267H755.062V263Z" fill="#2D18CA"/>
					<rect x="539" y="380" width="69" height="52" fill="white"/>
					<rect x="544" y="389" width="59" height="3" fill="#D9D9D9"/>
					<rect x="544" y="396" width="59" height="4" fill="#D9D9D9"/>
					<rect x="544" y="404" width="59" height="4" fill="#D9D9D9"/>
					<rect x="544" y="412" width="59" height="4" fill="#D9D9D9"/>
					<rect x="635" y="379" width="72" height="53" fill="#DEF3FC"/>
					<rect x="635" y="379" width="72" height="53" fill="white"/>
					<circle cx="688.5" cy="395.5" r="6.5" fill="#63C2F2"/>
					<path d="M659.943 401L685 423H635L659.943 401Z" fill="#63C2F2"/>
					<path d="M690.5 410L706.521 425H674.479L690.5 410Z" fill="#63C2F2"/>
					<rect x="635" y="423" width="72" height="10" fill="#63C2F2"/>
					<rect x="750" y="377" width="72" height="53" fill="#DEF3FC"/>
					<rect x="750" y="377" width="72" height="53" fill="white"/>
					<ellipse cx="803" cy="393.5" rx="6" ry="6.5" fill="#63C2F2"/>
					<path d="M774.943 399L800 421H750L774.943 399Z" fill="#63C2F2"/>
					<path d="M805.5 408L821.521 423H789.479L805.5 408Z" fill="#63C2F2"/>
					<rect x="750" y="421" width="72" height="10" fill="#63C2F2"/>
					<path d="M394 214C394 205.716 400.716 199 409 199H861C869.284 199 876 205.716 876 214V223H394V214Z" fill="#D9D9D9"/>
					<ellipse cx="409" cy="211" rx="4" ry="5" fill="#DEF3FC"/>
					<ellipse cx="423" cy="211" rx="4" ry="5" fill="#DEF3FC"/>
					<ellipse cx="437" cy="211" rx="4" ry="5" fill="#DEF3FC"/>
					<rect x="1117" y="463" width="180" height="118" fill="#DEF3FC"/>
					<circle cx="1251" cy="499" r="15" fill="#63C2F2"/>
					<path d="M1179.5 511L1242.29 559H1117L1179.5 511Z" fill="#63C2F2"/>
					<path d="M1256.5 529L1296.77 563.5H1216.23L1256.5 529Z" fill="#63C2F2"/>
					<rect x="1117" y="559" width="180" height="22" fill="#63C2F2"/>
					<rect x="1117" y="330" width="180" height="118" fill="#DEF3FC"/>
					<rect x="1117" y="199" width="180" height="118" fill="#DEF3FC"/>
					<circle cx="1251" cy="367" r="15" fill="#63C2F2"/>
					<path d="M1179.5 379L1242.29 427H1117L1179.5 379Z" fill="#63C2F2"/>
					<path d="M1256.5 397L1296.77 431.5H1216.23L1256.5 397Z" fill="#63C2F2"/>
					<rect x="1117" y="427" width="180" height="22" fill="#63C2F2"/>
					<rect x="1131" y="218" width="152" height="8" fill="#D9D9D9"/>
					<rect x="1131" y="236" width="152" height="8" fill="#D9D9D9"/>
					<rect x="1131" y="254" width="152" height="8" fill="#D9D9D9"/>
					<rect x="1131" y="272" width="152" height="8" fill="#D9D9D9"/>
					<path d="M1315 182H390C384.477 182 380 186.477 380 192V693C380 698.523 384.477 703 390 703H1315C1320.52 703 1325 698.523 1325 693V192C1325 186.477 1320.52 182 1315 182Z" stroke="#00005B" stroke-width="10"/>
					<path d="M612.001 721.501C601.499 786.5 549.504 785.002 468.002 772.501C386.5 760 350.5 680 324.503 680.666" stroke="black" stroke-width="3"/>
					<defs>
						<linearGradient id="paint0_linear_0_1" x1="1499.34" y1="236.5" x2="1079.34" y2="236.5" gradientunits="userSpaceOnUse">
							<stop offset='0' stop-color="#3498DB"/>
							<stop offset="1" stop-color="#04D1B6"/>
						</linearGradient>
						<linearGradient id="paint1_linear_0_1" x1="1.09385e+06" y1="137175" x2="496511" y2="729119" gradientunits="userSpaceOnUse">
							<stop offset='0' stop-color="#294FE9"/>
							<stop offset="1" stop-color="#04103F"/>
						</linearGradient>
					</defs>
				</svg>
				{# <img src="/images/recovery.png" alt="image illustrant de la reccuperation de données"> #}
			</div>
			<!-- Bulle conseil -->
			<div class="conseil-recuperation mt2p anime">
				<p class='large-10 margin-auto'>📌
					<strong>Conseil :</strong>
					Ne continuez surtout pas à utiliser votre support après une perte de données ! Chaque nouvelle écriture pourrait rendre la récupération impossible.</p>
			</div>
				<!-- Animation scroll -->
	<div class="scroll mt10p">
		<svg width="161" height="41" viewbox="0 0 161 41" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M0 0L79 9L161 0V5L80 23.5L0 5V0Z" fill="#0E1A3F"/>
			<path d="M0 17L79 26L161 17V22L80 40.5L0 22V17Z" fill="#0E1A3F"/>
		</svg>
	</div>

		</div>

		<div class='mt5p large-12 anime'>
			<div class='flex justify-center mb5p anime'>
				<h2>Vous avez perdu vos données ?</h2>
			</div>

			<div
				class='flex flex-wrap gap5p'>
				<!-- Carte 1 -->
				<div class='site-vitrine-card flex flex-wrap large-12 gap-20 justify-center anime'>
					<div class="card-image large-5 medium-10 small-12">
						<img loading="lazy" src="/images/recovery-backup-data-min.webp" alt="Illustration de plusieurs types de supports de stockage comme un SSD, une clé USB et un disque dur">
					</div>
					<div class="card-content large-6 medium-10 small-12 flex direction-column space-between justify-center gap-20">
						<h3>Récupérez vos données perdues en un temps record</h3>
						<p>Suppression accidentelle, ordinateur cassé, disque dur defectueux* ? Nos experts interviennent rapidement pour restaurer vos précieuses données, avec un taux de réussite de 95 %.</p>
						<p class="comments">(*) Une analyse du disque doit être effectuée pour estimer son état et les possibilités de récupération.</p>
					</div>
				</div>
				<!-- Carte 2 -->
				<div class='site-vitrine-card site-vitrine-card-mobile flex flex-wrap large-12 gap-20 anime'>
					<div class="card-content large-6 medium-10 small-12 flex direction-column space-evenly justify-center gap-20">
						<h3>Intervention sur disques durs, SSD, clés USB et plus encore</h3>
						<p>Nous récupérons vos fichiers sur de nombreux supports de stockage : disques durs internes et externes, SSD, cartes mémoire et clés USB. Quelle que soit la panne, nous avons la solution.</p>
					</div>
					<div class="card-image large-5 medium-10 small-12">
						<img loading="lazy" src="/images/recup-data-min.webp" alt="Illustration d'un disque dur en cours de récupération de données">
					</div>
					<!-- Section nos engagements -->
				</div>
				<div class="why-choose-us mt5p large-12 mb10p">
					<h2 class=' center-text'>Nos services</h2>
					<div class="features">
						<div class="feature">
							<i class="fa-solid fa-database"></i>
							<h3 class='center-text'>Récupération de Données</h3>
							<p>Restauration de fichiers supprimés, disques durs endommagés ou défaillants.</p>
						</div>
						<div class="feature">
							<i class="fa-solid fa-hard-drive"></i>
							<h3 class="center-text">supports compatibles</h3>
							<p>Intervention sur tous types de supports : HDD, SSD, clés USB et cartes mémoire.</p>
						</div>
						<div class="feature">
							<i class="fa-solid fa-folder-open"></i>
							<h3 class='center-text'>Pannes Logicielles</h3>
							<p>Récupération après formatage, suppression accidentelle ou corruption de fichiers.</p>
						</div>
						<div class="feature">
							<i class="fa-solid fa-shield-halved"></i>
							<h3 class='center-text'>Sécurité des Données</h3>
							<p>Traitement sécurisé et confidentiel de vos fichiers pour une récupération en toute confiance.</p>
						</div>
						<div class="feature">
							<i class="fa-solid fa-clock"></i>
							<h3 class='center-text'>Intervention Rapide</h3>
							<p>Analyse rapide et récupération efficace pour limiter les pertes.</p>
						</div>
						<div class="feature">
							<i class="fa-solid fa-headset"></i>
							<h3 class='center-text'>Support et Assistance</h3>
							<p>Accompagnement personnalisé et conseils pour éviter de futures pertes.</p>
						</div>
					</div>
					<a href="/contact" class="button mt20px">Demander un devis</a>
				</div>
			</div>
		</div>

	</section>
{% endblock %}
