@charset "UTF-8";
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

a {
  text-decoration: none;
}

.large-1 {
  width: calc(8.3333333333% - 14.6666666667px);
}
.large-2 {
  width: calc(16.6666666667% - 13.3333333333px);
}
.large-3 {
  width: calc(25% - 12px);
}
.large-4 {
  width: calc(33.3333333333% - 10.6666666667px);
}
.large-5 {
  width: calc(41.6666666667% - 9.3333333333px);
}
.large-6 {
  width: calc(50% - 8px);
}
.large-7 {
  width: calc(58.3333333333% - 6.6666666667px);
}
.large-8 {
  width: calc(66.6666666667% - 5.3333333333px);
}
.large-9 {
  width: calc(75% - 4px);
}
.large-10 {
  width: calc(83.3333333333% - 2.6666666667px);
}
.large-11 {
  width: calc(91.6666666667% - 1.3333333333px);
}
.large-12 {
  width: calc(100% - 0px);
}

@media all and (min-width: 580px) and (max-width: 768px) {
  .medium-1 {
    width: calc(8.3333333333% - 14.6666666667px);
  }
  .medium-2 {
    width: calc(16.6666666667% - 13.3333333333px);
  }
  .medium-3 {
    width: calc(25% - 12px);
  }
  .medium-4 {
    width: calc(33.3333333333% - 10.6666666667px);
  }
  .medium-5 {
    width: calc(41.6666666667% - 9.3333333333px);
  }
  .medium-6 {
    width: calc(50% - 8px);
  }
  .medium-7 {
    width: calc(58.3333333333% - 6.6666666667px);
  }
  .medium-8 {
    width: calc(66.6666666667% - 5.3333333333px);
  }
  .medium-9 {
    width: calc(75% - 4px);
  }
  .medium-10 {
    width: calc(83.3333333333% - 2.6666666667px);
  }
  .medium-11 {
    width: calc(91.6666666667% - 1.3333333333px);
  }
  .medium-12 {
    width: calc(100% - 0px);
  }
}
@media all and (max-width: 579px) {
  .small-1 {
    width: calc(8.3333333333% - 14.6666666667px);
  }
  .small-2 {
    width: calc(16.6666666667% - 13.3333333333px);
  }
  .small-3 {
    width: calc(25% - 12px);
  }
  .small-4 {
    width: calc(33.3333333333% - 10.6666666667px);
  }
  .small-5 {
    width: calc(41.6666666667% - 9.3333333333px);
  }
  .small-6 {
    width: calc(50% - 8px);
  }
  .small-7 {
    width: calc(58.3333333333% - 6.6666666667px);
  }
  .small-8 {
    width: calc(66.6666666667% - 5.3333333333px);
  }
  .small-9 {
    width: calc(75% - 4px);
  }
  .small-10 {
    width: calc(83.3333333333% - 2.6666666667px);
  }
  .small-11 {
    width: calc(91.6666666667% - 1.3333333333px);
  }
  .small-12 {
    width: calc(100% - 0px);
  }
}
.large-1 {
  width: calc(8.3333333333% - 14.6666666667px);
}

.large-2 {
  width: calc(16.6666666667% - 13.3333333333px);
}

.large-3 {
  width: calc(25% - 12px);
}

.large-4 {
  width: calc(33.3333333333% - 10.6666666667px);
}

.large-5 {
  width: calc(41.6666666667% - 9.3333333333px);
}

.large-6 {
  width: calc(50% - 8px);
}

.large-7 {
  width: calc(58.3333333333% - 6.6666666667px);
}

.large-8 {
  width: calc(66.6666666667% - 5.3333333333px);
}

.large-9 {
  width: calc(75% - 4px);
}

.large-10 {
  width: calc(83.3333333333% - 2.6666666667px);
}

.large-11 {
  width: calc(91.6666666667% - 1.3333333333px);
}

.large-12 {
  width: calc(100% - 0px);
}

@media all and (max-width: 768px) {
  .medium-1 {
    width: calc(8.3333333333% - 14.6666666667px);
  }
  .medium-2 {
    width: calc(16.6666666667% - 13.3333333333px);
  }
  .medium-3 {
    width: calc(25% - 12px);
  }
  .medium-4 {
    width: calc(33.3333333333% - 10.6666666667px);
  }
  .medium-5 {
    width: calc(41.6666666667% - 9.3333333333px);
  }
  .medium-6 {
    width: calc(50% - 8px);
  }
  .medium-7 {
    width: calc(58.3333333333% - 6.6666666667px);
  }
  .medium-8 {
    width: calc(66.6666666667% - 5.3333333333px);
  }
  .medium-9 {
    width: calc(75% - 4px);
  }
  .medium-10 {
    width: calc(83.3333333333% - 2.6666666667px);
  }
  .medium-11 {
    width: calc(91.6666666667% - 1.3333333333px);
  }
  .medium-12 {
    width: calc(100% - 0px);
  }
}
@media all and (max-width: 579px) {
  .small-1 {
    width: calc(8.3333333333% - 14.6666666667px);
  }
  .small-2 {
    width: calc(16.6666666667% - 13.3333333333px);
  }
  .small-3 {
    width: calc(25% - 12px);
  }
  .small-4 {
    width: calc(33.3333333333% - 10.6666666667px);
  }
  .small-5 {
    width: calc(41.6666666667% - 9.3333333333px);
  }
  .small-6 {
    width: calc(50% - 8px);
  }
  .small-7 {
    width: calc(58.3333333333% - 6.6666666667px);
  }
  .small-8 {
    width: calc(66.6666666667% - 5.3333333333px);
  }
  .small-9 {
    width: calc(75% - 4px);
  }
  .small-10 {
    width: calc(83.3333333333% - 2.6666666667px);
  }
  .small-11 {
    width: calc(91.6666666667% - 1.3333333333px);
  }
  .small-12 {
    width: calc(100% - 0px);
  }
}
/*** IMPORT FONT ***/
@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto/Roboto-VariableFont_wdth_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins Round";
  src: url("fonts/Poppins-regular_Round/Poppins-regularRound-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  src: url("fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}
/*** COLOR ***/
/*** SIZE ***/
/*** OTHER ***/
/*** RESPONSIVE ***/
.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.space-evenly {
  justify-content: space-evenly;
}

.direction-column {
  flex-direction: column;
}

.margin-auto {
  margin-left: auto;
  margin-right: auto;
}

.item-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.center-text {
  text-align: center;
}

.margin-bottom20px {
  margin-bottom: 20px;
}

.margin-bottom px {
  margin-bottom: px;
}

.padding-bottom20px {
  padding: 20px;
}

.mt20px {
  margin-top: 20px;
}

.p20 {
  padding: 20px;
}

.gap-20 {
  gap: 20px;
}

.gap-5 {
  gap: 5px;
}

.gap5p {
  gap: 50px;
}

.w100 {
  width: 100%;
}

.phb10px {
  padding: 10px 0;
}

.line {
  border-bottom: 1px solid #292626;
}

.container1440 {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.mt5p {
  margin-top: 5%;
}
@media screen and (max-width: 768px) {
  .mt5p {
    margin-top: 30%;
  }
}

.mt10p {
  margin-top: 10%;
}

.mb10p {
  margin-bottom: 10%;
}

.mt2p {
  margin-top: 2%;
}

.mb5p {
  margin-bottom: 5%;
}

.mb10px {
  margin-bottom: 10px;
}

.mt10px {
  margin-top: 10px;
}

a {
  color: black;
}
a :visited {
  color: black;
}

.color-dev {
  background-color: rgba(0, 255, 221, 0.108);
  color: #0e1a3f;
}

.color-desk {
  background-color: #def3fc;
  color: #0e1a3f;
}

.d-none {
  display: none;
}

.line-horizon {
  height: 1px;
  background-color: #fff;
}

.container-assistance,
.container-dev-en-cours,
.container-connect {
  height: calc(63vh - 20px);
}

.p-error {
  color: red;
}

.button {
  padding: 5px 20px;
  border-radius: 15px;
  background-color: #294FE9;
  color: #fff;
  font-size: 16px;
  display: inline-block;
  cursor: pointer;
  border: 1px solid #294FE9;
}
.button:hover {
  background-color: #fff;
  color: #0e1a3f;
  border: 1px solid #0e1a3f;
  transition: all 0.3s ease;
}
@media screen and (max-width: 1024px) {
  .button {
    padding: 5px 10px;
    font-size: 14px;
  }
}

.button {
  transition: transform 0.2s ease-in-out, background 0.3s ease-in-out;
}

.btn-deconnexion {
  background-color: #ff0000;
  color: #fff;
  padding: 5px 20px;
  height: fit-content;
  border-radius: 15px;
  border: 1px solid #ff0000;
  cursor: pointer;
}
.btn-deconnexion:hover {
  color: #0e1a3f;
  background-color: #fff;
  border: 1px solid #0e1a3f;
}

@keyframes scrollUp {
  from {
    transform: translateY(200%);
  }
  to {
    transform: translateY(-200%);
  }
}
/*** ANIMATION LOGO ***/
@keyframes rotateGear {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes changeColor {
  0% {
    fill: #294FE9;
  } /* Bleu */
  50% {
    fill: #E92929;
  } /* Rouge */
  100% {
    fill: #294FE9;
  } /* Retour au bleu */
}
@keyframes slideright {
  0% {
    opacity: 0;
    transform: rotate(0) translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: rotate(-12.39) translateX(0);
  }
}
@keyframes slideleft {
  0% {
    opacity: 0;
    transform: rotate(0) translateX(100px);
  }
  100% {
    opacity: 1;
    transform: rotate(12.39) translateX(0);
  }
}
@keyframes scrollDown {
  from {
    transform: translateY(-20px);
  }
  to {
    transform: translateY(0);
  }
}
.scroll {
  animation: scrollDown 0.8s ease-in-out forwards infinite;
}

.anime {
  opacity: 0;
  transform: translateX(-100px);
}
@media screen and (max-width: 1024px) {
  .anime {
    transform: rotranslateX(0);
  }
}

.anime-reveal {
  opacity: 1;
  transform: rotate(0) translateX(0);
  transition: all 0.3s ease;
}

.whell-gear {
  transform-origin: 1122.5px 195.5px;
  animation: rotateGear 5s linear infinite;
  fill: #e92929; /* Couleur initiale */
}

.whell-gear path {
  animation: changeColor 5s ease-in-out infinite;
}

/***** NEW ANIMATION ****/
.class-container {
  overflow: hidden;
  height: 200px; /* Ajuste la hauteur */
  position: relative;
}

.rects {
  animation: scrollUp 8s linear infinite;
}

/*** NOUS CHOISIR ***/
.feature:nth-child(1) {
  transition-delay: 0.1s;
}

.feature:nth-child(2) {
  transition-delay: 0.2s;
}

.feature:nth-child(3) {
  transition-delay: 0.3s;
}

.feature:nth-child(4) {
  transition-delay: 0.4s;
}

.feature:nth-child(5) {
  transition-delay: 0.5s;
}

.feature:nth-child(6) {
  transition-delay: 0.6s;
}

.why-choose-us.visible .feature {
  opacity: 1;
  transform: translateY(0);
}

header {
  position: sticky;
  top: 1rem;
  z-index: 1000;
  width: 70vw;
  margin: 0 auto;
  padding: 8px 30px;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  border-radius: 24px;
  /*** MENU BURGER ***/
}
@media screen and (max-width: 1300px) {
  header {
    width: 90vw;
  }
}
header .header nav {
  width: 30%;
  min-width: 420px;
}
header .header a,
header .header p {
  font-size: 16px;
}
header .header nav ul li {
  position: relative;
  display: inline-block;
  margin: 0 15px;
  transition: all 0.5s ease;
}
header .header nav ul li a {
  color: #0e1a3f;
}
header .header nav ul li::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 3px;
  background-color: #0e1a3f;
  border-radius: 5px;
  transition: width 0.3s ease;
}
header .header nav ul li:hover::after {
  width: 100%;
}
header .header nav ul li svg {
  width: 70%;
}
header .logo svg {
  max-width: 200px;
  width: clamp(130px, 25vw, 200px);
  height: auto;
}
header .hidden {
  visibility: hidden;
}
header .menu-slide {
  position: fixed;
  top: 10vh;
  left: 50%;
  width: 70%;
  transform: translateX(-50%);
  background: rgb(255, 255, 255);
  border-radius: 24px;
  z-index: 100;
  padding: 20px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
  visibility: hidden;
}
header .menu-slide.visible {
  opacity: 1;
  visibility: visible;
}
header .box {
  gap: 10px;
  padding: 5px 20px;
  max-width: 350px;
  border-radius: 15px;
}
@media screen and (max-width: 768px) {
  header .box {
    padding: 5px 10px;
  }
}
header .box p {
  font-size: 16px;
}
header .box ul {
  padding: 20px;
}
@media screen and (max-width: 1024px) {
  header .nav-desktop,
  header .btn-desktop {
    display: none;
  }
  header .menu-burger {
    padding: 20px 0;
  }
  header .menu-burger ul {
    padding: 20px 0;
  }
  header .menu-burger a {
    font-size: 1rem;
  }
  header .menu-burger svg {
    width: 60%;
  }
  header .menu-slide-mobile.visible {
    display: block;
  }
}
@media screen and (max-width: 1024px) {
  header {
    /* Ajustement des barres supérieure et inférieure */
  }
  header #open-burger {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 50px;
    position: relative;
  }
  header .burger {
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: rgb(4, 209, 182);
    border-radius: 5px;
    transition: all 0.5s ease;
  }
  header .burger::after,
  header .burger::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #0e1a3f;
    border-radius: 5px;
    transition: all 0.5s ease;
    left: 0;
  }
  header .burger::after {
    top: 7px;
  }
  header .burger::before {
    top: -7px;
  }
  header .burger.open {
    width: 0;
    transform: translateX(0);
    transition: all 0.5s ease;
  }
  header .burger.open::after {
    top: 0;
    z-index: 1000;
    transform: rotate(45deg);
    background-color: red;
  }
  header .burger.open::before {
    top: 0;
    z-index: 1000;
    transform: rotate(-45deg);
    background-color: red;
  }
}

footer {
  background-color: #1a306e;
  color: #fff;
  padding: 20px 0;
}
footer a {
  color: #fff;
  text-decoration: underline;
}
footer .logo {
  width: 28px;
  height: auto;
}
footer svg {
  width: 40%;
  height: auto;
}
footer p {
  color: #fff;
}
footer .copyright {
  margin-top: 5px;
  font-size: 14px;
}
footer h4 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #fff;
}
footer .mention {
  color: #8d8d8d;
  font-size: 14px;
}
@media screen and (max-width: 768px) {
  footer .nav-footer {
    display: none;
  }
  footer .logo {
    width: 20px;
  }
  footer h4 {
    font-size: 14px;
  }
  footer .mention {
    font-size: 12px;
  }
  footer .nav-box {
    margin: 0;
    padding-left: 50px;
  }
}

.alert {
  position: absolute;
  z-index: 1000;
  top: 10vh;
  right: 50%;
  transform: translateX(50%);
  border: 1px solid #ce031b;
  padding: 12px;
  border-radius: 4px;
  text-align: center;
  background-color: #fe9fab;
}

.alert-success {
  border-color: #1e8341;
  background-color: #89e4a9;
}

.alert-error {
  border-color: #ce031b;
  background-color: #fe9fab;
}

.alert-warning {
  border-color: #ce031b;
  background-color: #fe9fab;
}

body {
  background-color: #f6f6f6;
  overflow-x: hidden;
  width: 100%;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0.1rem;
  color: #0e1a3f;
  font-family: "Poppins Round", sans-serif;
  line-height: 1.6;
}

h1 {
  font-size: calc(clamp(16px, 1rem + 1vw, 18px) * 3);
  text-align: center;
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: calc(clamp(16px, 1rem + 1vw, 18px) * 1.3);
  }
}

h2 {
  font-size: calc(clamp(16px, 1rem + 1vw, 18px) * 2);
  text-align: left;
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  h2 {
    font-size: calc(clamp(16px, 1rem + 1vw, 18px) * 1.2);
  }
}

h3 {
  font-size: calc(clamp(16px, 1rem + 1vw, 18px) * 1.5);
  text-align: left;
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  h3 {
    font-size: calc(clamp(16px, 1rem + 1vw, 18px) * 1);
  }
}

h4 {
  font-size: calc(clamp(16px, 1rem + 1vw, 18px) * 1.3);
  text-align: left;
  font-weight: 400;
}

h5 {
  font-size: calc(clamp(16px, 1rem + 1vw, 18px) * 1.1);
  text-align: left;
  font-weight: 900;
}
@media screen and (max-width: 768px) {
  h5 {
    font-size: calc(clamp(16px, 1rem + 1vw, 18px) * 0.9);
  }
}

p {
  font-size: clamp(16px, 1rem + 1vw, 18px);
}
@media screen and (max-width: 1400px) {
  p {
    font-size: calc(clamp(16px, 1rem + 1vw, 18px) * 0.8);
  }
}

/*Home page*/
.image-container {
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.3));
}

.hero .rect-hero {
  position: absolute;
  z-index: -10;
  width: 80vw;
  height: 700px;
  top: -50%;
  left: 50%;
  transform: translateX(-50%) rotate(-12.39deg);
  background: #def3fc;
}
@media screen and (max-width: 1200px) {
  .hero .rect-hero {
    width: 60vw;
    height: 500px;
    transform: translateX(-50%) rotate(-12.39deg);
  }
}
@media screen and (max-width: 576px) {
  .hero .rect-hero {
    width: 0;
    height: 50vh;
    transform: translateX(-50%) rotate(0);
  }
}
.hero img {
  max-width: 250px;
  width: clamp(100px, 25vw, 250px);
  height: auto;
}
.hero svg {
  width: fit-content;
  height: auto;
  max-width: 1000px;
  display: block;
}
@media screen and (max-width: 768px) {
  .hero svg {
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
  }
}
@media screen and (max-width: 768px) {
  .hero {
    flex-wrap: wrap;
    margin-top: 25%;
  }
}

.scroll {
  text-align: center;
  margin-top: 3%;
}
@media screen and (max-width: 768px) {
  .scroll {
    margin-top: 15%;
  }
}
.scroll svg {
  margin-left: auto;
  margin-right: auto;
}

/*** Nous choisir ***/
.why-choose-us {
  text-align: center;
  padding: 60px 20px;
}

.features {
  display: grid !important;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)) !important;
  gap: 20px;
  max-width: 1100px;
  margin: auto;
}

.feature {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.feature i {
  font-size: 2rem;
  color: #1a306e;
  margin-bottom: 10px;
}

.feature h3 {
  font-size: 1.4rem;
  color: #172b4d;
}

/*** WHO ARE WE ***/
@media screen and (max-width: 1200px) {
  .who-are-we {
    flex-wrap: wrap;
    gap: 5rem;
  }
}

/*** Qui sommes nous ***/
.picture-box {
  width: 15vw;
  height: 15vw;
  max-width: 250px;
  max-height: 250px;
  min-width: 120px;
  min-height: 120px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.picture-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box-dev {
  position: relative;
  min-height: 60vh;
  transform: rotate(12.39deg);
  background-color: rgba(0, 255, 221, 0.108);
  position: relative;
  padding: 20px;
  padding-top: 10vh;
}
@media screen and (max-width: 1200px) {
  .box-dev {
    width: 80vw;
  }
}
.box-dev .picture-box {
  position: absolute;
  top: -1rem;
  left: 50%;
  transform: translate(-50%, -50%);
}
.box-dev .box-dev-content {
  gap: 40px;
  transform: rotate(-12.39deg);
}
@media screen and (max-width: 576px) {
  .box-dev .box-dev-content {
    transform: rotate(0);
  }
}
@media screen and (max-width: 576px) {
  .box-dev {
    transform: rotate(0);
    width: 100vw;
  }
}

.box-assist {
  min-height: 60vh;
  transform: rotate(-12.39deg);
  z-index: 1;
  background-color: #def3fc;
  position: relative;
  padding: 20px;
  padding-top: 10vh;
}
@media screen and (max-width: 1200px) {
  .box-assist {
    width: 80vw;
  }
}
.box-assist .picture-box {
  position: absolute;
  top: -1rem;
  left: 50%;
  transform: translate(-50%, -50%);
}
.box-assist .box-assist-content {
  transform: rotate(12.39deg);
  gap: 40px;
}
@media screen and (max-width: 576px) {
  .box-assist .box-assist-content {
    transform: rotate(0);
  }
}
@media screen and (max-width: 576px) {
  .box-assist {
    transform: rotate(0);
    width: 100vw;
    margin: 0;
  }
}

/*** CATEGORIE PRESTATION ***/
.rect-dev {
  position: absolute;
  z-index: -10;
  width: 80vw;
  height: 700px;
  top: -50%;
  left: 50%;
  transform: translateX(-50%) rotate(-12.39deg);
  background: rgba(0, 255, 221, 0.108);
}
@media screen and (max-width: 1200px) {
  .rect-dev {
    width: 60vw;
    height: 500px;
    transform: translateX(-50%) rotate(-12.39deg);
  }
}
@media screen and (max-width: 576px) {
  .rect-dev {
    width: 0;
    height: 50vh;
    transform: translateX(-50%) rotate(0);
  }
}

.rect-assist {
  position: absolute;
  z-index: -10;
  width: 80vw;
  height: 700px;
  top: -50%;
  left: 50%;
  transform: translateX(-50%) rotate(-12.39deg);
  background: #def3fc;
}
@media screen and (max-width: 1200px) {
  .rect-assist {
    width: 60vw;
    height: 500px;
    transform: translateX(-50%) rotate(-12.39deg);
  }
}
@media screen and (max-width: 576px) {
  .rect-assist {
    width: 0;
    height: 50vh;
    transform: translateX(-50%) rotate(0);
  }
}

.container-dev svg,
.container-assist svg {
  width: fit-content;
  height: auto;
  max-width: 1000px;
  display: block;
}
@media screen and (max-width: 768px) {
  .container-dev svg,
  .container-assist svg {
    min-width: 350px;
    margin-left: auto;
    margin-right: auto;
  }
}
.container-dev .techno-logo i,
.container-assist .techno-logo i {
  width: 80px;
}
@media screen and (max-width: 768px) {
  .container-dev .techno-logo,
  .container-assist .techno-logo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px 5px;
    grid-auto-flow: row;
    grid-template-areas: ". . . . ." ". . . . .";
  }
  .container-dev .techno-logo i,
  .container-assist .techno-logo i {
    width: 30px;
  }
}
@media screen and (max-width: 768px) {
  .container-dev,
  .container-assist {
    gap: 0;
  }
}
.container-dev .card-content,
.container-assist .card-content {
  padding: 20px;
  gap: 10%;
}
.container-dev .banner,
.container-assist .banner {
  background-color: rgba(0, 255, 221, 0.108);
  padding: 20px;
  max-width: none;
}
@media screen and (max-width: 768px) {
  .container-dev,
  .container-assist {
    flex-wrap: wrap;
  }
  .container-dev .site-vitrine-card-mobile,
  .container-assist .site-vitrine-card-mobile {
    flex-direction: column-reverse;
  }
}

.card-image {
  padding: 10px;
}
.card-image img {
  border-radius: 50px 0 15px 0;
}

.comments {
  font-size: 12px;
  color: #3d3d3d;
}

/*Description de l'entreprise*/
.about .article1 {
  background-color: rgba(0, 255, 221, 0.108);
  border-radius: 20px;
  margin-top: 20px;
  padding: 20px;
}
.about .article2 {
  background-color: #def3fc;
  border-radius: 20px;
  margin-top: 20px;
  padding: 20px;
}

.conseil-recuperation {
  background-color: #fffbcc;
  color: #8a6d3b;
  padding: 15px;
  border-left: 5px solid #ffae42;
  font-size: 16px;
  margin: 20px 0;
  border-radius: 5px;
}

/*Page de contact*/
.container-connect form {
  width: 100%;
}

.contact .group-form input[type=text],
.contact .group-form input[type=email],
.contact .group-form input[type=password],
.group-form input[type=text],
.group-form input[type=email],
.group-form input[type=password] {
  background-color: #f6f6f6;
  border-radius: 20px;
  padding: 15px;
}
.contact .group-form .input-error,
.group-form .input-error {
  border: 2px solid red;
}
.contact .group-form textarea,
.group-form textarea {
  background-color: #f6f6f6;
  border: 1px solid #0e1a3f;
  border-radius: 20px;
  padding: 15px;
}
.contact .group-form input::placeholder,
.contact .group-form textarea::placeholder,
.group-form input::placeholder,
.group-form textarea::placeholder {
  color: #0e1a3f;
  font-weight: bold;
}

/*** DASHBORD ***/
.btn-deco {
  margin-top: 5vh;
}

.container-dash {
  background-color: #def3fc;
  padding: 20px;
  border-radius: 20px;
  color: #0e1a3f;
  height: 40vh;
  overflow-x: scroll;
}
.container-dash table {
  border-collapse: collapse;
  border-spacing: 0;
}
.container-dash table thead {
  background-color: #cacaca;
  color: #0e1a3f;
}
.container-dash table thead th {
  padding: 10px;
  text-align: left;
}
.container-dash table tbody tr {
  background-color: #fff;
}
.container-dash table tbody tr td {
  padding: 10px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 150px;
}
@media screen and (max-width: 1200px) {
  .container-dash table tbody tr td {
    max-width: 90px;
  }
}
@media screen and (max-width: 768px) {
  .container-dash table tbody tr td {
    max-width: 70px;
  }
}
@media screen and (max-width: 576px) {
  .container-dash table tbody tr td {
    max-width: 50px;
  }
}
.container-dash table tbody .action {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 60px;
}
.container-dash table tbody .fa-trash {
  color: red;
}

.mentions-legales {
  padding: 0 5px;
}
.mentions-legales a {
  text-decoration: underline;
  color: #294FE9;
}
.mentions-legales ul {
  list-style-type: circle;
  padding-left: 50px;
}
.mentions-legales ul li {
  font-size: 16px;
}

/*# sourceMappingURL=style.css.map */
