# On démarre le moteur de réécriture
RewriteEngine On

# Interdire l'accès au fichier error.log
RewriteRule ^error\.log$ - [F,L]

# Si le fichier n'existe pas, on redirige vers index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]