{% extends "base.html.twig" %}

{% block title %}
	devasyst | Conception de Site Vitrine - Création Web Professionnelle
{% endblock %}

{% block meta %}
	<meta name="description" content="Vous souhaitez un site vitrine moderne et performant ? devasyst vous accompagne avec une équipe experte en création web. Obtenez votre devis gratuit !">
	<link rel="canonical" href="https://www.devasyst.fr/prestations/developpement/site-vitrine">
	<meta property="og:title" content="devasyst | Conception de Site Vitrine - Création Web Professionnelle"/>
	<meta property="og:description" content="Besoin d’un site web performant ou d’un dépannage informatique ? dev@syst vous accompagne avec des solutions sur mesure. Contactez-nous !"/>
	<meta property="og:url" content="https://www.devasyst.fr/prestations/developpement/site-vitrine"/>
	<meta property="og:image" content="https://devasyst.fr/images/logo-transparent-png.png"/>
{% endblock %}

{% block body %}
	<section class="container-dev container1440 m5p flex flex-wrap item-center space-evenly">
		<div class='text-center flex direction-column space-evenly large-5 medium-11 small-11'>
			<h1>Un site avec une présence en ligne impactante.</h1>
			<div class=' margin-auto'>
				<a href="/contact" class="button mt20px">Demander un devis gratuit</a>
			</div>
		</div>
		<div class='image-container large-7 medium-11 small-11 margin-auto flex justify-center m5p'>
			<svg width="1336" height="888" viewbox="0 0 1336 888" fill="none" xmlns="http://www.w3.org/2000/svg">
				<ellipse cx="679" cy="845" rx="656" ry="43" fill="#DEF3FC"/>
				<path opacity="0.36" d="M1191.83 696C1192.96 696 1194.07 696.374 1194.98 697.069C1195.9 697.764 1196.58 698.744 1196.92 699.867L1202.81 718.91C1205.28 720.169 1207.65 721.584 1209.91 723.177L1228.7 718.965C1229.8 718.719 1230.96 718.845 1231.99 719.326C1233.03 719.807 1233.89 720.617 1234.45 721.64L1249.28 748.371C1249.85 749.394 1250.09 750.577 1249.97 751.751C1249.85 752.924 1249.37 754.027 1248.61 754.901L1235.72 769.721C1235.9 772.563 1235.9 775.415 1235.72 778.257L1248.61 793.099C1249.37 793.973 1249.85 795.076 1249.97 796.249C1250.09 797.423 1249.85 798.606 1249.28 799.629L1234.45 826.371C1233.89 827.392 1233.03 828.2 1231.99 828.679C1230.96 829.157 1229.8 829.282 1228.7 829.035L1209.91 824.823C1207.66 826.405 1205.28 827.831 1202.82 829.09L1196.92 848.133C1196.58 849.256 1195.9 850.236 1194.98 850.931C1194.07 851.626 1192.96 852 1191.83 852H1162.17C1161.04 852 1159.93 851.626 1159.02 850.931C1158.1 850.236 1157.42 849.256 1157.08 848.133L1151.2 829.101C1148.73 827.846 1146.36 826.413 1144.08 824.811L1125.3 829.035C1124.2 829.281 1123.04 829.155 1122.01 828.674C1120.97 828.193 1120.11 827.383 1119.55 826.36L1104.72 799.629C1104.15 798.606 1103.91 797.423 1104.03 796.249C1104.15 795.076 1104.63 793.973 1105.39 793.099L1118.28 778.257C1118.1 775.422 1118.1 772.578 1118.28 769.743L1105.39 754.901C1104.63 754.027 1104.15 752.924 1104.03 751.751C1103.91 750.577 1104.15 749.394 1104.72 748.371L1119.55 721.629C1120.11 720.608 1120.97 719.8 1122.01 719.321C1123.04 718.843 1124.2 718.718 1125.3 718.965L1144.08 723.189C1146.35 721.595 1148.73 720.158 1151.2 718.899L1157.09 699.867C1157.43 698.747 1158.11 697.77 1159.02 697.076C1159.93 696.381 1161.03 696.005 1162.16 696H1191.82H1191.83ZM1187.91 707.143H1166.09L1160.01 726.832L1155.91 728.916C1153.89 729.943 1151.95 731.112 1150.09 732.415L1146.3 735.089L1126.87 730.721L1115.95 750.422L1129.27 765.777L1128.95 770.501C1128.8 772.831 1128.8 775.169 1128.95 777.499L1129.27 782.223L1115.93 797.578L1126.86 817.279L1146.29 812.922L1150.08 815.585C1151.94 816.888 1153.88 818.057 1155.9 819.084L1160 821.168L1166.09 840.857H1187.94L1194.04 821.157L1198.12 819.084C1200.14 818.06 1202.08 816.891 1203.93 815.585L1207.71 812.922L1227.15 817.279L1238.07 797.578L1224.74 782.223L1225.06 777.499C1225.21 775.165 1225.21 772.824 1225.06 770.49L1224.74 765.765L1238.08 750.422L1227.15 730.721L1207.71 735.067L1203.93 732.415C1202.08 731.109 1200.14 729.94 1198.12 728.916L1194.04 726.843L1187.93 707.143H1187.91ZM1177 740.571C1185.51 740.571 1193.68 744.093 1199.7 750.362C1205.72 756.631 1209.1 765.134 1209.1 774C1209.1 782.866 1205.72 791.369 1199.7 797.638C1193.68 803.907 1185.51 807.429 1177 807.429C1168.49 807.429 1160.32 803.907 1154.3 797.638C1148.28 791.369 1144.9 782.866 1144.9 774C1144.9 765.134 1148.28 756.631 1154.3 750.362C1160.32 744.093 1168.49 740.571 1177 740.571ZM1177 751.714C1171.32 751.714 1165.88 754.062 1161.87 758.242C1157.85 762.421 1155.6 768.089 1155.6 774C1155.6 779.911 1157.85 785.579 1161.87 789.758C1165.88 793.938 1171.32 796.286 1177 796.286C1182.68 796.286 1188.12 793.938 1192.13 789.758C1196.15 785.579 1198.4 779.911 1198.4 774C1198.4 768.089 1196.15 762.421 1192.13 758.242C1188.12 754.062 1182.68 751.714 1177 751.714Z" fill="#294FE9"/>
				<rect x="7" y="178" width="644" height="32" rx="16" fill="#D9D9D9" fill-opacity="0.35"/>
				<rect x="7" y="219" width="644" height="32" rx="16" fill="#D9D9D9" fill-opacity="0.35"/>
				<rect x="7" y="260" width="644" height="32" rx="16" fill="#D9D9D9" fill-opacity="0.35"/>
				<rect x="7" y="301" width="644" height="32" rx="16" fill="#D9D9D9" fill-opacity="0.35"/>
				<rect x="7" y="342" width="644" height="32" rx="16" fill="#D9D9D9" fill-opacity="0.35"/>
				<rect x="7" y="137" width="644" height="32" rx="16" fill="#D9D9D9" fill-opacity="0.35"/>
				<circle cx="1126" cy="328" r="210" fill="url(#paint0_linear_0_1)"/>
				<rect x="202" y="254" width="955" height="531" rx="15" fill="url(#paint1_linear_0_1)"/>
				<rect x="207" y="259" width="945" height="521" rx="10" stroke="black" stroke-opacity="0.27" stroke-width="10"/>
				<rect x="626" y="788" width="106" height="18" rx="9" fill="#FF0000"/>
				<rect x="626" y="809" width="106" height="18" rx="9" fill="#FF0000"/>
				<rect x="479" y="842" width="401" height="25" rx="12.5" fill="#294FE9"/>
				<path d="M607.5 830L625.254 842.75H589.746L607.5 830Z" fill="#294FE9"/>
				<path d="M746.5 830L764.254 842.75H728.746L746.5 830Z" fill="#294FE9"/>
				<rect x="608" y="830" width="138" height="13" fill="#294FE9"/>
				<circle cx="214.5" cy="723.5" r="30.5" fill="#FF0000"/>
				<circle cx="130.5" cy="641.5" r="17.5" fill="#FF0000"/>
				<circle cx="168" cy="682" r="20" fill="#FF0000"/>
				<rect x="262" y="422" width="186" height="277" rx="15" fill="#3719D1"/>
				<rect x="269" y="444" width="43" height="9" fill="white"/>
				<rect x="318" y="444" width="76" height="9" fill="white"/>
				<rect x="427" y="406" width="15" height="2" fill="white"/>
				<rect x="427" y="406" width="15" height="2" fill="#04D1B6"/>
				<rect x="427" y="410" width="9" height="2" fill="#04D1B6"/>
				<rect x="427" y="414" width="12" height="2" fill="#04D1B6"/>
				<rect x="427" y="418" width="7" height="2" fill="#04D1B6"/>
				<rect x="427" y="422" width="9" height="2" fill="#04D1B6"/>
				<rect x="427" y="426" width="12" height="2" fill="#04D1B6"/>
				<path d="M269 461H345V470H269V461Z" fill="#D9D9D9"/>
				<path d="M269 478H299V487H269V478Z" fill="white"/>
				<path d="M351 495H381V504H351V495Z" fill="white"/>
				<path d="M269 512H299V521H269V512Z" fill="white"/>
				<path d="M318 512H348V521H318V512Z" fill="#D9D9D9"/>
				<path d="M306 478H380V487H306V478Z" fill="#FF0000"/>
				<path d="M262 280H408V296H262V280Z" fill="#0E1A3F"/>
				<path d="M434 280H580V296H434V280Z" fill="#04D1B6"/>
				<path d="M606 280H697V296H606V280Z" fill="#FF0000"/>
				<path d="M723 280H938V296H723V280Z" fill="#3719D1"/>
				<path d="M964 280H995V296H964V280Z" fill="#FF0000"/>
				<path d="M269 529H343V538H269V529Z" fill="white"/>
				<path d="M269 495H343V504H269V495Z" fill="#294FE9"/>
				<rect x="424.5" y="402.5" width="35" height="118" stroke="#0E1A3F"/>
				<line x1="310.416" y1="512.277" x2="304.416" y2="521.277" stroke="white"/>
				<path d="M351 461H360V470H351V461Z" fill="white"/>
				<rect x="482" y="420" width="625" height="277" rx="15" fill="#3719D1"/>
				<rect x="506" y="442" width="144" height="9" fill="white"/>
				<rect x="670" y="442" width="255" height="9" fill="white"/>
				<rect x="1036" y="404" width="51" height="2" fill="white"/>
				<rect x="1036" y="404" width="51" height="2" fill="#04D1B6"/>
				<rect x="1036" y="408" width="30" height="2" fill="#04D1B6"/>
				<rect x="1036" y="412" width="40" height="2" fill="#04D1B6"/>
				<rect x="1036" y="416" width="24" height="2" fill="#04D1B6"/>
				<rect x="1036" y="420" width="30" height="2" fill="#04D1B6"/>
				<rect x="1036" y="424" width="40" height="2" fill="#04D1B6"/>
				<rect x="1036" y="428" width="51" height="2" fill="#04D1B6"/>
				<rect x="1036" y="432" width="30" height="2" fill="#04D1B6"/>
				<rect x="1036" y="436" width="40" height="2" fill="#04D1B6"/>
				<rect x="1036" y="440" width="24" height="2" fill="#04D1B6"/>
				<rect x="1036" y="444" width="30" height="2" fill="#04D1B6"/>
				<rect x="1036" y="448" width="40" height="2" fill="#04D1B6"/>
				<rect x="1036" y="452" width="51" height="2" fill="#04D1B6"/>
				<rect x="1036" y="456" width="30" height="2" fill="#04D1B6"/>
				<rect x="1036" y="460" width="40" height="2" fill="#04D1B6"/>
				<rect x="1036" y="464" width="24" height="2" fill="#04D1B6"/>
				<rect x="1036" y="468" width="30" height="2" fill="#04D1B6"/>
				<rect x="1036" y="472" width="40" height="2" fill="#04D1B6"/>
				<rect x="1036" y="476" width="51" height="2" fill="#04D1B6"/>
				<rect x="1036" y="480" width="30" height="2" fill="#04D1B6"/>
				<rect x="1036" y="484" width="40" height="2" fill="#04D1B6"/>
				<rect x="1036" y="488" width="24" height="2" fill="#04D1B6"/>
				<rect x="1036" y="492" width="30" height="2" fill="#04D1B6"/>
				<rect x="1036" y="496" width="40" height="2" fill="#04D1B6"/>
				<path d="M506 459H761V468H506V459Z" fill="#D9D9D9"/>
				<path d="M506 476H606V485H506V476Z" fill="white"/>
				<path d="M781 493H959V502H781V493Z" fill="white"/>
				<path d="M506 510H606V519H506V510Z" fill="white"/>
				<path d="M670 510H853V519H670V510Z" fill="#D9D9D9"/>
				<path d="M630 476H878V485H630V476Z" fill="#FF0000"/>
				<path d="M506 527H790V536H506V527Z" fill="white"/>
				<path d="M506 493H774V502H506V493Z" fill="#294FE9"/>
				<rect x="1026.5" y="400.5" width="120" height="118" stroke="#0E1A3F"/>
				<line y1="-0.5" x2="22.07" y2="-0.5" transform="matrix(-0.913074 0.407794 -0.980863 -0.194698 643.212 510)" stroke="white"/>
				<path d="M781 459H811V468H781V459Z" fill="white"/>
				<rect x="506" y="544" width="144" height="9" fill="white"/>
				<rect x="670" y="544" width="255" height="9" fill="white"/>
				<path d="M506 561H761V570H506V561Z" fill="#D9D9D9"/>
				<path d="M506 578H606V587H506V578Z" fill="white"/>
				<path d="M781 595H882V604H781V595Z" fill="white"/>
				<path d="M506 612H606V621H506V612Z" fill="white"/>
				<path d="M670 612H771V621H670V612Z" fill="#D9D9D9"/>
				<path d="M630 578H823V587H630V578Z" fill="#FF0000"/>
				<path d="M506 629H840V638H506V629Z" fill="white"/>
				<path d="M506 595H754V604H506V595Z" fill="#294FE9"/>
				<line y1="-0.5" x2="22.07" y2="-0.5" transform="matrix(-0.913074 0.407794 -0.980863 -0.194698 643.212 612)" stroke="white"/>
				<path d="M781 561H903V570H781V561Z" fill="white"/>
				<path opacity="0.08" d="M919.001 0C921.941 9.2688e-05 924.806 0.933706 927.182 2.66639C929.558 4.39907 931.323 6.8414 932.223 9.64164L947.501 57.1274C953.918 60.2672 960.057 63.796 965.918 67.7694L1014.7 57.2664C1017.57 56.6521 1020.57 56.9669 1023.26 58.1653C1025.94 59.3637 1028.18 61.3839 1029.64 63.9349L1068.14 130.593C1069.61 133.142 1070.23 136.093 1069.92 139.019C1069.61 141.946 1068.37 144.697 1066.39 146.875L1032.92 183.83C1033.41 190.917 1033.41 198.028 1032.92 205.114L1066.39 242.125C1068.37 244.303 1069.61 247.054 1069.92 249.981C1070.23 252.907 1069.61 255.858 1068.14 258.407L1029.64 325.093C1028.17 327.639 1025.94 329.653 1023.25 330.846C1020.56 332.04 1017.57 332.35 1014.7 331.734L965.918 321.231C960.085 325.176 953.918 328.733 947.529 331.873L932.223 379.358C931.323 382.159 929.558 384.601 927.182 386.334C924.806 388.066 921.941 389 919.001 389H841.999C839.059 389 836.194 388.066 833.818 386.334C831.442 384.601 829.677 382.159 828.777 379.358L813.527 331.9C807.127 328.77 800.954 325.196 795.054 321.203L746.303 331.734C743.427 332.348 740.431 332.033 737.745 330.835C735.059 329.636 732.823 327.616 731.359 325.065L692.858 258.407C691.388 255.858 690.765 252.907 691.08 249.981C691.394 247.054 692.63 244.303 694.608 242.125L728.081 205.114C727.596 198.046 727.596 190.954 728.081 183.886L694.608 146.875C692.63 144.697 691.394 141.946 691.08 139.019C690.765 136.093 691.388 133.142 692.858 130.593L731.359 63.9071C732.827 61.3612 735.065 59.3468 737.75 58.1535C740.436 56.9602 743.43 56.6496 746.303 57.2664L795.054 67.7971C800.943 63.8238 807.11 60.2394 813.527 57.0996L828.805 9.64164C829.702 6.85042 831.458 4.41455 833.823 2.68271C836.188 0.950866 839.041 0.0118275 841.972 0H918.973H919.001ZM908.834 27.7857H852.166L836.388 76.8831L825.749 82.079C820.519 84.6391 815.47 87.5541 810.638 90.8037L800.804 97.4723L750.359 86.5803L722.025 135.705L756.609 173.994L755.776 185.775C755.377 191.585 755.377 197.415 755.776 203.225L756.609 215.006L721.97 253.295L750.331 302.42L800.776 291.556L810.61 298.196C815.442 301.446 820.491 304.361 825.721 306.921L836.36 312.117L852.166 361.214H908.889L924.723 312.089L935.334 306.921C940.559 304.367 945.599 301.452 950.418 298.196L960.224 291.556L1010.7 302.42L1039.03 253.295L1004.42 215.006L1005.25 203.225C1005.65 197.406 1005.65 191.566 1005.25 185.747L1004.42 173.966L1039.06 135.705L1010.7 86.5803L960.224 97.4167L950.418 90.8037C945.599 87.5476 940.559 84.6323 935.334 82.079L924.723 76.9108L908.862 27.7857H908.834ZM880.5 111.143C902.602 111.143 923.798 119.925 939.427 135.558C955.055 151.19 963.835 172.392 963.835 194.5C963.835 216.608 955.055 237.81 939.427 253.442C923.798 269.075 902.602 277.857 880.5 277.857C858.398 277.857 837.202 269.075 821.573 253.442C805.945 237.81 797.165 216.608 797.165 194.5C797.165 172.392 805.945 151.19 821.573 135.558C837.202 119.925 858.398 111.143 880.5 111.143ZM880.5 138.929C865.765 138.929 851.634 144.783 841.216 155.205C830.797 165.627 824.943 179.762 824.943 194.5C824.943 209.238 830.797 223.373 841.216 233.795C851.634 244.217 865.765 250.071 880.5 250.071C895.234 250.071 909.365 244.217 919.784 233.795C930.203 223.373 936.056 209.238 936.056 194.5C936.056 179.762 930.203 165.627 919.784 155.205C909.365 144.783 895.234 138.929 880.5 138.929Z" fill="#294FE9"/>
				<path d="M281 345.2V330H276C275.093 330 274.253 330.147 273.48 330.44C272.733 330.707 272.08 331.147 271.52 331.76C270.987 332.373 270.56 333.16 270.24 334.12C269.947 335.08 269.8 336.24 269.8 337.6C269.8 338.96 269.947 340.12 270.24 341.08C270.56 342.04 270.987 342.827 271.52 343.44C272.08 344.053 272.733 344.507 273.48 344.8C274.253 345.067 275.093 345.2 276 345.2H281ZM276 348C274.16 348 272.48 347.76 270.96 347.28C269.467 346.8 268.187 346.107 267.12 345.2C266.053 344.293 265.227 343.2 264.64 341.92C264.08 340.64 263.8 339.2 263.8 337.6C263.8 336 264.08 334.56 264.64 333.28C265.227 332 266.053 330.907 267.12 330C268.187 329.093 269.467 328.4 270.96 327.92C272.48 327.44 274.16 327.2 276 327.2H281V320H286.6V348H276ZM304.183 346C305.489 346 306.703 345.773 307.823 345.32C308.969 344.867 310.089 344.227 311.183 343.4L312.783 345.8C312.276 346.253 311.676 346.667 310.983 347.04C310.316 347.413 309.583 347.733 308.783 348C308.009 348.24 307.196 348.427 306.343 348.56C305.489 348.72 304.636 348.8 303.783 348.8C301.889 348.8 300.156 348.547 298.583 348.04C297.036 347.56 295.716 346.853 294.623 345.92C293.529 344.96 292.676 343.787 292.063 342.4C291.476 341.013 291.183 339.413 291.183 337.6C291.183 335.813 291.463 334.227 292.023 332.84C292.609 331.427 293.409 330.253 294.423 329.32C295.463 328.36 296.689 327.64 298.103 327.16C299.516 326.653 301.076 326.4 302.783 326.4C304.383 326.4 305.889 326.64 307.303 327.12C308.716 327.6 309.943 328.307 310.983 329.24C312.023 330.147 312.849 331.253 313.463 332.56C314.076 333.867 314.383 335.347 314.383 337V339.8H297.303C297.623 342.013 298.383 343.6 299.583 344.56C300.809 345.52 302.343 346 304.183 346ZM302.783 329C302.009 329 301.289 329.147 300.623 329.44C299.956 329.733 299.369 330.2 298.863 330.84C298.383 331.48 297.983 332.307 297.663 333.32C297.369 334.333 297.209 335.56 297.183 337H308.383C308.383 335.613 308.223 334.413 307.903 333.4C307.583 332.387 307.156 331.56 306.623 330.92C306.116 330.253 305.516 329.773 304.823 329.48C304.156 329.16 303.476 329 302.783 329ZM332.598 348H323.798L315.798 327.2H321.398L327.998 344.6H328.398L334.998 327.2H340.598L332.598 348ZM361.984 345.4C358.784 345.4 356.251 344.653 354.384 343.16C352.518 341.667 351.584 339.413 351.584 336.4C351.584 333.413 352.518 331.173 354.384 329.68C356.251 328.16 358.784 327.4 361.984 327.4H370.384V342.6C371.184 342.6 371.918 342.467 372.584 342.2C373.251 341.933 373.811 341.507 374.264 340.92C374.744 340.333 375.118 339.573 375.384 338.64C375.651 337.707 375.784 336.56 375.784 335.2C375.784 333.253 375.451 331.493 374.784 329.92C374.144 328.347 373.211 327 371.984 325.88C370.758 324.76 369.264 323.907 367.504 323.32C365.744 322.707 363.771 322.4 361.584 322.4C359.371 322.4 357.384 322.707 355.624 323.32C353.891 323.933 352.411 324.827 351.184 326C349.958 327.147 349.011 328.56 348.344 330.24C347.704 331.92 347.384 333.84 347.384 336C347.384 338.16 347.704 340.08 348.344 341.76C349.011 343.44 349.958 344.867 351.184 346.04C352.411 347.187 353.891 348.067 355.624 348.68C357.384 349.293 359.371 349.6 361.584 349.6C362.518 349.6 363.424 349.533 364.304 349.4C365.184 349.293 365.958 349.16 366.624 349C367.398 348.84 368.118 348.64 368.784 348.4L369.584 351.6C368.918 351.84 368.158 352.04 367.304 352.2C366.584 352.36 365.731 352.493 364.744 352.6C363.784 352.733 362.731 352.8 361.584 352.8C358.784 352.8 356.238 352.387 353.944 351.56C351.651 350.733 349.691 349.573 348.064 348.08C346.464 346.587 345.211 344.813 344.304 342.76C343.424 340.707 342.984 338.453 342.984 336C342.984 333.547 343.424 331.293 344.304 329.24C345.211 327.187 346.464 325.413 348.064 323.92C349.691 322.427 351.651 321.267 353.944 320.44C356.238 319.613 358.784 319.2 361.584 319.2C364.384 319.2 366.931 319.613 369.224 320.44C371.518 321.267 373.464 322.4 375.064 323.84C376.691 325.28 377.944 326.973 378.824 328.92C379.731 330.867 380.184 332.96 380.184 335.2C380.184 336.907 379.931 338.4 379.424 339.68C378.944 340.933 378.264 341.987 377.384 342.84C376.504 343.693 375.464 344.333 374.264 344.76C373.064 345.187 371.771 345.4 370.384 345.4H361.984ZM364.784 342.6V330.2H361.984C361.424 330.2 360.878 330.32 360.344 330.56C359.838 330.8 359.371 331.173 358.944 331.68C358.544 332.16 358.211 332.8 357.944 333.6C357.704 334.373 357.584 335.307 357.584 336.4C357.584 337.493 357.704 338.44 357.944 339.24C358.211 340.013 358.544 340.653 358.944 341.16C359.371 341.667 359.838 342.04 360.344 342.28C360.878 342.493 361.424 342.6 361.984 342.6H364.784ZM389.795 331.6C389.795 332.213 390.062 332.773 390.595 333.28C391.155 333.787 392.089 334.227 393.395 334.6L399.595 336.4C401.515 336.96 402.995 337.72 404.035 338.68C405.075 339.64 405.595 340.88 405.595 342.4C405.595 343.36 405.395 344.24 404.995 345.04C404.595 345.813 403.942 346.48 403.035 347.04C402.129 347.6 400.955 348.027 399.515 348.32C398.075 348.64 396.302 348.8 394.195 348.8C393.102 348.8 392.022 348.72 390.955 348.56C389.915 348.4 388.915 348.187 387.955 347.92C387.022 347.627 386.169 347.307 385.395 346.96C384.622 346.587 383.955 346.2 383.395 345.8L384.995 343.4C386.115 344.093 387.422 344.707 388.915 345.24C390.435 345.747 392.195 346 394.195 346C396.195 346 397.595 345.733 398.395 345.2C399.195 344.667 399.595 344 399.595 343.2C399.595 342.587 399.315 342.04 398.755 341.56C398.195 341.053 397.209 340.6 395.795 340.2L389.595 338.4C387.889 337.893 386.489 337.173 385.395 336.24C384.329 335.28 383.795 334 383.795 332.4C383.795 331.547 383.982 330.76 384.355 330.04C384.755 329.293 385.369 328.653 386.195 328.12C387.022 327.587 388.075 327.173 389.355 326.88C390.635 326.56 392.182 326.4 393.995 326.4C396.209 326.4 398.209 326.707 399.995 327.32C401.809 327.907 403.275 328.6 404.395 329.4L402.795 331.8C401.702 331.107 400.462 330.507 399.075 330C397.689 329.467 395.995 329.2 393.995 329.2C392.582 329.2 391.529 329.427 390.835 329.88C390.142 330.333 389.795 330.907 389.795 331.6ZM426.005 347.2H420.805C416.991 347.2 414.165 346.52 412.325 345.16C410.511 343.773 409.605 341.72 409.605 339V327.2H415.205V339C415.205 340.92 415.685 342.307 416.645 343.16C417.605 343.987 418.991 344.4 420.805 344.4H426.005V327.2H431.605V347.6C431.605 348.853 431.365 349.987 430.885 351C430.405 352.04 429.685 352.933 428.725 353.68C427.791 354.427 426.605 355 425.165 355.4C423.751 355.8 422.098 356 420.205 356C419.565 356 418.871 355.947 418.125 355.84C417.405 355.76 416.671 355.613 415.925 355.4C415.178 355.213 414.445 354.96 413.725 354.64C413.031 354.347 412.391 354 411.805 353.6L413.405 351.2C414.311 351.813 415.325 352.293 416.445 352.64C417.565 353.013 418.685 353.2 419.805 353.2C421.805 353.2 423.338 352.747 424.405 351.84C425.471 350.933 426.005 349.52 426.005 347.6V347.2ZM442.022 331.6C442.022 332.213 442.289 332.773 442.822 333.28C443.382 333.787 444.315 334.227 445.622 334.6L451.822 336.4C453.742 336.96 455.222 337.72 456.262 338.68C457.302 339.64 457.822 340.88 457.822 342.4C457.822 343.36 457.622 344.24 457.222 345.04C456.822 345.813 456.169 346.48 455.262 347.04C454.355 347.6 453.182 348.027 451.742 348.32C450.302 348.64 448.529 348.8 446.422 348.8C445.329 348.8 444.249 348.72 443.182 348.56C442.142 348.4 441.142 348.187 440.182 347.92C439.249 347.627 438.395 347.307 437.622 346.96C436.849 346.587 436.182 346.2 435.622 345.8L437.222 343.4C438.342 344.093 439.649 344.707 441.142 345.24C442.662 345.747 444.422 346 446.422 346C448.422 346 449.822 345.733 450.622 345.2C451.422 344.667 451.822 344 451.822 343.2C451.822 342.587 451.542 342.04 450.982 341.56C450.422 341.053 449.435 340.6 448.022 340.2L441.822 338.4C440.115 337.893 438.715 337.173 437.622 336.24C436.555 335.28 436.022 334 436.022 332.4C436.022 331.547 436.209 330.76 436.582 330.04C436.982 329.293 437.595 328.653 438.422 328.12C439.249 327.587 440.302 327.173 441.582 326.88C442.862 326.56 444.409 326.4 446.222 326.4C448.435 326.4 450.435 326.707 452.222 327.32C454.035 327.907 455.502 328.6 456.622 329.4L455.022 331.8C453.929 331.107 452.689 330.507 451.302 330C449.915 329.467 448.222 329.2 446.222 329.2C444.809 329.2 443.755 329.427 443.062 329.88C442.369 330.333 442.022 330.907 442.022 331.6ZM462.85 330H459.05V327.2H462.85V320.8H468.45V327.2H474.65V330H468.45V340.4C468.45 341.413 468.557 342.28 468.77 343C469.01 343.693 469.317 344.267 469.69 344.72C470.09 345.147 470.543 345.467 471.05 345.68C471.557 345.893 472.09 346 472.65 346C473.45 346 474.223 345.88 474.97 345.64C475.717 345.373 476.343 345.093 476.85 344.8L478.05 347.4C477.25 347.8 476.33 348.133 475.29 348.4C474.277 348.667 473.263 348.8 472.25 348.8C469.237 348.8 466.917 348.053 465.29 346.56C463.663 345.067 462.85 343.013 462.85 340.4V330ZM496.845 351.6H478.445V348H496.845V351.6Z" fill="url(#paint2_linear_0_1)"/>
				<rect x="520" y="311" width="94" height="54" rx="15" fill="url(#paint3_linear_0_1)"/>
				<path d="M581 317H588.636L605 337.743L588.636 358H581L597.364 337.743L581 317Z" fill="white"/>
				<path d="M552 358H544.364L528 337.257L544.364 317H552L535.636 337.257L552 358Z" fill="white"/>
				<path d="M567.054 314H575L565.022 359H558L567.054 314Z" fill="white"/>
				<rect x="56.5" y="563.5" width="140" height="49" rx="14.5" fill="#04D1B6" stroke="url(#paint4_linear_0_1)"/>
				<g filter="url(#filter0_d_0_1)">
					<path d="M91.1086 572V600H85.3086V587.8H68.9086V600H63.1086V572H68.9086V584.8H85.3086V572H91.1086ZM121.702 575H110.902V600H105.102V575H94.3023V572H121.702V575ZM143.905 596H144.305L154.705 572H163.305V600H157.505V577.6H157.105L147.505 600H140.705L131.105 577.6H130.705V600H124.905V572H133.505L143.905 596ZM191.89 597V600H168.89V572H174.69V597H191.89Z" fill="#D9D9D9"/>
				</g>
				<rect x="41.5" y="505.5" width="140" height="49" rx="14.5" fill="#04D1B6" stroke="#2719D1"/>
				<g filter="url(#filter1_d_0_1)">
					<path d="M84.4992 539.8C86.3126 539.8 88.0459 539.493 89.6992 538.88C91.3792 538.24 92.9792 537.213 94.4992 535.8L96.4992 538.2C94.9792 539.613 93.1392 540.733 90.9792 541.56C88.8192 542.387 86.5259 542.8 84.0992 542.8C81.5926 542.8 79.3259 542.48 77.2992 541.84C75.2992 541.2 73.5792 540.253 72.1392 539C70.7259 537.747 69.6326 536.2 68.8592 534.36C68.0859 532.52 67.6992 530.4 67.6992 528C67.6992 525.6 68.0726 523.48 68.8192 521.64C69.5926 519.8 70.6726 518.253 72.0592 517C73.4726 515.747 75.1659 514.8 77.1392 514.16C79.1126 513.52 81.2992 513.2 83.6992 513.2C86.1259 513.2 88.4192 513.613 90.5792 514.44C92.7392 515.267 94.5792 516.387 96.0992 517.8L94.0992 520.2C92.5792 518.787 90.9792 517.773 89.2992 517.16C87.6459 516.52 85.9126 516.2 84.0992 516.2C82.6592 516.2 81.3126 516.44 80.0592 516.92C78.8059 517.373 77.7259 518.08 76.8192 519.04C75.9126 520 75.1926 521.227 74.6592 522.72C74.1526 524.187 73.8992 525.947 73.8992 528C73.8992 530.053 74.1526 531.827 74.6592 533.32C75.1926 534.787 75.9259 536 76.8592 536.96C77.8192 537.92 78.9392 538.64 80.2192 539.12C81.5259 539.573 82.9526 539.8 84.4992 539.8ZM126.101 534.6C126.101 535.747 125.861 536.827 125.381 537.84C124.901 538.827 124.114 539.693 123.021 540.44C121.954 541.16 120.554 541.733 118.821 542.16C117.114 542.587 115.007 542.8 112.501 542.8C111.087 542.8 109.701 542.693 108.341 542.48C107.007 542.267 105.727 541.96 104.501 541.56C103.301 541.16 102.181 540.68 101.141 540.12C100.127 539.533 99.2474 538.893 98.5008 538.2L100.501 535.8C102.021 537.107 103.794 538.107 105.821 538.8C107.847 539.467 110.074 539.8 112.501 539.8C115.194 539.8 117.101 539.427 118.221 538.68C119.341 537.933 119.901 536.907 119.901 535.6C119.901 534.587 119.461 533.733 118.581 533.04C117.701 532.347 116.207 531.667 114.101 531L106.501 528.6C103.994 527.8 102.101 526.787 100.821 525.56C99.5408 524.307 98.9008 522.72 98.9008 520.8C98.9008 519.813 99.1274 518.867 99.5808 517.96C100.061 517.027 100.794 516.213 101.781 515.52C102.767 514.8 104.021 514.24 105.541 513.84C107.087 513.413 108.941 513.2 111.101 513.2C112.407 513.2 113.701 513.307 114.981 513.52C116.287 513.733 117.527 514.04 118.701 514.44C119.901 514.84 121.007 515.333 122.021 515.92C123.061 516.48 123.954 517.107 124.701 517.8L122.701 520.2C121.181 518.893 119.474 517.907 117.581 517.24C115.687 516.547 113.527 516.2 111.101 516.2C109.101 516.2 107.594 516.547 106.581 517.24C105.594 517.933 105.101 518.787 105.101 519.8C105.101 520.36 105.194 520.853 105.381 521.28C105.567 521.68 105.874 522.067 106.301 522.44C106.754 522.787 107.341 523.12 108.061 523.44C108.781 523.733 109.674 524.053 110.741 524.4L118.301 526.8C120.727 527.573 122.634 528.587 124.021 529.84C125.407 531.093 126.101 532.68 126.101 534.6ZM156.101 534.6C156.101 535.747 155.861 536.827 155.381 537.84C154.901 538.827 154.114 539.693 153.021 540.44C151.954 541.16 150.554 541.733 148.821 542.16C147.114 542.587 145.007 542.8 142.501 542.8C141.087 542.8 139.701 542.693 138.341 542.48C137.007 542.267 135.727 541.96 134.501 541.56C133.301 541.16 132.181 540.68 131.141 540.12C130.127 539.533 129.247 538.893 128.501 538.2L130.501 535.8C132.021 537.107 133.794 538.107 135.821 538.8C137.847 539.467 140.074 539.8 142.501 539.8C145.194 539.8 147.101 539.427 148.221 538.68C149.341 537.933 149.901 536.907 149.901 535.6C149.901 534.587 149.461 533.733 148.581 533.04C147.701 532.347 146.207 531.667 144.101 531L136.501 528.6C133.994 527.8 132.101 526.787 130.821 525.56C129.541 524.307 128.901 522.72 128.901 520.8C128.901 519.813 129.127 518.867 129.581 517.96C130.061 517.027 130.794 516.213 131.781 515.52C132.767 514.8 134.021 514.24 135.541 513.84C137.087 513.413 138.941 513.2 141.101 513.2C142.407 513.2 143.701 513.307 144.981 513.52C146.287 513.733 147.527 514.04 148.701 514.44C149.901 514.84 151.007 515.333 152.021 515.92C153.061 516.48 153.954 517.107 154.701 517.8L152.701 520.2C151.181 518.893 149.474 517.907 147.581 517.24C145.687 516.547 143.527 516.2 141.101 516.2C139.101 516.2 137.594 516.547 136.581 517.24C135.594 517.933 135.101 518.787 135.101 519.8C135.101 520.36 135.194 520.853 135.381 521.28C135.567 521.68 135.874 522.067 136.301 522.44C136.754 522.787 137.341 523.12 138.061 523.44C138.781 523.733 139.674 524.053 140.741 524.4L148.301 526.8C150.727 527.573 152.634 528.587 154.021 529.84C155.407 531.093 156.101 532.68 156.101 534.6Z" fill="#D9D9D9"/>
				</g>
				<rect x="23.5" y="447.5" width="140" height="49" rx="14.5" fill="#04D1B6" stroke="#2719D1"/>
				<g filter="url(#filter2_d_0_1)">
					<path d="M75.6969 484.8C74.7369 484.8 73.7769 484.72 72.8169 484.56C71.8835 484.4 70.9769 484.173 70.0969 483.88C69.2169 483.587 68.4035 483.253 67.6569 482.88C66.9102 482.48 66.2569 482.053 65.6969 481.6L67.4969 479.2C68.6969 480.107 69.9102 480.773 71.1369 481.2C72.3902 481.6 73.7769 481.8 75.2969 481.8C76.3902 481.8 77.4035 481.64 78.3369 481.32C79.2969 480.973 80.1235 480.427 80.8169 479.68C81.5369 478.933 82.0969 477.987 82.4969 476.84C82.8969 475.667 83.0969 474.253 83.0969 472.6V459H73.6969V456H88.8969V472.6C88.8969 474.653 88.5769 476.44 87.9369 477.96C87.3235 479.48 86.4435 480.747 85.2969 481.76C84.1502 482.773 82.7635 483.533 81.1369 484.04C79.5102 484.547 77.6969 484.8 75.6969 484.8ZM120.503 476.6C120.503 477.747 120.263 478.827 119.783 479.84C119.303 480.827 118.516 481.693 117.423 482.44C116.356 483.16 114.956 483.733 113.223 484.16C111.516 484.587 109.41 484.8 106.903 484.8C105.49 484.8 104.103 484.693 102.743 484.48C101.41 484.267 100.13 483.96 98.9031 483.56C97.7031 483.16 96.5831 482.68 95.5431 482.12C94.5298 481.533 93.6498 480.893 92.9031 480.2L94.9031 477.8C96.4231 479.107 98.1965 480.107 100.223 480.8C102.25 481.467 104.476 481.8 106.903 481.8C109.596 481.8 111.503 481.427 112.623 480.68C113.743 479.933 114.303 478.907 114.303 477.6C114.303 476.587 113.863 475.733 112.983 475.04C112.103 474.347 110.61 473.667 108.503 473L100.903 470.6C98.3965 469.8 96.5031 468.787 95.2231 467.56C93.9431 466.307 93.3031 464.72 93.3031 462.8C93.3031 461.813 93.5298 460.867 93.9831 459.96C94.4631 459.027 95.1965 458.213 96.1831 457.52C97.1698 456.8 98.4231 456.24 99.9431 455.84C101.49 455.413 103.343 455.2 105.503 455.2C106.81 455.2 108.103 455.307 109.383 455.52C110.69 455.733 111.93 456.04 113.103 456.44C114.303 456.84 115.41 457.333 116.423 457.92C117.463 458.48 118.356 459.107 119.103 459.8L117.103 462.2C115.583 460.893 113.876 459.907 111.983 459.24C110.09 458.547 107.93 458.2 105.503 458.2C103.503 458.2 101.996 458.547 100.983 459.24C99.9965 459.933 99.5031 460.787 99.5031 461.8C99.5031 462.36 99.5965 462.853 99.7831 463.28C99.9698 463.68 100.276 464.067 100.703 464.44C101.156 464.787 101.743 465.12 102.463 465.44C103.183 465.733 104.076 466.053 105.143 466.4L112.703 468.8C115.13 469.573 117.036 470.587 118.423 471.84C119.81 473.093 120.503 474.68 120.503 476.6Z" fill="#D9D9D9"/>
				</g>
				<rect x="0.5" y="389.5" width="140" height="49" rx="14.5" fill="#04D1B6" stroke="#2719D1"/>
				<g filter="url(#filter3_d_0_1)">
					<path d="M39.3016 398C41.3016 398 43.0882 398.227 44.6616 398.68C46.2616 399.107 47.6082 399.747 48.7016 400.6C49.7949 401.427 50.6349 402.453 51.2216 403.68C51.8082 404.88 52.1016 406.253 52.1016 407.8C52.1016 409.347 51.8082 410.733 51.2216 411.96C50.6349 413.16 49.7949 414.187 48.7016 415.04C47.6082 415.867 46.2616 416.507 44.6616 416.96C43.0882 417.387 41.3016 417.6 39.3016 417.6H30.7016V426H24.9016V398H39.3016ZM30.7016 401V414.6H39.3016C41.4082 414.6 43.0349 414.053 44.1816 412.96C45.3549 411.84 45.9416 410.12 45.9416 407.8C45.9416 405.48 45.3549 403.773 44.1816 402.68C43.0349 401.56 41.4082 401 39.3016 401H30.7016ZM84.5031 398V426H78.7031V413.8H62.3031V426H56.5031V398H62.3031V410.8H78.7031V398H84.5031ZM104.497 398C106.497 398 108.284 398.227 109.857 398.68C111.457 399.107 112.804 399.747 113.897 400.6C114.99 401.427 115.83 402.453 116.417 403.68C117.004 404.88 117.297 406.253 117.297 407.8C117.297 409.347 117.004 410.733 116.417 411.96C115.83 413.16 114.99 414.187 113.897 415.04C112.804 415.867 111.457 416.507 109.857 416.96C108.284 417.387 106.497 417.6 104.497 417.6H95.8969V426H90.0969V398H104.497ZM95.8969 401V414.6H104.497C106.604 414.6 108.23 414.053 109.377 412.96C110.55 411.84 111.137 410.12 111.137 407.8C111.137 405.48 110.55 403.773 109.377 402.68C108.23 401.56 106.604 401 104.497 401H95.8969Z" fill="#D9D9D9"/>
				</g>
				<defs>
					<filter id="filter0_d_0_1" x="59.1084" y="572" width="136.781" height="36" filterunits="userSpaceOnUse" color-interpolation-filters="sRGB">
						<feFlood flood-opacity="0" result="BackgroundImageFix"/>
						<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
						<feOffset dy="4"/>
						<feGaussianBlur stddeviation="2"/>
						<feComposite in2="hardAlpha" operator="out"/>
						<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
						<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_0_1"/>
						<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_0_1" result="shape"/>
					</filter>
					<filter id="filter1_d_0_1" x="63.6992" y="513.2" width="96.4014" height="37.6001" filterunits="userSpaceOnUse" color-interpolation-filters="sRGB">
						<feFlood flood-opacity="0" result="BackgroundImageFix"/>
						<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
						<feOffset dy="4"/>
						<feGaussianBlur stddeviation="2"/>
						<feComposite in2="hardAlpha" operator="out"/>
						<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
						<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_0_1"/>
						<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_0_1" result="shape"/>
					</filter>
					<filter id="filter2_d_0_1" x="61.6968" y="455.2" width="62.8062" height="37.6001" filterunits="userSpaceOnUse" color-interpolation-filters="sRGB">
						<feFlood flood-opacity="0" result="BackgroundImageFix"/>
						<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
						<feOffset dy="4"/>
						<feGaussianBlur stddeviation="2"/>
						<feComposite in2="hardAlpha" operator="out"/>
						<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
						<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_0_1"/>
						<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_0_1" result="shape"/>
					</filter>
					<filter id="filter3_d_0_1" x="20.9014" y="398" width="100.396" height="36" filterunits="userSpaceOnUse" color-interpolation-filters="sRGB">
						<feFlood flood-opacity="0" result="BackgroundImageFix"/>
						<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
						<feOffset dy="4"/>
						<feGaussianBlur stddeviation="2"/>
						<feComposite in2="hardAlpha" operator="out"/>
						<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
						<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_0_1"/>
						<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_0_1" result="shape"/>
					</filter>
					<linearGradient id="paint0_linear_0_1" x1="1336" y1="328" x2="916" y2="328" gradientunits="userSpaceOnUse">
						<stop stop-color="#3498DB"/>
						<stop offset="1" stop-color="#04D1B6"/>
					</linearGradient>
					<linearGradient id="paint1_linear_0_1" x1="1153" y1="261" x2="202" y2="785" gradientunits="userSpaceOnUse">
						<stop offset="0.15" stop-color="#294FE9"/>
						<stop offset="1" stop-color="#04103F"/>
					</linearGradient>
					<linearGradient id="paint2_linear_0_1" x1="262" y1="335.5" x2="497" y2="335.5" gradientunits="userSpaceOnUse">
						<stop offset="0.015" stop-color="#294FB6"/>
						<stop offset="1" stop-color="#090D1F"/>
					</linearGradient>
					<linearGradient id="paint3_linear_0_1" x1="610.661" y1="311" x2="583.742" y2="386.534" gradientunits="userSpaceOnUse">
						<stop stop-color="#04D1B6"/>
						<stop offset="1" stop-color="#2819D1"/>
					</linearGradient>
					<linearGradient id="paint4_linear_0_1" x1="126.5" y1="563" x2="126.5" y2="613" gradientunits="userSpaceOnUse">
						<stop stop-color="#2719D1"/>
						<stop offset="1" stop-color="#DEF3FC"/>
					</linearGradient>
				</defs>
			</svg>
		</div>
		<div class='m5p'>
			<h2>Pourquoi choisir un site vitrine ?</h2>
			<h3>Le site vitrine est idéal pour :</h3>
			<ul>
				<li>
					<p>&#x2705 Présenter votre activité et vos services.</p>
				</li>
				<li>
					<p>&#x2705 Gagner en visibilité sur Google et attirer de nouveaux clients.</p>
				</li>
				<li>
					<p>&#x2705 Renforcer votre image de marque avec un design professionnel.</p>
				</li>
				<li>
					<p>&#x2705 Faciliter la prise de contact grâce à des formulaires et des appels à l’action.</p>
				</li>
			</ul>
		</div>
		<!-- line separation -->
		<div class='m5p large-12 flex justify-center'>
			<svg width="2155" height="155" viewbox="0 0 2155 155" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M1.32109 75.7902C1.32109 75.7902 232.068 175.406 657.666 146.266C1083.26 117.127 1108 15.8059 1413.4 3.85025C1706.13 -7.60937 2154.5 78.5001 2154.5 78.5001" stroke="#F6F6F6" stroke-width="5"/>
			</svg>
		</div>

		<!-- Section nos engagements -->
		<div class="why-choose-us m5p large-12">
			<h2 class=' center-text'>Nos engagements</h2>
			<div class="features">
				<div class="feature">
					<i class="fa-solid fa-pen-nib"></i>
					<h3 class='center-text'>Design Personnalisé
					</h3>
					<p>Un site qui vous ressemble.</p>
				</div>
				<div class="feature">
					<i class="fa-solid fa-mobile-screen"></i>
					<h3 class='center-text'>Responsive & Mobile-Friendly
					</h3>
					<p>Adapté à tous les écrans (ordinateur, tablette, mobile).</p>
				</div>
				<div class="feature">
					<i class="fa-solid fa-bolt"></i>
					<h3 class='center-text'>Rapidité et performances
					</h3>
					<p>Un temps de chargement optimisé pour une meilleure expérience utilisateur.</p>
				</div>
				<div class="feature">
					<i class="fa-solid fa-magnifying-glass"></i>
					<h3 class='center-text'>SEO Optimisé</h3>
					<p>Un site conçu pour être bien positionné sur Google.</p>
				</div>
				<div class="feature">
					<i class="fa-solid fa-hand-holding-hand"></i>
					<h3 class='center-text'>
						Évolutif et Administrable</h3>
					<p>Possibilité d’ajouter du contenu facilement.</p>
				</div>
				<div class="feature">
					<i class="fa-solid fa-shield-halved"></i>
					<h3 class='center-text'>Sécurité et Fiabilité</h3>
					<p>Nous utilisons les dernières technologies pour les meilleurs preformance.</p>
				</div>
			</div>
			<a href="/contact" class="button mt20px">Demander un devis</a>
		</div>
		<!-- line separation -->
		<div class='m5p large-12 flex justify-center'>
			<svg width="2155" height="155" viewbox="0 0 2155 155" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M1.32109 75.7902C1.32109 75.7902 232.068 175.406 657.666 146.266C1083.26 117.127 1108 15.8059 1413.4 3.85025C1706.13 -7.60937 2154.5 78.5001 2154.5 78.5001" stroke="#F6F6F6" stroke-width="5"/>
			</svg>
		</div>
		<!-- Section processus de création -->
		<div class='m5p'>
			<h2>Notre processus de création</h2>
			<ul>
				<li>
					<p>&#x0031;&#xFE0F;&#x20E3;
						<strong>Analyse de vos besoins :</strong>
						Nous définissons ensemble votre projet et vos objectifs.</p>
				</li>
				<li>
					<p>&#x0032;&#xFE0F;&#x20E3;
						<strong>Conception graphique :</strong>
						Création d’un design sur-mesure adapté à votre image.</p>
				</li>
				<li>
					<p>&#x0033;&#xFE0F;&#x20E3;
						<strong>Développement :</strong>
						Intégration du site avec les meilleures technologies web.</p>
				</li>
				<li>
					<p>&#x0034;&#xFE0F;&#x20E3;
						<strong>Optimisation SEO :</strong>
						Référencement naturel pour booster votre visibilité.</p>
				</li>
				<li>
					<p>&#x0035;&#xFE0F;&#x20E3;
						<strong>Mise en ligne & Suivi :</strong>
						Accompagnement et maintenance après lancement.</p>
				</li>
			</ul>
		</div>
		<div class='m5p m5b'>
			<h2>Votre Site Clé en Main en Quelques Jours !</h2>
			<p>Que vous soyez entrepreneur, artisan ou commerçant, nous vous accompagnons de A à Z dans la création de votre site vitrine.</p>
			<p>
				<strong>Envie d’un site moderne et efficace ?
					<a href="/contact" class="button mt20px">Contactez nous</a>
					dès aujourd’hui pour un devis gratuit !</strong>
			</p>
		</div>
	</section>
{% endblock %}
