{% extends "base.html.twig" %}

{% block title %}
	devasyst | Conception de Site Vitrine - Création Web Professionnelle
{% endblock %}

{% block meta %}
	<meta name="description" content="Vous souhaitez un site vitrine moderne et performant ? devasyst vous accompagne avec une équipe experte en création web. Obtenez votre devis gratuit !">
	<link rel="canonical" href="https://www.devasyst.fr/prestations/developpement/site-vitrine">
	<meta property="og:title" content="devasyst | Conception de Site Vitrine - Création Web Professionnelle">
	<meta property="og:description" content="Besoin d’un site web performant ou d’un dépannage informatique ? dev@syst vous accompagne avec des solutions sur mesure. Contactez-nous !">
	<meta property="og:url" content="https://www.devasyst.fr/prestations/developpement/site-vitrine">
	<meta property="og:image" content="https://devasyst.fr/images/logo_new.png">
{% endblock %}

{% block body %}
	<section class="container-dev container1440 mt5p">
		<div class='hero'>
		<div class="rect-dev"></div>
			<div class='text-center flex direction-column margin-auto space-evenly large-10 medium-11 small-11 anime margin-bottom20px'>
				<h1>Un site avec une présence en ligne impactante.</h1>
				<p class='padding-bottom20px large-8 medium-10 small-12 margin-auto'>Un
					<b>site vitrine</b>
					est un site web conçu pour présenter une entreprise, ses services et son savoir-faire. Il permet d’améliorer la visibilité en ligne, d’attirer des clients et de faciliter la prise de contact, sans forcément proposer de vente en ligne.</p>
				<div class=' margin-auto'>
					<a href="/contact" class="button mt20px">Demander un devis gratuit</a>
				</div>
			</div>
			<div class='image-container large-5 medium-10 small-8 margin-auto flex justify-center'>
				<svg width="1312" height="877" viewbox="0 0 1312 877" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path opacity="0.36" d="M1169.83 669C1170.96 669 1172.07 669.374 1172.98 670.069C1173.9 670.764 1174.58 671.744 1174.92 672.867L1180.81 691.91C1183.28 693.169 1185.65 694.584 1187.91 696.177L1206.7 691.965C1207.8 691.719 1208.96 691.845 1209.99 692.326C1211.03 692.807 1211.89 693.617 1212.45 694.64L1227.28 721.371C1227.85 722.394 1228.09 723.577 1227.97 724.751C1227.85 725.924 1227.37 727.027 1226.61 727.901L1213.72 742.721C1213.9 745.563 1213.9 748.415 1213.72 751.257L1226.61 766.099C1227.37 766.973 1227.85 768.076 1227.97 769.249C1228.09 770.423 1227.85 771.606 1227.28 772.629L1212.45 799.371C1211.89 800.392 1211.03 801.2 1209.99 801.679C1208.96 802.157 1207.8 802.282 1206.7 802.035L1187.91 797.823C1185.66 799.405 1183.28 800.831 1180.82 802.09L1174.92 821.133C1174.58 822.256 1173.9 823.236 1172.98 823.931C1172.07 824.626 1170.96 825 1169.83 825H1140.17C1139.04 825 1137.93 824.626 1137.02 823.931C1136.1 823.236 1135.42 822.256 1135.08 821.133L1129.2 802.101C1126.73 800.846 1124.36 799.413 1122.08 797.811L1103.3 802.035C1102.2 802.281 1101.04 802.155 1100.01 801.674C1098.97 801.193 1098.11 800.383 1097.55 799.36L1082.72 772.629C1082.15 771.606 1081.91 770.423 1082.03 769.249C1082.15 768.076 1082.63 766.973 1083.39 766.099L1096.28 751.257C1096.1 748.422 1096.1 745.578 1096.28 742.743L1083.39 727.901C1082.63 727.027 1082.15 725.924 1082.03 724.751C1081.91 723.577 1082.15 722.394 1082.72 721.371L1097.55 694.629C1098.11 693.608 1098.97 692.8 1100.01 692.321C1101.04 691.843 1102.2 691.718 1103.3 691.965L1122.08 696.189C1124.35 694.595 1126.73 693.158 1129.2 691.899L1135.09 672.867C1135.43 671.747 1136.11 670.77 1137.02 670.076C1137.93 669.381 1139.03 669.005 1140.16 669H1169.82H1169.83ZM1165.91 680.143H1144.09L1138.01 699.832L1133.91 701.916C1131.89 702.943 1129.95 704.112 1128.09 705.415L1124.3 708.089L1104.87 703.721L1093.95 723.422L1107.27 738.777L1106.95 743.501C1106.8 745.831 1106.8 748.169 1106.95 750.499L1107.27 755.223L1093.93 770.578L1104.86 790.279L1124.29 785.922L1128.08 788.585C1129.94 789.888 1131.88 791.057 1133.9 792.084L1138 794.168L1144.09 813.857H1165.94L1172.04 794.157L1176.12 792.084C1178.14 791.06 1180.08 789.891 1181.93 788.585L1185.71 785.922L1205.15 790.279L1216.07 770.578L1202.74 755.223L1203.06 750.499C1203.21 748.165 1203.21 745.824 1203.06 743.49L1202.74 738.765L1216.08 723.422L1205.15 703.721L1185.71 708.067L1181.93 705.415C1180.08 704.109 1178.14 702.94 1176.12 701.916L1172.04 699.843L1165.93 680.143H1165.91ZM1155 713.571C1163.51 713.571 1171.68 717.093 1177.7 723.362C1183.72 729.631 1187.1 738.134 1187.1 747C1187.1 755.866 1183.72 764.368 1177.7 770.638C1171.68 776.907 1163.51 780.429 1155 780.429C1146.49 780.429 1138.32 776.907 1132.3 770.638C1126.28 764.368 1122.9 755.866 1122.9 747C1122.9 738.134 1126.28 729.631 1132.3 723.362C1138.32 717.093 1146.49 713.571 1155 713.571ZM1155 724.714C1149.32 724.714 1143.88 727.062 1139.87 731.242C1135.85 735.421 1133.6 741.089 1133.6 747C1133.6 752.911 1135.85 758.579 1139.87 762.758C1143.88 766.938 1149.32 769.286 1155 769.286C1160.68 769.286 1166.12 766.938 1170.13 762.758C1174.15 758.579 1176.4 752.911 1176.4 747C1176.4 741.089 1174.15 735.421 1170.13 731.242C1166.12 727.062 1160.68 724.714 1155 724.714Z" fill="#294FE9"/>
					<path d="M700 761H612C607.029 761 603 765.029 603 770C603 774.971 607.029 779 612 779H700C704.971 779 709 774.971 709 770C709 765.029 704.971 761 700 761Z" fill="#3719D1"/>
					<path d="M656 877C1018.3 877 1312 857.748 1312 834C1312 810.252 1018.3 791 656 791C293.701 791 0 810.252 0 834C0 857.748 293.701 877 656 877Z" fill="#DEF3FC"/>
					<path d="M844.5 816H468.5C461.596 816 456 821.596 456 828.5C456 835.404 461.596 841 468.5 841H844.5C851.404 841 857 835.404 857 828.5C857 821.596 851.404 816 844.5 816Z" fill="#294FE9"/>
					<path d="M584.754 804L602.508 816.75H567L584.754 804Z" fill="#294FE9"/>
					<path d="M723.754 804L741.508 816.75H706L723.754 804Z" fill="#294FE9"/>
					<path d="M723 804H585V817H723V804Z" fill="#294FE9"/>
					<path d="M603 791C603 786.029 607.029 782 612 782H700C704.971 782 709 786.029 709 791C709 795.971 704.971 800 700 800H612C607.029 800 603 795.971 603 791Z" fill="#3719D1"/>
					<path d="M631 80H19C10.1634 80 3 87.3873 3 96.5C3 105.613 10.1634 113 19 113H631C639.837 113 647 105.613 647 96.5C647 87.3873 639.837 80 631 80Z" fill="#D9D9D9" fill-opacity="0.35"/>
					<path d="M628 161H16C7.16344 161 0 168.163 0 177C0 185.837 7.16344 193 16 193H628C636.837 193 644 185.837 644 177C644 168.163 636.837 161 628 161Z" fill="#D9D9D9" fill-opacity="0.35"/>
					<path d="M631 241H19C10.1634 241 3 248.163 3 257C3 265.837 10.1634 273 19 273H631C639.837 273 647 265.837 647 257C647 248.163 639.837 241 631 241Z" fill="#D9D9D9" fill-opacity="0.35"/>
					<path d="M631 321H19C10.1634 321 3 328.387 3 337.5C3 346.613 10.1634 354 19 354H631C639.837 354 647 346.613 647 337.5C647 328.387 639.837 321 631 321Z" fill="#D9D9D9" fill-opacity="0.35"/>
					<path d="M628 402H16C7.16344 402 0 409.163 0 418C0 426.837 7.16344 434 16 434H628C636.837 434 644 426.837 644 418C644 409.163 636.837 402 628 402Z" fill="#D9D9D9" fill-opacity="0.35"/>
					<path d="M628 0H16C7.16344 0 0 7.16344 0 16C0 24.8366 7.16344 32 16 32H628C636.837 32 644 24.8366 644 16C644 7.16344 636.837 0 628 0Z" fill="#D9D9D9" fill-opacity="0.35"/>
					<path class='whell-gear' opacity="0.08" d="M1161 0C1163.94 9.2688e-05 1166.81 0.933706 1169.18 2.66639C1171.56 4.39907 1173.32 6.8414 1174.22 9.64164L1189.5 57.1274C1195.92 60.2672 1202.06 63.796 1207.92 67.7694L1256.7 57.2664C1259.57 56.6521 1262.57 56.9669 1265.26 58.1653C1267.94 59.3637 1270.18 61.3839 1271.64 63.9349L1310.14 130.593C1311.61 133.142 1312.23 136.093 1311.92 139.019C1311.61 141.946 1310.37 144.697 1308.39 146.875L1274.92 183.83C1275.41 190.917 1275.41 198.028 1274.92 205.114L1308.39 242.125C1310.37 244.303 1311.61 247.054 1311.92 249.981C1312.23 252.907 1311.61 255.858 1310.14 258.407L1271.64 325.093C1270.17 327.639 1267.94 329.653 1265.25 330.846C1262.56 332.04 1259.57 332.35 1256.7 331.734L1207.92 321.231C1202.08 325.176 1195.92 328.733 1189.53 331.873L1174.22 379.358C1173.32 382.159 1171.56 384.601 1169.18 386.334C1166.81 388.066 1163.94 389 1161 389H1084C1081.06 389 1078.19 388.066 1075.82 386.334C1073.44 384.601 1071.68 382.159 1070.78 379.358L1055.53 331.9C1049.13 328.77 1042.95 325.196 1037.05 321.203L988.303 331.734C985.427 332.348 982.431 332.033 979.745 330.835C977.059 329.636 974.823 327.616 973.359 325.065L934.858 258.407C933.388 255.858 932.765 252.907 933.08 249.981C933.394 247.054 934.63 244.303 936.608 242.125L970.081 205.114C969.596 198.046 969.596 190.954 970.081 183.886L936.608 146.875C934.63 144.697 933.394 141.946 933.08 139.019C932.765 136.093 933.388 133.142 934.858 130.593L973.359 63.9071C974.827 61.3612 977.065 59.3468 979.75 58.1535C982.436 56.9602 985.43 56.6496 988.303 57.2664L1037.05 67.7971C1042.94 63.8238 1049.11 60.2394 1055.53 57.0996L1070.8 9.64164C1071.7 6.85042 1073.46 4.41455 1075.82 2.68271C1078.19 0.950866 1081.04 0.0118275 1083.97 0H1160.97H1161ZM1150.83 27.7857H1094.17L1078.39 76.8831L1067.75 82.079C1062.52 84.6391 1057.47 87.5541 1052.64 90.8037L1042.8 97.4723L992.359 86.5803L964.025 135.705L998.609 173.994L997.776 185.775C997.377 191.585 997.377 197.415 997.776 203.225L998.609 215.006L963.97 253.295L992.331 302.42L1042.78 291.556L1052.61 298.196C1057.44 301.446 1062.49 304.361 1067.72 306.921L1078.36 312.117L1094.17 361.214H1150.89L1166.72 312.089L1177.33 306.921C1182.56 304.367 1187.6 301.452 1192.42 298.196L1202.22 291.556L1252.7 302.42L1281.03 253.295L1246.42 215.006L1247.25 203.225C1247.65 197.406 1247.65 191.566 1247.25 185.747L1246.42 173.966L1281.06 135.705L1252.7 86.5803L1202.22 97.4167L1192.42 90.8037C1187.6 87.5476 1182.56 84.6323 1177.33 82.079L1166.72 76.9108L1150.86 27.7857H1150.83ZM1122.5 111.143C1144.6 111.143 1165.8 119.925 1181.43 135.558C1197.05 151.19 1205.83 172.392 1205.83 194.5C1205.83 216.608 1197.05 237.81 1181.43 253.442C1165.8 269.075 1144.6 277.857 1122.5 277.857C1100.4 277.857 1079.2 269.075 1063.57 253.442C1047.94 237.81 1039.16 216.608 1039.16 194.5C1039.16 172.392 1047.94 151.19 1063.57 135.558C1079.2 119.925 1100.4 111.143 1122.5 111.143ZM1122.5 138.929C1107.76 138.929 1093.63 144.783 1083.22 155.205C1072.8 165.627 1066.94 179.762 1066.94 194.5C1066.94 209.238 1072.8 223.373 1083.22 233.795C1093.63 244.217 1107.76 250.071 1122.5 250.071C1137.23 250.071 1151.36 244.217 1161.78 233.795C1172.2 223.373 1178.06 209.238 1178.06 194.5C1178.06 179.762 1172.2 165.627 1161.78 155.205C1151.36 144.783 1137.23 138.929 1122.5 138.929Z" fill="#294FE9"/>
					<path d="M1106 224H181C172.716 224 166 230.716 166 239V740C166 748.284 172.716 755 181 755H1106C1114.28 755 1121 748.284 1121 740V239C1121 230.716 1114.28 224 1106 224Z" fill="url(#paint0_linear_0_1)"/>
					<path d="M656 628C732.768 628 795 565.768 795 489C795 412.232 732.768 350 656 350C579.232 350 517 412.232 517 489C517 565.768 579.232 628 656 628Z" fill="#0E1A3F"/>
					<path d="M563.112 398.816L620.213 526.161L652.843 445.041" stroke="#04D1B6" stroke-width="15" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M743.933 574.198L686.831 446.854L654.202 527.974" stroke="#3498DB" stroke-width="15" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M559.034 406.067C569.546 406.067 578.068 397.546 578.068 387.034C578.068 376.522 569.546 368 559.034 368C548.522 368 540 376.522 540 387.034C540 397.546 548.522 406.067 559.034 406.067Z" fill="#04D1B6"/>
					<path d="M752.997 610C763.509 610 772.03 601.478 772.03 590.966C772.03 580.454 763.509 571.932 752.997 571.932C742.485 571.932 733.963 580.454 733.963 590.966C733.963 601.478 742.485 610 752.997 610Z" fill="#3498DB"/>
					<g class='scroll-content' clip-path="url(#clip0_0_1)">
						<path class='rects' d="M1054 290H234V321.752H1054V290Z" fill="#F6F6F6"/>
						<path class='rects' d="M905 411.6H383V442.176H905V411.6Z" fill="#F6F6F6"/>
						<path class='rects' d="M905 632.22H383V663.973H905V632.22Z" fill="#F6F6F6"/>
						<path class='rects' d="M1033 795.685H692V1053.23H1033V795.685Z" fill="#F6F6F6"/>
						<path class='rects' d="M573 795.685H255V818.029H573V795.685Z" fill="#F6F6F6"/>
						<path class='rects' d="M573 890.942H255V912.11H573V890.942Z" fill="#F6F6F6"/>
						<path class='rects' d="M573 919.166H255V940.334H573V919.166Z" fill="#F6F6F6"/>
						<path class='rects' d="M573 947.391H255V968.559H573V947.391Z" fill="#F6F6F6"/>
						<path class='rects' d="M573 975.615H255V996.783H573V975.615Z" fill="#F6F6F6"/>
						<path class='rects' d="M905 454.643H383V485.219H905V454.643Z" fill="#F6F6F6"/>
						<path class='rects' d="M803 496.979H486V528.731H803V496.979Z" fill="#F6F6F6"/>
						<path class='rects' d="M823 1089H466V1121H823V1089Z" fill="#F6F6F6"/>
						<path class='rects' d="M884 1210.13H362V1240.71H884V1210.13Z" fill="#F6F6F6"/>
						<path class='rects' d="M884 1431.22H362V1462.97H884V1431.22Z" fill="#F6F6F6"/>
						<path class='rects' d="M1033 1595H692V1852H1033V1595Z" fill="#F6F6F6"/>
						<path class='rects' d="M552 1689.94H234V1711.11H552V1689.94Z" fill="#F6F6F6"/>
						<path class='rects' d="M552 1718.17H234V1739.33H552V1718.17Z" fill="#F6F6F6"/>
						<path class='rects' d="M552 1746.39H234V1767.56H552V1746.39Z" fill="#F6F6F6"/>
						<path class='rects' d="M552 1774.62H234V1795.78H552V1774.62Z" fill="#F6F6F6"/>
						<path class='rects' d="M324 1829.89H234V1852.23H324V1829.89Z" fill="#F6F6F6"/>
						<path class='rects' d="M884 1253.64H362V1284.22H884V1253.64Z" fill="#F6F6F6"/>
						<path class='rects' d="M782 1295.98H465V1327.73H782V1295.98Z" fill="#F6F6F6"/>
					</g>
					<path class='scroll-container' d="M1106 229H181C175.477 229 171 233.477 171 239V740C171 745.523 175.477 750 181 750H1106C1111.52 750 1116 745.523 1116 740V239C1116 233.477 1111.52 229 1106 229Z" stroke="#00005B" stroke-width="10"/>
					<defs>
						<linearGradient id="paint0_linear_0_1" x1="1.09364e+06" y1="137222" x2="496302" y2="729166" gradientunits="userSpaceOnUse">
							<stop offset="0" stop-color="#294FE9"/>
							<stop offset="1" stop-color="#04103F"/>
						</linearGradient>
						<clipPath id="clip0_0_1">
							<rect width="955" height="531" fill="white" transform="translate(166 224)"/>
						</clipPath>
					</defs>
				</svg>
			</div>
				<!-- Animation scroll -->
	<div class="scroll mt10p">
		<svg width="161" height="41" viewbox="0 0 161 41" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M0 0L79 9L161 0V5L80 23.5L0 5V0Z" fill="#0E1A3F"/>
			<path d="M0 17L79 26L161 17V22L80 40.5L0 22V17Z" fill="#0E1A3F"/>
		</svg>
	</div>

		</div>

		<!-- Pourquoi choisir un site vitrine -->
		<div class='mt5p large-12'>
			<div class='flex justify-center mb5p'>
				<h2>Pourquoi un site vitrine ?</h2>
			</div>
			<div
				class='flex flex-wrap gap5p'>
				<!-- Carte 1 -->
				<div class='site-vitrine-card flex flex-wrap large-12 gap-20 justify-center anime'>
					<div class="card-image large-5 medium-10 small-12">
						<img loading="lazy" src="/images/presentation-service-min.webp" alt="Illustration d'une femme qui presente un projet sur un ecran avec une tablette dans la main.">
					</div>
					<div class="card-content large-6 medium-10 small-12 flex direction-column space-evenly justify-center gap-20">
						<h3>Présentez votre activité et vos services</h3>
						<p>Un site vitrine est la solution idéale pour faire connaître votre activité sur internet. Il permet de présenter clairement votre entreprise, vos services et votre expertise à vos futurs clients. Grâce à un design professionnel et une navigation fluide, vous offrez une expérience utilisateur optimale, renforçant ainsi votre crédibilité et votre image de marque.</p>
					</div>
				</div>
				<!-- carte 2 -->
				<div class='site-vitrine-card site-vitrine-card-mobile flex flex-wrap large-12 gap-20 anime'>
					<div class="card-content large-6 medium-10 small-12 flex direction-column space-evenly justify-center gap-20">
						<h3>Gagnez en visibilité sur Google</h3>
						<p>Un site bien conçu ne sert à rien s’il n’est pas visible. C’est pourquoi nous optimisons chaque site vitrine pour le référencement naturel (SEO). Nous mettons en place les bonnes pratiques : structure optimisée, mots-clés pertinents, temps de chargement rapide et compatibilité mobile. Résultat ? Votre site apparaît en bonne position sur Google et attire plus de visiteurs qualifiés.</p>
					</div>
					<div class="card-image large-5 medium-10 small-12">
						<img loading="lazy" src="/images/seo-google-min.webp" alt="Representation d'un pc avec a l'ecran une barre de recherche pour faire reference au referencement">
					</div>
				</div>
				<!-- carte 3 -->
				<div class='site-vitrine-card flex flex-wrap large-12 gap-20 justify-center anime'>
					<div class="card-image large-5 medium-10 small-12">
						<img loading="lazy" src="/images/call-to-action-min.webp" alt="Representation d'une personne au telephone devant un pc avec un document a la main">
					</div>
					<div class="card-content large-6 medium-10 small-12 flex direction-column space-evenly justify-center gap-20">
						<h3>Facilitez la prise de contact grâce à des formulaires et des appels à l’action</h3>
						<p>Votre site doit inciter vos visiteurs à passer à l’action. Nous intégrons des boutons d’appel à l’action clairs (prise de rendez-vous, demande de devis, contact direct) ainsi que des formulaires simplifiés pour rendre la communication fluide et rapide. Ainsi, vous transformez vos visiteurs en clients potentiels en quelques clics.</p>
					</div>
				</div>
			</div>
			<!-- Section nos engagements -->
			<div class="why-choose-us mt5p large-12 mb10p">
				<h2 class=' center-text margin-bottom20px'>Nos engagements</h2>
				<div class="features">
					<div class="feature">
						<i class="fa-solid fa-pen-nib"></i>
						<h3 class='center-text'>Design Personnalisé
						</h3>
						<p>Un site qui vous ressemble.</p>
					</div>
					<div class="feature">
						<i class="fa-solid fa-mobile-screen"></i>
						<h3 class='center-text'>Responsive & Mobile-Friendly
						</h3>
						<p>Adapté à tous les écrans (ordinateur, tablette, mobile).</p>
					</div>
					<div class="feature">
						<i class="fa-solid fa-bolt"></i>
						<h3 class='center-text'>Rapidité et performances
						</h3>
						<p>Un temps de chargement optimisé pour une meilleure expérience utilisateur.</p>
					</div>
					<div class="feature">
						<i class="fa-solid fa-magnifying-glass"></i>
						<h3 class='center-text'>SEO Optimisé</h3>
						<p>Un site conçu pour être bien positionné sur Google.</p>
					</div>
					<div class="feature">
						<i class="fa-solid fa-hand-holding-hand"></i>
						<h3 class='center-text'>
							Évolutif et Administrable</h3>
						<p>Possibilité d’ajouter du contenu facilement.</p>
					</div>
					<div class="feature">
						<i class="fa-solid fa-shield-halved"></i>
						<h3 class='center-text'>Sécurité et Fiabilité</h3>
						<p>Nous utilisons les dernières technologies pour les meilleurs performances.</p>
					</div>
				</div>
				<a href="/contact" class="button mt20px">Demander un devis</a>
			</div>
		</div>
	</section>
{% endblock %}
