{% extends "base.html.twig" %}

{% block title %}
	devasyst | Mentions légales.
{% endblock %}

{% block body %}
	<section class='mentions-legales container1440 about mt5p large-12 mb5p'>
		<h1 class='mb5p'>Mentions Légales</h1>
		<div class='mb5p'>
			<h5>ÉDITEUR</h5>
			<p>
				<b>devasyst</b>
			</p>
			<p>Siège social : 14 rue jean baptiste Lully 62880 Vendin-le-Vieil - France</p>
			<p>Adresse de courrier électronique :
				<a href="mailto:contact@devasyst.fr">
					contact@devasyst.fr</a>
			</p>
			<p>Numéro de téléphone : 07-82-54-55-21</p>
			<p>Forme juridique : Micro-entreprise</p>
			<p>Numéro SIREN : En attente</p>
			<p>Numéro RCS : Dispensé d’immatriculation au RCS et au RM conformément à l’article L123-1-1 du Code de commerce.</p>
			<p>Code APE : 6201Z</p>
		</div>
		<div class='mb5p'>
			<h5>CONCEPTION ET RÉALISATION</h5>
			<p>Le site
				<b>
					<i>devasyst.fr</i>
				</b>
				a été conçu et réalisé par
				<b>devasyst</b>.</p>
		</div>
		<div class='mb5p'>
			<h5>DIRECTEUR DE LA PUBLICATION</h5>
			<p>Mathieu Daszczynski.</p>
		</div>
		<div class='mb5p'>
			<h5>HÉBERGEMENT</h5>
			<p>Le site
				<b>
					<i>devasyst.fr</i>
				</b>
				est hébergé par :</p>
			<p>OVH SAS</p>
			<p>Siège social : 2 rue Kellermann, 59100 Roubaix, France</p>
			<p>Numéro de téléphone :
				<a href="tel:1007">1007</a>
			</p>
			<p>Site web :
				<a href="https://www.ovh.com">www.ovh.com</a>
			</p>
		</div>
		<div class='mb5p'>
			<h5>ILLUSTRATIONS ET CRÉDITS PHOTOGRAPHIQUES</h5>
			<p>Conception et réalisation du site :
				<b>Devasyst</b>
			</p>
			<p>Crédits photos :</p>
			<p>Illustrations par
				<b>devasyst</b>
			</p>
			<p>Le site utilise des images de :</p>
			<ul>
				<li>
					<p>Image de prostooleh sur Freepik</p>
				</li>
				<li>
					<p>Image de
						<a href="https://www.rawpixel.com">rawpixel.com</a>
						sur Freepik</p>
				</li>
				<li>
					<p>Image de Freepik</p>
				</li>
			</ul>
		</div>
		<div class='mb5p'>
			<h5>PROPRIÉTÉ INTELLECTUELLE</h5>
			<p>L'ensemble des éléments figurant sur notre site sont protégés par les dispositions du Code de la Propriété Intellectuelle. En conséquence, toute reproduction de ceux-ci, totale ou
												            partielle, ou imitation, sans notre accord exprès, préalable et écrit, est interdite.</p>
		</div>
		<div class="mb5p">
			<h5>DONNÉES PERSONNELLES ET COOKIES</h5>
			<p>Les données collectées via le site
				<b>
					<i>devasyst.fr</i>
				</b>
				sont destinées à la gestion des demandes de contact.</p>
			<p>Conformément au
				<b>RGPD</b>, vous disposez d’un droit d’accès, de rectification et de suppression de vos données.</p>
			<p>Pour exercer ce droit contacter :
				<a href="mailto:contact@devasyst.fr">contact@devasyst.fr</a>.</p>
			<p>Cookies : Le site ne dépose aucun cookie sur votre navigateur.</p>
		</div>
		<div class="mb5p">
			<h5>RESPONSABILITÉ</h5>
			<p>
				<b>Devasyst</b>
				s’efforce de fournir des informations aussi précises que possible sur le site. Toutefois, il ne pourra être tenu responsable des omissions, inexactitudes et carences dans la mise à jour des informations.L’utilisateur est responsable de l’utilisation qu’il fait des informations fournies sur le site.
				<b>Devasyst</b>
				ne pourra être tenu responsable des dommages directs ou indirects résultant de l’accès ou de l’utilisation du site.</p>
		</div>
		<div class='mb5p'>
			<h5>ACCÈS ET OPPOSABILITÉ</h5>
			<p>Le site est accessible aux utilisateurs via Internet sur un terminal fixe ou mobile sans inscription préalable. Toute utilisation du site implique l’acceptation des présentes mentions légales.</p>
		</div>
		<div class='mb5p'>
			<h5>SÉCURITÉ</h5>
			<p>Le site est accessible
				<b>24h/24, 7j/7</b>, sous réserve des contraintes techniques.
				<b>Devasyst</b>
				ne garantit pas une disponibilité continue et ne peut être tenu responsable d’éventuelles interruptions.</p>
		</div>
		<div class='mb5p'>
			<h5>VERSIONS ET MISES À JOUR</h5>
			<p>Les présentes mentions légales sont susceptibles d’être modifiées à tout moment.</p>
			<p>La version actuelle est la version v2.0.</p>
			<p>Dernière modification : 19/02/2025.</p>
		</div>
	</section>
{% endblock %}
