{% extends "base.html.twig" %}

{% block title %}
	devasyst | Politique de confidentialité.
{% endblock %}


{% block body %}
	<section class='mentions-legales container1440 about mt5p large-12 mb5p'>
		<h1 class='mb5p'>Politique de Confidentialité</h1>
		<div class='mb5p'>
			<h5>INTRODUCTION</h5>
			<p>La présente Politique de Confidentialité a pour objectif d’informer les utilisateurs du site devasyst.fr sur la collecte, l’utilisation et la protection de leurs données personnelles.</p>
			<p>En utilisant ce site, vous acceptez les pratiques décrites ci-dessous.</p>
		</div>
		<div class='mb5p'>
			<h5>DONNÉES COLLECTÉES</h5>
			<p>Nous collectons les informations nécessaires à la gestion des demandes via notre formulaire de contact :</p>
			<ul>
				<li>
					<p>Nom et prénom</p>
				</li>
				<li>
					<p>Adresse email</p>
				</li>
				<li>
					<p>Message envoyé via le formulaire</p>
				</li>
			</ul>
			<p>Nous utilisons Google Analytics pour analyser l’utilisation de notre site web. Google Analytics est un service d’analyse web fourni par Google, Inc. qui nous aide à comprendre comment vous interagissez avec notre site. Pour en savoir plus sur la gestion des cookies de Google Analytics, consultez la <a href="https://policies.google.com/privacy?hl=fr">politique de confidentialité de Google.</a></p>
		</div>
		<div class='mb5p'>
			<h5>FINALITÉ DE LA COLLECTE</h5>
			<p>Les informations collectées nous permettent de :</p>
			<ul>
				<li>
					<p>Répondre à vos demandes envoyées via notre formulaire de contact.</p>
				</li>
				<li>
					<p>Échanger avec vous dans le cadre d’une relation professionnelle.</p>
				</li>
			</ul>
			<p>Nous ne revendons ni ne partageons vos données à des tiers.</p>
		</div>
		<div class='mb5p'>
			<h5>CONSERVATION DES DONNÉES</h5>
			<p>Les données sont conservées pendant une durée de 1 an après le dernier échange, sauf obligation légale nous imposant une durée plus longue.</p>
		</div>
		<div class='mb5p'>
			<h5>PARTAGE DES DONNÉES</h5>
			<p>Vos informations sont stockées de manière sécurisée et ne sont transmises à aucun tiers, sauf :</p>
			<ul>
				<li>
					<p>OVH (hébergement du site et stockage sécurisé des emails).</p>
				</li>
				<li>
					<p>Obligation légale si une autorité nous le demande.</p>
				</li>
			</ul>
		</div>
		<div class='mb5p'>
			<h5>DROITS DES UTILISATEURS</h5>
			<p>Conformément au RGPD, vous disposez des droits suivants :</p>
			<ul>
				<li>
					<p>Droit d’accès : connaître les données que nous possédons sur vous.</p>
				</li>
				<li>
					<p>Droit de rectification : demander la modification de vos données.</p>
				</li>
				<li>
					<p>Droit à l’effacement : demander la suppression de vos informations.</p>
				</li>
				<li>
					<p>Droit d’opposition : refuser l’utilisation de vos données.</p>
				</li>
			</ul>
		</div>
		<div class='mb5p'>
			<h5>MODIFICATION DE CETTE POLITIQUE</h5>
			<p>Nous nous réservons le droit de modifier cette Politique de Confidentialité à tout moment. La dernière mise à jour date du 19/02/2025.</p>
		</div>
		<div class='mb5p'>
			<h5>CONTACT</h5>
			<p>Si vous avez des questions concernant notre politique de confidentialité, vous pouvez nous contacter à :</p>
			<ul>
				<li><a href="mailto:contact@devasyst.fr">contact@devasyst.fr</a></li>
			</ul>
		</div>
	</section>
{% endblock %}
