.flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.space-between {
  justify-content: space-between;
}
.space-around {
  justify-content: space-around;
}
.space-evenly{
  justify-content: space-evenly;
}
.direction-column {
  flex-direction: column;
}
.margin-auto {
  margin-left: auto;
  margin-right: auto;
}
.item-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.center-text {
  text-align: center;
}
.margin-bottom20px {
  margin-bottom: 20px;
}
.margin-bottom
px {
  margin-bottom: 
  px;
}
.padding-bottom20px{
  padding: 20px;
}
.mt20px{
  margin-top: 20px;
}
.p20{
  padding: 20px;
}
.gap-20{
  gap: 20px;
}
.gap-5{
  gap: 5px;
}
.gap5p{
  gap: 50px;
}
.w100{
  width: 100%;
}
.phb10px{
  padding: 10px 0;
}
.line{
  border-bottom: 1px solid #292626;
}
.container1440{
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
.mt5p{
    margin-top: 5%;
    @media screen and (max-width:$tablet) {
        margin-top: 30%;
    }
}
.mt10p{
    margin-top: 10%;
}
.mb10p{
    margin-bottom: 10%;
}
.mt2p{
    margin-top: 2%;
}
.mb5p{
    margin-bottom: 5%;
}
.mb10px{
    margin-bottom: 10px;
}
.mt10px
{
    margin-top: 10px;
}

a{
  color: black;
  :visited{
    color: black;
  }
}
.color-dev{
  background-color: $green-dev;
  color: $text_color;
}
.color-desk{
  background-color: $blue-desk;
  color: $text_color;
}
.d-none{
  display: none;
}
.line-horizon{
  height: 1px;
  background-color: $white;
}
.container-assistance,
.container-dev-en-cours,
.container-connect {
  height: calc(100vh - 37vh - 20px);
}
.p-error{
  color: red;
}
