// Style global
body {
  background-color: $background_color;
  overflow-x: hidden;
  width: 100%;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0.1rem;
  color: $text_color;
  font-family: 'Poppins Round', sans-serif;
  line-height: $line-height;
}

h1 {
  font-size: calc($font-size-fluid * 3);
  text-align: center;
  font-weight: 700;

  @media screen and (max-width: $tablet) {
    font-size: calc($font-size-fluid * 1.3);
  }
}

h2 {
  font-size: calc($font-size-fluid * 2);
  text-align: left;
  font-weight: 700;

  @media screen and (max-width: $tablet) {
    font-size: calc($font-size-fluid * 1.2);
  }
}

h3 {
  font-size: calc($font-size-fluid * 1.5);
  text-align: left;
  font-weight: 700;

  @media screen and (max-width: $tablet) {
    font-size: calc($font-size-fluid * 1);
  }
}

h4 {
  font-size: calc($font-size-fluid * 1.3);
  text-align: left;
  font-weight: 400;
}

h5 {
  font-size: calc($font-size-fluid * 1.1);
  text-align: left;
  font-weight: 900;

  @media screen and (max-width: $tablet) {
    font-size: calc($font-size-fluid * 0.9);

  }
}

p {
  font-size: calc($font-size-fluid );

  @media screen and (max-width: 1400px) {
    font-size: calc($font-size-fluid * 0.8);
  }

}

/*Home page*/
.image-container {
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.3));
}

.hero {
  height: 100vh;

  .rect-hero {
    @include rect($blue-desk);
  }

  img {
    max-width: 250px;
    width: clamp(100px, 25vw, 250px);
    height: auto;
  }
.image-container{

  @include svgLogo();
}

  @media screen and (max-width: $laptop) {
    height: auto;
  }
}
.scroll {
  text-align: center;
  margin-top: 3%;

  @media screen and (max-width: $tablet) {
    margin-top: 15%;
    svg{
      width: 100px;
    }
  }

  svg {
    margin-left: auto;
    margin-right: auto;
  }
}


/*** Nous choisir ***/
.why-choose-us {
  text-align: center;
  padding: 60px 20px;
}

.features {
  display: grid !important;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)) !important;
  gap: 20px;
  max-width: 1100px;
  margin: auto;
}

.feature {
  background: $white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.feature i {
  font-size: 2rem;
  color: $blue-darken;
  margin-bottom: 10px;
}

.feature h3 {
  font-size: 1.4rem;
  color: #172b4d;
}

/*** WHO ARE WE ***/
.who-are-we {
  @media screen and (max-width: $desktop) {
    flex-wrap: wrap;
    gap: 5rem;

  }
}

/*** Qui sommes nous ***/
.picture-box {
  width: 15vw;
  height: 15vw;
  max-width: 250px;
  max-height: 250px;
  min-width: 120px;
  min-height: 120px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.picture-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box-dev {
  position: relative;
  min-height: 60vh;
  transform: rotate(12.39deg);
  background-color: $green-dev;
  position: relative;
  padding: 20px;
  padding-top: 10vh;

  @media screen and (max-width: $desktop) {
    width: 80vw;
  }

  .picture-box {
    position: absolute;
    top: -1rem;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .box-dev-content {
    gap: 40px;
    transform: rotate(-12.39deg);

    @media screen and (max-width: $mobile) {
      transform: rotate(-0);
    }
  }

  @media screen and (max-width: $mobile) {
    transform: rotate(-0);
    width: 100vw;
  }
}

.box-assist {
  min-height: 60vh;
  transform: rotate(-12.39deg);
  z-index: 1;
  background-color: $blue-desk;
  position: relative;
  padding: 20px;
  padding-top: 10vh;

  @media screen and (max-width: $desktop) {
    width: 80vw;
  }

  .picture-box {
    position: absolute;
    top: -1rem;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .box-assist-content {
    transform: rotate(12.39deg);
    gap: 40px;

    @media screen and (max-width: $mobile) {
      transform: rotate(-0);

    }
  }

  @media screen and (max-width: $mobile) {
    transform: rotate(-0);
    width: 100vw;
    margin: 0;
  }
}

/*** CATEGORIE PRESTATION ***/
.rect-dev {
  @include rect($green-dev);
}

.rect-assist {
  @include rect($blue-desk);
}

.container-dev,
.container-assist {

  .techno-logo {
    i {
      width: 80px;
    }

    @media screen and (max-width: $tablet) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 5px 5px;
      grid-auto-flow: row;
      grid-template-areas:
        ". . . . ."
        ". . . . .";

      i {
        width: 30px;
      }

    }
  }

  @media screen and (max-width: $tablet) {
    gap: 0;

  }

  .card-content {
    padding: 20px;
    gap: 10%;

    @media screen and (max-width: $laptop) {}
  }

  .banner {
    background-color: $green-dev;
    padding: 20px;
    max-width: none;
  }

  @media screen and (max-width: $tablet) {
    flex-wrap: wrap;

    .site-vitrine-card-mobile {
      flex-direction: column-reverse;
      align-items: center;
    }
  }
}

.card-image {
  padding: 10px;

  img {
    border-radius: 50px 0 15px 0;
  }
}

.comments {
  font-size: 12px;
  color: #3d3d3d;
}

/*Description de l'entreprise*/
.about {
  .article1 {
    background-color: $green-dev;
    border-radius: 20px;
    margin-top: 20px;
    padding: 20px;
  }

  .article2 {
    background-color: $blue-desk;
    border-radius: 20px;
    margin-top: 20px;
    padding: 20px;
  }
}

.conseil-recuperation {
  background-color: #fffbcc;
  color: #8a6d3b;
  padding: 15px;
  border-left: 5px solid #ffae42;
  font-size: 16px;
  margin: 20px 0;
  border-radius: 5px;
}

/*Page de contact*/
.container-connect {
  form {
    width: 100%;
  }
}

.contact .group-form,
.group-form {

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    background-color: $input-color;
    border-radius: 20px;
    padding: 15px;
  }

  .input-error {
    border: 2px solid red;
  }


  textarea {
    background-color: $input-color;
    border: 1px solid $text_color;
    border-radius: 20px;
    padding: 15px;
  }

  input::placeholder,
  textarea::placeholder {
    color: $text_color;
    font-weight: bold;
  }
}

/*** DASHBORD ***/
.btn-deco {
  margin-top: 5vh;
}

.container-dash {
  background-color: $blue-desk;
  padding: 20px;
  border-radius: 20px;
  color: $text_color;
  height: 40vh;
  overflow-x: scroll;

  table {
    border-collapse: collapse;
    border-spacing: 0;

    thead {
      background-color: #cacaca;
      color: $text_color;

      th {
        padding: 10px;
        text-align: left;
      }
    }

    tbody {
      tr {
        background-color: $white;

        td {
          padding: 10px;
          text-align: left;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          max-width: 150px;

          @media screen and (max-width: $desktop) {
            max-width: 90px;
          }

          @media screen and (max-width: $tablet) {
            max-width: 70px;
          }

          @media screen and (max-width: $mobile) {
            max-width: 50px;
          }

        }
      }

      .action {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        width: 60px;
      }

      .fa-trash {
        color: red;
      }
    }
  }
}
#cookie-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  text-align: center;
  padding: 10px;
  p{
    color: white;
  }
  a{
    color: white;
    text-decoration: underline;
  }
}

#cookie-banner button {
  margin: 5px;
  padding: 5px 10px;
}
.mentions-legales {
  padding: 0 5px;

  a {
    text-decoration: underline;
    color: $button_color;
  }

  ul {
    list-style-type: circle;
    padding-left: 50px;

    li {
      font-size: 16px;
    }
  }
}