// Style global
body {
  background-color: $background_color;
  overflow-x: hidden;
  width: 100%;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0.1rem;
  color: $text_color;
  font-family: 'Poppins Round', sans-serif;
  line-height: $line-height;
}

h1 {
  font-size: calc($font-size-fluid * 3);
  text-align: center;
  font-weight: 700;
  @media screen and (max-width: $tablet) {
    font-size: calc($font-size-fluid * 1.3);
  }
}

h2 {
  font-size: calc($font-size-fluid * 2);
  text-align: left;
  font-weight: 600;
  @media screen and (max-width: $tablet) {
    font-size: calc($font-size-fluid * 1.2);
  }
}

h3 {
  font-size: calc($font-size-fluid * 1.5);
  text-align: left;
  font-weight: 500;
  @media screen and (max-width: $tablet) {
    font-size: calc($font-size-fluid * 1);
  }
}

h4 {
  font-size: calc($font-size-fluid * 1.3);
  text-align: left;
  font-weight: 400;
}

p {
  font-size: calc($font-size-fluid );

  @media screen and (max-width: 1400px) {
    font-size: calc($font-size-fluid * 0.8);
  }

}

/*Home page*/
.hero {
  
  .image-container {
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.3));
  }

  .rect-hero {
    position: absolute;
    z-index: -10;
    width: 80vw;
    height: 700px;
    top: -50%;
    left: 50%;
    transform: translateX(-50%) rotate(-12.39deg);
    background: $blue-desk;
    @media screen and (max-width: $desktop) {
      width: 60vw;
      height: 500px;
      transform: translateX(-50%) rotate(-12.39deg);
    }
    @media screen and (max-width: $mobile) {
      width: 0;
      height: 50vh;
      transform: translateX(-50%) rotate(0);
      
    }
  }
  img {
    max-width: 250px;
    width: clamp(100px, 25vw, 250px);
    height: auto;
  }

  svg {
    width: fit-content;
    height: auto;
    max-width: 1000px;
    display: block;

    @media screen and (max-width: $tablet) {
      min-width: 300px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10%;
    }
  }
  @media screen and (max-width: $tablet) {
    flex-wrap: wrap;
    margin-top: 25%;

  }

}

.scroll {
  text-align: center;
  margin-top: 5%;
  @media screen and (max-width: $tablet) {
    margin-top: 15%;
  }


  svg {
    margin-left: auto;
    margin-right: auto;
  }
}

/*** Nous choisir ***/
.why-choose-us {
  text-align: center;
  padding: 60px 20px;
}

.features {
  display: grid !important;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)) !important;
  gap: 20px;
  max-width: 1100px;
  margin: auto;
}

.feature {
  background: $white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.feature i {
  font-size: 2rem;
  color: $blue-darken;
  margin-bottom: 10px;
}

.feature h3 {
  font-size: 1.4rem;
  color: #172b4d;
}

/*** WHO ARE WE ***/ 
.who-are-we {
  @media screen and (max-width: $desktop) {
    flex-wrap: wrap;
    gap: 5rem;
    
  }
}
/*** Qui sommes nous ***/
.picture-box {
  width: 15vw; 
  height: 15vw; 
  max-width: 250px;
  max-height: 250px;
  min-width: 120px;
  min-height: 120px;
  border-radius: 50%;
  overflow: hidden; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red; 
}

.picture-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.box-dev{
  position: relative;
  min-height: 60vh;
  transform: rotate(12.39deg);
  background-color: $green-dev;
  position: relative;
  padding: 20px;
  padding-top: 10vh;
  @media screen and (max-width: $desktop) {
    width: 80vw;
  }
  .picture-box{
    position: absolute;
    top: -1rem;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .box-dev-content{
    gap: 40px;
    transform: rotate(-12.39deg);
    @media screen and (max-width: $mobile) {
      transform: rotate(-0);
    }
  }
  @media screen and (max-width: $mobile) {
    transform: rotate(-0);
    width: 100vw;
  }
}
.box-assist{
  min-height: 60vh;
  transform: rotate(-12.39deg);
  z-index: 1;
  background-color: $blue-desk;
  position: relative;
  padding: 20px;
  padding-top: 10vh;
  @media screen and (max-width: $desktop) {
    width: 80vw;
  }
  .picture-box{
    position: absolute;
    top: -1rem;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .box-assist-content{
    transform: rotate(12.39deg);
    gap: 40px;
      @media screen and (max-width: $mobile) {
        transform: rotate(-0);
        
      }
  }
  @media screen and (max-width: $mobile) {
    transform: rotate(-0);
    width: 100vw;
    margin: 0;
  }
}
/*** PAGE DEVELOPPEMENT ***/
.container-dev {
  background-color: $green-dev;
  padding: 20px;
  border-radius: 20px;

  svg {
    width: fit-content;
    height: auto;
    max-width: 1000px;
    display: block;

    .techno-logo {
      i {
        width: 80px;
      }
    }

    @media screen and (max-width: $tablet) {
      min-width: 350px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  @media screen and (max-width: $tablet) {
    flex-wrap: wrap;

    h1 {
      font-size: calc($font-size-fluid * 1.5);
    }

    p {
      font-size: calc($font-size-fluid * 0.8);
    }
  }
}

/*Description de l'entreprise*/
.about {
  background-color: $white;
  border-radius: 20px;
  padding: 20px;
  @include titleH1();

  @media screen and (max-width: $tablet) {
    margin-top: 2%;

  }

  .article1 {
    background-color: $green-dev;
    border-radius: 20px;
    margin-top: 20px;
    padding: 20px;
  }

  .article2 {
    background-color: $blue-desk;
    border-radius: 20px;
    margin-top: 20px;
    padding: 20px;
  }
}

/*** ASSISTANCE ***/
.container-recup {
  background-color: $blue-desk;
  padding: 20px;
  border-radius: 20px;

  svg {
    width: fit-content;
    height: auto;
    max-width: 1000px;
    display: block;

    @media screen and (max-width: $tablet) {
      min-width: 350px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  @media screen and (max-width: $tablet) {
    flex-wrap: wrap;

    h1 {
      font-size: calc($font-size-fluid * 1.5);
    }

    p {
      font-size: calc($font-size-fluid * 0.8);
    }
  }
}

.conseil-recuperation {
  background-color: #fffbcc;
  color: #8a6d3b;
  padding: 15px;
  border-left: 5px solid #ffae42;
  font-size: 16px;
  margin: 20px 0;
  border-radius: 5px;
}

/*Page de contact*/
.contact .form-group,
.container-connect .form-group {
  margin: 10px auto 10px auto;

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    background-color: $input-color;
    border: 1px solid $text_color;
    border-radius: 20px;
    padding: 15px;
  }

  textarea {
    background-color: $input-color;
    border: 1px solid $text_color;
    border-radius: 20px;
    padding: 15px;
  }

  input::placeholder,
  textarea::placeholder {
    color: $text_color;
    font-weight: bold;
  }
}