@keyframes scrollUp {
    from {
        transform: translateY(200%);
    }
    to {
        transform: translateY(-200%);
    }
}
/*** ANIMATION LOGO ***/
@keyframes rotateGear {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes changeColor {
  0% { fill: #294FE9; } /* Bleu */
  50% { fill: #E92929; } /* Rouge */
  100% { fill: #294FE9; } /* Retour au bleu */
}
@keyframes slideright {
  0% {
    opacity: 0;
    transform:rotate(0) translateX(-100px);
  }
  100% {
    opacity: 1;
    transform:rotate(-12.39) translateX(0);
  }
}
@keyframes slideleft {
  0% {
    opacity: 0;
    transform:rotate(0) translateX(100px);
  }
  100% {
    opacity: 1;
    transform:rotate(12.39) translateX(0);
  }
}
@keyframes scrollDown {
    from {
        transform: translateY(-20px);
    }
    to {
        transform: translateY(0);
    }
    
}
// mation Interesction obsever
.scroll{
    animation: scrollDown .8s ease-in-out forwards infinite;
}
  .anime{
    opacity: 0;
    transform: translateY(-50px);
    @media screen and (max-width: $laptop) {
      transform:rotranslateX(0);
    }

  }
  .anime-reveal{
    opacity: 1;
    transform:rotate(0) translateY(0);
    transition: all .3s ease;
  }
  
  .anime-left {
    opacity: 1;
    animation: slideleft .3s ease-in-out;
    @media screen and (max-width: $laptop) {
      transform:rotate(0) translateX(0);
        
    }
  }
  .anime-right {
    animation: slideright .3s ease-in-out;
    @media screen and (max-width: $laptop) {
      transform:rotate(-0) translateX(0);
        
    }
  }
  .whell-gear {
    transform-origin: 1122.5px 195.5px;
    animation: rotateGear 5s linear infinite;
    fill: #e92929; /* Couleur initiale */
}
.whell-gear path {
  animation: changeColor 5s ease-in-out infinite;
}

  /***** NEW ANIMATION ****/
  .class-container {
    overflow: hidden;
    height: 200px; /* Ajuste la hauteur */
    position: relative;
}

.rects {
    animation: scrollUp 8s linear infinite;
}
/*** NOUS CHOISIR ***/ 
.feature:hover {
  transform: translateY(-5px);
}

.feature {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.feature:nth-child(1) {
  transition-delay: 0.1s;
}

.feature:nth-child(2) {
  transition-delay: 0.2s;
}

.feature:nth-child(3) {
  transition-delay: 0.3s;
}

.feature:nth-child(4) {
  transition-delay: 0.4s;
}

.feature:nth-child(5) {
  transition-delay: 0.5s;
}

.feature:nth-child(6) {
  transition-delay: 0.6s;
}

.why-choose-us.visible .feature {
  opacity: 1;
  transform: translateY(0);
}

