@keyframes scrollUp {
    from {
        transform: translateY(200%);
    }
    to {
        transform: translateY(-200%);
    }
}
/*** ANIMATION LOGO ***/
@keyframes rotateGear {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes changeColor {
  0% { fill: #294FE9; } /* Bleu */
  50% { fill: #E92929; } /* Rouge */
  100% { fill: #294FE9; } /* Retour au bleu */
}
// mation Interesction obsever
.anime {
    opacity: 0;
  }
  .anime-left {
    opacity: 0;
    transform: translateX(-50vw);
    @media screen and (max-width: $laptop) {
      transform: translateX(0);
        
    }
  }
  .anime-right {
    opacity: 0;
    transform: translateX(50vw);
    @media screen and (max-width: $laptop) {
      transform: translateX(0);
        
    }
  }
  .anime-left-visible,
  .anime-right-visible {
    opacity: 1;
    transform: translateX(0);
    transition: all .7s ease;
  }
  .whell-gear {
    transform-origin: 1122.5px 195.5px;
    animation: rotateGear 5s linear infinite;
    fill: #e92929; /* Couleur initiale */
}
.whell-gear path {
  animation: changeColor 5s ease-in-out infinite;
}

  /***** NEW ANIMATION ****/
  .class-container {
    overflow: hidden;
    height: 200px; /* Ajuste la hauteur */
    position: relative;
}

.rects {
    animation: scrollUp 8s linear infinite;
}
/*** NOUS CHOISIR ***/ 
.feature:hover {
  transform: translateY(-5px);
}

.feature {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.feature:nth-child(1) {
  transition-delay: 0.1s;
}

.feature:nth-child(2) {
  transition-delay: 0.2s;
}

.feature:nth-child(3) {
  transition-delay: 0.3s;
}

.feature:nth-child(4) {
  transition-delay: 0.4s;
}

.feature:nth-child(5) {
  transition-delay: 0.5s;
}

.feature:nth-child(6) {
  transition-delay: 0.6s;
}

.why-choose-us.visible .feature {
  opacity: 1;
  transform: translateY(0);
}

