header {
    position: sticky;
    top: 1rem;
    z-index: 1000;
    width: 70vw;
    margin: 0 auto;
    padding: 8px 30px;
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    border-radius: 24px;
    @media screen and (max-width: 1300px) {
        width: 90vw;
        
    }

    .header {
        nav{
            width: 30%;
            min-width: 420px;
        }
        a, p{
            font-size: 16px;
        }
        nav ul {
            li {
                position: relative;
                display: inline-block;
                margin: 0 15px;
                transition: all 0.5s ease;
    
                a {
                    color: $text_color;
                }
    
                &::after {
                    content: "";
                    position: absolute;
                    bottom: -5px;
                    left: 0;
                    width: 0%;
                    height: 3px;
                    background-color: $text_color;
                    border-radius: 5px;
                    transition: width 0.3s ease;
                }
    
                &:hover::after {
                    width: 100%;
    
                }

            svg {
                width: 70%;
            }
        }
    }
}

    .logo {
        svg {
            max-width: 200px;
            width: clamp(130px, 25vw, 200px);
            height: auto;
        }
    }

    .hidden{
        visibility: hidden;
    }

    .menu-slide {
        position: fixed; 
        top: 10vh;
        left: 50%;
        width: 70%;
        transform: translateX(-50%);
        background: rgba(255, 255, 255, 1);
        border-radius: 24px;
        z-index: 100; // Augmente la priorité d'affichage
        padding: 20px;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
        transition: all 0.5s ease;
        visibility: hidden;

        &.visible {
            opacity: 1;
            visibility: visible;
        }
    }

    @media screen and (max-width: $laptop) {

        .nav-desktop,
        .btn-desktop {
            display: none;
        }
        .menu-burger{
            padding: 20px 0;
            ul{
                padding: 20px 0;
            }
            a {
                font-size: 1rem;
            }
            svg{
                width: 60%;
            }
        }
        .menu-slide-mobile{
            &.visible{
                display: block;
            }
        }
    }

    /*** MENU BURGER ***/
    @media screen and (max-width: $laptop) {
        #open-burger {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 55px; // Ajuste selon tes besoins
            height: 50px; // Assure un bon espace cliquable
            position: relative; // Permet un bon alignement
        }

        .burger {
            position: absolute; // Permet de centrer précisément
            width: 30px;
            height: 3px;
            background-color: rgb(4, 209, 182);
            border-radius: 5px;
            transition: all 0.5s ease;
        }

        /* Ajustement des barres supérieure et inférieure */
        .burger::after,
        .burger::before {
            content: "";
            position: absolute;
            width: 30px;
            height: 3px;
            background-color: $text_color;
            border-radius: 5px;
            transition: all 0.5s ease;
            left: 0; // Assure l’alignement parfait avec la barre principale
        }

        .burger::after {
            top: 7px;
        }

        .burger::before {
            top: -7px;
        }

        .burger.open {
            width: 0;
            transform: translateX(0);
            transition: all 0.5s ease;
        }

        .burger.open::after {
            top: 0;
            z-index: 1000;
            transform: rotate(45deg);
            background-color: red;
        }

        .burger.open::before {
            top: 0;
            z-index: 1000;
            transform: rotate(-45deg);
            background-color: red;
        }
    }
}