header {
    height: 7vh;
    overflow-x: hidden;
    position: sticky;
    top: 0;
    background-color:$background_color;
    z-index: 5;
    padding: 0 90px;
    .logo {
        margin-top: 10px;
        img{
            max-width: 250px; 
            width: clamp(100px, 25vw, 250px); 
            height: auto;
       }
    }
    p, a{
        font-size: 16px;
    }
    @media screen and (max-width:$tablet) {
        padding: 0 30px;
    }

    @media screen and (max-width:$mobile) {
        padding: 0 10px;
    }

    .header-nav {
        background-color: $white;
        border-radius: 15px;
        padding: 10px 20px;
        width: 40%;
        min-width: 500px;
        @include shadow(rgba(0, 0, 0, 0.1)) ;
        .btn-head-mobile {
            display: none;
        }

        @media screen and (max-width: $laptop) {
            display: none;
            position: fixed;
            z-index: 50;
            width: 100% !important;
            top: 7vh;
            left: 0;
            border-radius: 0;
            padding: 30px 0;
            transition: all 0.4s ease;
            min-width: 0;

            &.active {
                display: block;
                transition: all 0.4s ease;
            }

            .btn-head-mobile {
                display: block;
                width: fit-content;
                margin-top: 5%;
                margin-left: auto;
                margin-right: auto;

            }
        }
    }

    @media screen and (max-width: $laptop) {
        .btn-head {
            display: none;
        }
    }

    nav ul {
        li {
            position: relative;
            display: inline-block;
            margin: 0 15px;
            transition: all 0.5s ease;

            a {
                color: $text_color;
            }

            &::after {
                content: "";
                position: absolute;
                bottom: -5px;
                left: 0;
                width: 0%;
                height: 3px;
                background-color: $text_color;
                border-radius: 5px;
                transition: width 0.3s ease;
            }

            &:hover::after {
                width: 100%;
        
            }
        }
        @media screen and (max-width:$laptop) {
            flex-direction: column;
        }

    }

    svg {
        width: 10px;
        margin: 0 5px;
        @media screen and (max-width: $laptop) {
            width: 40%;
            
        }
    }

    .menu-slide {
        position: fixed; // Fixé pour un vrai centrage dans la page
        top: 7vh;
        left: 50%;
        width: 50%;
        transform: translateX(-50%);
        background-color: $white;
        z-index: 100; // Augmente la priorité d'affichage
        padding: 20px;
        border-radius: 15px;
        box-shadow: 10px 5px 20px rgba(14, 14, 14, 0.475);
        transition: all 0.5s ease;
        border: 1px solid $text_color;
        opacity: 0; // Caché par défaut
        visibility: hidden;

        &.visible {
            opacity: 1;
            visibility: visible;
        }

        @media screen and (max-width: $laptop) {
            text-align: center;
            top: auto;
            width: 100%;
            left: 0;
            transform: none;
            bottom: auto; // Aligné en bas en mobile pour effet menu burger
            box-shadow: none;
            border-radius: 0;
            z-index: 51;

            &.visible {
                display: block;
            }

            div {
                margin: 20px 0;
            }
        }
    }

    .box {
        width: fit-content;
        gap: 10px;
        padding: 5px 20px;
        border-radius: $border-radius15;
    }

    a {
        line-height: 2rem;
    }

    #prestation {
        cursor: pointer;
    }

    #open-burger {
        display: none;
    }

    /*** MENU BURGER ***/
    @media screen and (max-width: $laptop) {
        #open-burger {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 55px; // Ajuste selon tes besoins
            height: 50px; // Assure un bon espace cliquable
            position: relative; // Permet un bon alignement
        }

        .burger {
            position: absolute; // Permet de centrer précisément
            width: 30px;
            height: 5px;
            background-color: $text_color;
            border-radius: 5px;
            transition: all 0.5s ease;
        }

        /* Ajustement des barres supérieure et inférieure */
        .burger::after,
        .burger::before {
            content: "";
            position: absolute;
            width: 30px;
            height: 5px;
            background-color: $text_color;
            border-radius: 5px;
            transition: all 0.5s ease;
            left: 0; // Assure l’alignement parfait avec la barre principale
        }

        .burger::after {
            top: 10px;
        }

        .burger::before {
            top: -10px;
        }

        .burger.open {
            width: 0;
            transform: translateX(0);
            transition: all 0.5s ease;
        }

        .burger.open::after {
            top: 0;
            transform: rotate(45deg);
            background-color: red;
        }

        .burger.open::before {
            top: 0;
            transform: rotate(-45deg);
            background-color: red;
        }
    }
}